description = "image list of herbs"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Vines</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All vines</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".perennial">Perennials</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".annual">Annuals</a></li>
                 <li><a class="btn btn-default" href="#" data-filter=".biennial">Biennials</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

                    <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/annual-vines/"><img class="img-responsive" src="{{ 'assets/images/vines/annual-vines.jpg'|theme }}" alt="Annual Vines"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/annual-vines/"><h4>Annual Vines</h4>
                            <p>Annual Vines</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                    <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/akebia/"><img class="img-responsive" src="{{ 'assets/images/vines/akebia.jpg'|theme }}" alt="Akebia"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/akebia/"><h4>Akebia</h4>
                            <p>Chocolate Vine</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item annual col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/clematis/"><img class="img-responsive" src="{{ 'assets/images/vines/clematis.jpg'|theme }}" alt="Clematis"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/clematis/"><h4>Clematis</h4>
                            <p>Clematis</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/jasmine/"><img class="img-responsive" src="{{ 'assets/images/vines/jasmine.jpg'|theme }}" alt="Jasmine"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/jasmine/"><h4>Jasmine</h4>
                            <p>Jasmine</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/lonicera-vine/"><img class="img-responsive" src="{{ 'assets/images/vines/lonicera-vine.jpg'|theme }}" alt="Honeysuckle"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/lonicera-vine/"><h4>Lonicera Vine</h4>
                            <p>Honeysuckle Vine</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                 <div class="portfolio-item perennial col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/vines/wisteria/"><img class="img-responsive" src="{{ 'assets/images/vines/wisteria.jpg'|theme }}" alt="Wisteria"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/vines/wisteria/"><h4>Wisteria</h4>
                            <p>Wisteria</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>