        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Great Projects for your Garden</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

<!--
  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Herbs</a></li>
                <li><a href="#" data-filter=".perennial">Perennials</a></li>
                <li><a href="#" data-filter=".annuals">Annuals</a></li>
                <li><a href="#" data-filter=".biannual">Bi-annual</a></li>
            </ul>
  </div>
-->

            <div class="portfolio-items">

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/bee-friendly/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/beefriendly.jpg'|theme }}" alt="Bee Friendly Gardens"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/bee-friendly/" ><h3>Bee Friendly Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/attracting-beneficials/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/beneficials.jpg'|theme }}" alt="Attracting Beneficials"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/attracting-beneficials/" ><h3>Attracting Beneficials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/bird-haven/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/birdhaven.jpg'|theme }}" alt="Create a Bird Haven"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/bird-haven/" ><h3>Create a Bird Haven</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/forcing-bulbs/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/forcingbulbs.jpg'|theme }}" alt="Fall Foliage"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/forcing-bulbs/" ><h3>Forcing Bulbs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/butterflies/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/butterflies.jpg'|theme }}" alt="Attracting Butterflies"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/butterflies/" ><h3>Attracting Butterflies</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/hummingbirds/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/hummingbirds.jpg'|theme }}" alt="Attracting Hummingbirds"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/hummingbirds/" ><h3>Attracting Hummingbirds</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/kid-friendly-gardening/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/gardeningwithkids.jpg'|theme }}" alt="Gardening with Kids"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/kid-friendly-gardening/" ><h3>Gardening with Kids</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/lawn/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/grass.jpg'|theme }}" alt="Installing a Seed Lawn"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/lawn/" ><h3>Installing a Seed Lawn</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/masonbees/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/masonbees.jpg'|theme }}" alt="Mason Bees"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/masonbees/" ><h3>Mason Bees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/mulching/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/mulching.jpg'|theme }}" alt="Mulching"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/mulching/" ><h3>Mulching</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/raingardens-bioswales/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/raingarden.jpg'|theme }}" alt="Rain Gardens & Bioswales"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/raingardens-bioswales/" ><h3>Rain Gardens & Bioswales</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/rock-garden/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/rockgarden.jpg'|theme }}" alt="Rock Gardens"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/rock-garden/" ><h3>Rock Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special winter">
                    <div class="portfolio-item-inner">
                         <a href="/garden-projects/winter-cheer/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/winter-cheer.jpg'|theme }}" alt="Winter Cheer Basket" /></a>
							<div class="portfolio-info">
                            <a href="/garden-projects/winter-cheer/" ><h3>Winter Cheer Basket</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/xeriscaping/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/xeriscaping.jpg'|theme }}" alt="Xeriscaping"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/xeriscaping/" ><h3>Xeriscaping</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item--

             </div>
        </div><!--/.container-->