       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Ferns for year-round interest.</h2>
               <p class="text-center wow fadeInDown">Ferns add a delicate backdrop for any woodland or perennial garden.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All vines</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items">

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/annual-vines/" ><img class="img-responsive" src="{{ 'assets/images/vines/annual-vines.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Annual Vines</h3>

                           <a class="preview" href="/vines/annual-vines/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/vines/akebia/" ><img class="img-responsive" src="{{ 'assets/images/vines/akebia.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Akebia: Chocolate Vine</h3>

                           <a class="preview" href="/vines/akebia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/vines/clematis/" ><img class="img-responsive" src="{{ 'assets/images/vines/clematis.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Clematis</h3>

                           <a class="preview" href="/vines/clematis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/vines/jasmine/" ><img class="img-responsive" src="{{ 'assets/images/vines/jasmine.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Jasmine</h3>

                           <a class="preview" href="/vines/jasmine/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/lonicera-vine/" ><img class="img-responsive" src="{{ 'assets/images/vines/lonicera-vine.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Lonicera Vine</h3>
							Honeysuckle Vine
                           <a class="preview" href="/vines/lonicera-vine/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/wisteria/" ><img class="img-responsive" src="{{ 'assets/images/vines/wisteria.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <h3>Wisteria</h3>

                           <a class="preview" href="/vines/wisteria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>