description = "image list of groundcovers"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Best groundcovers for your Garden</h2>
               <p class="text-center wow fadeInDown">We have a selection of groundcovers year round. </p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Groundcovers</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/bellium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/bellium.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Bellium: Miniature Daisy</h3>
                           <a class="preview" href="/groundcovers/bellium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/delosperma/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/delosperma.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <h3>Delosperma: Ice Plant</h3>

                           <a class="preview" href="/groundcovers/delosperma/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/erodium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/erodium.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Erodium: Alpine Geranium</h3>
                           <a class="preview" href="/groundcovers/erodium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/leptinella/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/leptinella.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Leptinella</h3>
                           <a class="preview" href="/groundcovers/leptinella/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/moss/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/moss.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Moss</h3>
                           <a class="preview" href="/groundcovers/moss/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/muehlenbeckia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/muehlenbeckia.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Muehlenbeckia</h3>
                           <a class="preview" href="/groundcovers/muehlenbeckia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/pratia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/pratia.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Pratia</h3>
                           <a class="preview" href="/groundcovers/pratia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/vinca/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/vinca.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">
                            <h3>Vinca: Periwinkle</h3>
                           <a class="preview" href="/groundcovers/vinca/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->