        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Classes &amp; Events!</h2>
               <p class="text-center wow fadeInDown">Classes are arranged by month and are usually published one to two months ahead of time.<br />A yearly event list can be found <a href="/events/yearly-events/">here.</a></p>
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All classes</a></li>
                    <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                    <li><a href="#" data-filter=".seasonal">Seasonal (not evergreen)</a></li>
                </ul>
            </div>
-->

            <div class="portfolio-items">


                   <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <a href="/events/current-classes/" ><img class="img-responsive" src="{{ 'assets/images/events/classes.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/current-classes/" ><h3>Current Classes</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                         <a href="/events/yearly-events/" ><img class="img-responsive" src="{{ 'assets/images/events/events.jpg'|theme }}" alt="classes" /></a>
							<div class="portfolio-info">


                            <a href="/events/yearly-events/"><h3>Yearly Events &amp; Sales</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <a href="/events/bonsaishow/" ><img class="img-responsive" src="{{ 'assets/images/events/bonsai.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/bonsaishow/" ><h3>Bonsai Event</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>

<!--
                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/yearly-events#houseplantsaugust/" ><img class="img-responsive" src="{{ 'assets/images/events/houseplants.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/yearly-events#houseplantsaugust/" ><h3>Houseplant Sales</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/seniorgardeningday/" ><img class="img-responsive" src="{{ 'assets/images/events/senior.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/seniorgardeningday/" > <h3>Senior Gardening Day</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/appletasting" ><img class="img-responsive" src="{{ 'assets/images/events/appletasting.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/appletasting/" ><h3>Apple Tasting Event</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/recipes" ><img class="img-responsive" src="{{ 'assets/images/events/recipes.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">


                             <a href="/events/recipes/" ><h3>Recipes & Food Preservation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

          </div>
        </div><!--/.container-->
