        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Grasses for your Garden</h2>
               <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Grasses</a></li>
                <li><a href="#" data-filter=".perennial">Perennial</a></li>
                <li><a href="#" data-filter=".annual">Annual</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item  perennial shade">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/acorus/" ><img class="img-responsive" src="{{ 'assets/images/grasses/acorus.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Acorus: Sweet Flag</h3>

                           <a class="preview" href="/grasses/acorus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/carex/" ><img class="img-responsive" src="{{ 'assets/images/grasses/carex.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Carex: Sedge</h3>

                           <a class="preview" href="/grasses/carex/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial sun">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/juncus/" ><img class="img-responsive" src="{{ 'assets/images/grasses/juncus.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Juncus: Rush</h3>

                           <a class="preview" href="/grasses/juncus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/ophiopogon/" ><img class="img-responsive" src="{{ 'assets/images/grasses/ophiopogon.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Ophiopogon: Mondo Grass</h3>

                           <a class="preview" href="/grasses/ophiopogon/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial annual">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/pennisetum/" ><img class="img-responsive" src="{{ 'assets/images/grasses/pennisetum.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Pennisetum: Fountain Grass</h3>

                           <a class="preview" href="/grasses/pennisetum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/phormium/" ><img class="img-responsive" src="{{ 'assets/images/grasses/phormium.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">
                            <h3>Phormium: Flax</h3>

                           <a class="preview" href="/grasses/phormium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->