        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Grasses for your Garden</h2>
               <p class="text-center wow fadeInDown">Grasses are a great choice to add structure, color and movement to the garden.</p>
	               <p>Work them into any garden style as focal points or accents and you'll be delighted with their
graceful ease.</p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Grasses</a></li>
                <li><a href="#" data-filter=".perennial">Perennial</a></li>
                <li><a href="#" data-filter=".annual">Annual</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item  perennial shade">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/acorus/" ><img class="img-responsive" src="{{ 'assets/images/grasses/acorus.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/acorus/" > <h3>Acorus: Sweet Flag</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/carex/" ><img class="img-responsive" src="{{ 'assets/images/grasses/carex.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/carex/" ><h3>Carex: Sedge</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade perennial sun">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/lawn/" ><img class="img-responsive" src="{{ 'assets/images/grasses/grass.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/lawn/" ><h3>Grass Lawn</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial sun">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/juncus/" ><img class="img-responsive" src="{{ 'assets/images/grasses/juncus.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/juncus/" ><h3>Juncus: Rush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/ophiopogon/" ><img class="img-responsive" src="{{ 'assets/images/grasses/ophiopogon.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/ophiopogon/" ><h3>Ophiopogon: Mondo Grass</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial annual">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/pennisetum/" ><img class="img-responsive" src="{{ 'assets/images/grasses/pennisetum.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/pennisetum/" ><h3>Pennisetum: Fountain Grass</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade perennial">
                    <div class="portfolio-item-inner">
                         <a href="/grasses/phormium/" ><img class="img-responsive" src="{{ 'assets/images/grasses/phormium.jpg'|theme }}" alt="Grasses" /></a>
							<div class="portfolio-info">


                            <a href="/grasses/phormium/" ><h3>Phormium: Flax</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->