        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Add Spring color to your garden with Annuals</h2>
               <p class="text-center wow fadeInDown">Annuals are planted every year and provide color summer till frost. Many annuals can be wintered over indoors or reseed outdoors providing extra value to their flower power.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Annuals</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".bedding">Bedding Plants</a></li>
                     <li><a href="#" data-filter=".favorite">Favorite Annuals</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/annuals/abutilon/"><img class="img-responsive" src="{{ 'assets/images/annuals/abutilon.jpg'|theme }}" alt="Annuals"/></a>
							<div class="portfolio-info">
                            <h3>Abutilon: Flowering Maple</h3>
                           <a class="preview" href="/annuals/abutilon/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade bedding">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/bedding-shade/"><img class="img-responsive" src="{{ 'assets/images/annuals/shadebedding.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info shade bedding">
                            <h3>Bedding Plants: Shade</h3>
                            <a class="preview" href="/annuals/bedding-shade/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun bedding">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/bedding-sun/"><img class="img-responsive" src="{{ 'assets/images/annuals/sunbedding.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Bedding Plants: Sun</h3>
                            <a class="preview" href="/annuals/bedding-sun/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/begonia/"><img class="img-responsive" src="{{ 'assets/images/annuals/begonia.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Begonia</h3>
                            <a class="preview" href="/annuals/begonia/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/brugmansia/"><img class="img-responsive" src="{{ 'assets/images/annuals/brugmansia.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Brugmansia</h3>
                            <a class="preview" href="/annuals/brugmansia/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/calibrachoa/"><img class="img-responsive" src="{{ 'assets/images/annuals/calibrachoa.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Calibrachoa: Million Bells</h3>
                            <a class="preview" href="/annuals/calibrachoa/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                    <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/coleus/"><img class="img-responsive" src="{{ 'assets/images/annuals/coleus.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Coleus</h3>
                            <a class="preview" href="/annuals/coleus/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/tender-fuchsia/"><img class="img-responsive" src="{{ 'assets/images/annuals/fuchsia.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Tender Fuchsia</h3>
                            <a class="preview" href="/annuals/tender-fuchsia/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/gazania/"><img class="img-responsive" src="{{ 'assets/images/annuals/gazania.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Gazania: Treasure Flower</h3>
                            <a class="preview" href="/annuals/gazania/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/geranium/"><img class="img-responsive" src="{{ 'assets/images/annuals/geranium.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Geranium</h3>
                            <a class="preview" href="/annuals/geranium/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/impatiens/"><img class="img-responsive" src="{{ 'assets/images/annuals/impatiens.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Impatiens</h3>
                            <a class="preview" href="/annuals/impatiens/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/nasturtium/"><img class="img-responsive" src="{{ 'assets/images/annuals/nasturtium.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Nasturtium</h3>
                            <a class="preview" href="/annuals/nasturtium/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/nicotiana/"><img class="img-responsive" src="{{ 'assets/images/annuals/nicotiana.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Nicotiana: Flowering Tobacco</h3>
                            <a class="preview" href="/annuals/nicotiana/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/ornamental/"><img class="img-responsive" src="{{ 'assets/images/annuals/ornamental.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Ornamentals</h3>
                            <a class="preview" href="/annuals/ornamental/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun favorites">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/top-shade-annuals/"><img class="img-responsive" src="{{ 'assets/images/annuals/shade-annuals.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Top Shade Annuals</h3>
                            <a class="preview" href="/annuals/top-shade-annuals/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun favorites">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/top-shade-annuals/"><img class="img-responsive" src="{{ 'assets/images/annuals/sun-annuals.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Top Sun Annuals</h3>
                            <a class="preview" href="/annuals/top-sun-annuals/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/tender-succulent/"><img class="img-responsive" src="{{ 'assets/images/annuals/succulent.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Tender Succulents</h3>
                            <a class="preview" href="/annuals/tender-succulent/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/sunflower/"><img class="img-responsive" src="{{ 'assets/images/annuals/sunflower.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Sunflower</h3>
                            <a class="preview" href="/annuals/sunflower/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

  				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/tagetes/"><img class="img-responsive" src="{{ 'assets/images/annuals/tagetes.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Tagetes: Marigold</h3>
                            <a class="preview" href="/annuals/tagetes/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/annual-vines/"><img class="img-responsive" src="{{ 'assets/images/annuals/vine.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Annual Vines</h3>
                            <a class="preview" href="/annuals/annual-vines/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/zantedeschia/"><img class="img-responsive" src="{{ 'assets/images/annuals/zantedeschia.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Zantedeschia: Calla Lily</h3>
                            <a class="preview" href="/annuals/zantedeschia/"><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->