description = "image list of perennials"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Best Perennials for your Garden</h2>
               <p class="text-center wow fadeInDown">We have a wonderful selection of perennials year round, but if you are looking for a specific perennial we will have the best selection when it is in bloom around town. Note: Native plant pages will take you into the Native Plant section. </p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Perennials</a></li>
                    <li><a href="#" data-filter=".bulb">Bulb</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".groundcover">Groundcover</a></li>
                     <li><a href="#" data-filter=".native">Natives</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/perennials/actaea/" ><img class="img-responsive" src="{{ 'assets/images/perennials/actaea.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/actaea/" ><h3>Actaea: Bugbane</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                           <a href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/actaea/" ><h3>Native Actaea: Bugbane</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/agastache/" ><img class="img-responsive" src="{{ 'assets/images/perennials/agastache.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/agastache/" ><h3>Agastache: Hyssop</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/anemone/" ><img class="img-responsive" src="{{ 'assets/images/perennials/anemone.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/anemone/" ><h3>Anemone: Windflower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/aquilegia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/aquilegia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/aquilegia/" ><h3>Aquilegia: Columbine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/aquilegia/" > <h3>Aquilegia: Columbine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/artemisia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/artemisia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/artemisia/" ><h3>Artemisia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/asarum/" ><h3>Asarum: Wild Ginger</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/asclepias/" ><h3>Asclepias: Milkweed</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/aster/" ><img class="img-responsive" src="{{ 'assets/images/perennials/aster.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/aster/" ><h3>Aster</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/astilbe/" ><img class="img-responsive" src="{{ 'assets/images/perennials/astilbe.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/astilbe/" ><h3>Astilbe: False Spirea</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/bellium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/bellium.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/bellium/" ><h3>Bellium: Miniature Daisy</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/bergenia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/bergenia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/bergenia/" ><h3>Bergenia: Pigsqueak</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/brunnera/" ><img class="img-responsive" src="{{ 'assets/images/perennials/brunnera.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/brunnera/" ><h3>Brunnera: Bugloss</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/canna/" ><img class="img-responsive" src="{{ 'assets/images/perennials/canna.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/canna/" ><h3>Canna Lily</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/camassia/"><img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/camassia/" ><h3>Camassia: Camas</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/chrysanthemum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/chrysanthemum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/chrysanthemum/" ><h3>Chrysanthemum</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/coreopsis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/coreopsis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/coreopsis/" ><h3>Coreopsis: Tickweed</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/corydalis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/corydalis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/corydalis/" ><h3>Corydalis</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/cyclamen/" ><img class="img-responsive" src="{{ 'assets/images/perennials/cyclamen.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/cyclamen/" ><h3>Cyclamen</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dahlia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dahlia.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">


                            <a href="/perennials/dahlia/" ><h3>Dahlia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/delosperma/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/delosperma.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">


                            <a href="/groundcovers/delosperma/" ><h3>Delosperma: Ice Plant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/delphinium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/delphinium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/delphinium/" > <h3>Delphinium: Larkspur</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dianthus/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dianthus.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/dianthus/" ><h3>Dianthus: Carnation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dicentra/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dicentra.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/dicentra/" ><h3>Dicentra: Bleeding Heart</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/dodecatheon/"><img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/dodecatheon/" ><h3>Dodecatheon: Shooting Star</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/echinacea/" ><img class="img-responsive" src="{{ 'assets/images/perennials/echinacea.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/echinacea/" ><h3>Echinacea: Coneflower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/epimedium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/epimedium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/epimedium/" ><h3>Epimedium</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/erigeron/"><img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/erigeron/" > <h3>Erigeron: Fleabane</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/eriophyllum/"><img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/eriophyllum/" ><h3>Eriophyllum: Oregon Sunshine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/erodium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/erodium.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/erodium/" ><h3>Erodium: Alpine Geranium</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/eupatorium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/eupatorium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/eupatorium/" ><h3>Eupatorium: Joe-Pye Weed</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/euphorbia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/euphorbia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/euphorbia/" ><h3>Euphorbia: Spurge</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade fragaria">
                    <div class="portfolio-item-inner">
                          <a href="/natives/fragaria/"><img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/fragaria/" ><h3>Fragaria: Wild Strawberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/fritillaria/" ><img class="img-responsive" src="{{ 'assets/images/perennials/fritillaria.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">


                             <a href="/perennials/fritillaria/" ><h3>Fritillaria</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/fuchsia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/fuchsia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/fuchsia/" ><h3>Hardy Fuchsia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/geranium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/geranium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/geranium/" > <h3>Hardy Geranium</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/geum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/geum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/geum/" ><h3>Geum: Avens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/helenium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/helenium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/helenium/" ><h3>Helenium: Sneezeweed</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/hellebore/" ><h3>Hellebore</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore-gold-collection/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore-gold-collection.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/hellebore-gold-collection/" ><h3>Hellebore: Gold Collection</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore-winter-jewels/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore-winter-jewel.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/hellebore-winter-jewels/" ><h3>Hellebore: Winter Jewel</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/heuchera/" ><img class="img-responsive" src="{{ 'assets/images/perennials/heuchera.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/heuchera/" ><h3>Heuchera: Coral Bells</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hosta/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hosta.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/hosta/" ><h3>Hosta: Plantain Lily</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/iberis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/iberis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/iberis/" ><h3>Iberis: Candytuft</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                   <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/iris/" ><img class="img-responsive" src="{{ 'assets/images/perennials/iris.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">


                             <a href="/perennials/iris/" ><h3>Iris</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/iris/"><img class="img-responsive" src="{{ 'assets/images/natives/iris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/iris/" ><h3>Native Iris</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/kniphofia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/kniphofia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/kniphofia/" ><h3>Kniphofia: Red Hot Poker</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                           <a href="/herbs/lavandula/" ><img class="img-responsive" src="{{ 'assets/images/herbs/lavender.jpg'|theme }}" alt="Herbs: Lavender"></a>
							<div class="portfolio-info">


                             <a href="/herbs/lavandula/" ><h3>Lavender</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/leptinella/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/leptinella.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/leptinella/" ><h3>Leptinella</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/leucanthemum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/leucanthemum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/leucanthemum/" ><h3>Leucanthemum: Shasta Daisy</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/lewisia/"><img class="img-responsive" src="{{ 'assets/images/natives/lewisia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Lewisia: Bitterroot</h3>
                            <a href="/natives/lewisia/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/ligularia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/ligularia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/ligularia/" ><h3>Ligularia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/monarda/" ><img class="img-responsive" src="{{ 'assets/images/perennials/monarda.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/monarda/" ><h3>Monarda: Bee Balm</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/moss/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/moss.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/moss/" ><h3>Moss</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                                  <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/muehlenbeckia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/muehlenbeckia.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/muehlenbeckia/" ><h3>Muehlenbeckia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/narcissus" ><img class="img-responsive" src="{{ 'assets/images/perennials/narcissus.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">


                             <a href="/perennials/narcissus/" ><h3>Narcissus: Daffodil</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/paeonia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/paeonia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/paeonia/" ><h3>Paeonia: Peony</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/papaver/" ><img class="img-responsive" src="{{ 'assets/images/perennials/papaver.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/papaver/" ><h3>Papaver: Poppy</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/parahebe/" ><img class="img-responsive" src="{{ 'assets/images/perennials/parahebe.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/parahebe/" ><h3>Parahebe</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/penstemon/"><img class="img-responsive" src="{{ 'assets/images/natives/penstemon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/penstemon/" ><h3>Penstemon: Beard Tongue</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perovskia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/perovskia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/perovskia/" ><h3>Perovskia: Russian Sage</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/pratia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/pratia.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/pratia/" > <h3>Pratia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/primula/" ><img class="img-responsive" src="{{ 'assets/images/perennials/primula.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/primula/" ><h3>Primula: Primrose</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/rudbeckia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/rudbeckia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/rudbeckia/" ><h3>Rudbeckia: Black-eyed Susan</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/salvia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/salvia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/salvia/" ><h3>Salvia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/santolina/" ><img class="img-responsive" src="{{ 'assets/images/perennials/santolina.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/santolina/" ><h3>Santolina: Lavender Cotton</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/sedum-evergreen/" ><img class="img-responsive" src="{{ 'assets/images/perennials/sedum-evergreen.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/sedum-evergreen/" > <h3>Evergreen Sedum</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sedum/"><img class="img-responsive" src="{{ 'assets/images/natives/sedum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sedum/" ><h3>Native Sedum: Stonecrop</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/sempervivum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/sempervivum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/sempervivum/" ><h3>Sempervivum: Hen &amp; Chicks</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sidalcea/"><img class="img-responsive" src="{{ 'assets/images/natives/sidalcea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">


                            <a href="/natives/sidalcea/" ><h3>Sidalcea: Checker Mallow</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sisyrinchium/"><img class="img-responsive" src="{{ 'assets/images/natives/sisyrinchium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sisyrinchium/" ><h3>Sisyrinchium: Blue-eyed Grass</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/solidago/"><img class="img-responsive" src="{{ 'assets/images/natives/solidago.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                             <a href="/natives/solidago/" ><h3>Solidago: Goldenrod</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/synthyris/"><img class="img-responsive" src="{{ 'assets/images/natives/synthyris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Synthyris: Native Figwort</h3>
                            <a href="/natives/synthyris/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perennials-top10-shade/" ><img class="img-responsive" src="{{ 'assets/images/perennials/topshadepage.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/perennials-top10-shade/" ><h3>Top Shade Perennials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perennials-top10-sun/" ><img class="img-responsive" src="{{ 'assets/images/perennials/topsunpage.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/perennials-top10-sun/" ><h3>Top Sun Perennials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/tricyrtis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/tricyrtis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/tricyrtis/" ><h3>Tricyrtis: Toad Lily</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/trillium/"><img class="img-responsive" src="{{ 'assets/images/natives/trillium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/trillium/" ><h3>Trillium: Wake Robin</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/tulip" ><img class="img-responsive" src="{{ 'assets/images/perennials/tulip.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">


                             <a href="/perennials/tulip/" ><h3>Tulip</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/vancouveria/"><img class="img-responsive" src="{{ 'assets/images/natives/vancouveria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">


                            <a href="/natives/vancouveria/" > <h3>Vancouveria: Inside-out Flower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/vinca/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/vinca.jpg'|theme }}" alt="groundcovers" /></a>
							<div class="portfolio-info">

                            <a href="/groundcovers/vinca/" ><h3>Vinca: Periwinkle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/viola/" ><img class="img-responsive" src="{{ 'assets/images/perennials/viola.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/viola/" ><h3>Viola: Violet</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives//"><img class="img-responsive" src="{{ 'assets/images/natives/viola.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/viola/" ><h3>Native Viola: Violet</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/zantedeschia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/zantedeschia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/perennials/zantedeschia/" ><h3>Zantedeschia: Calla Lily</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->