       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Click in and explore the site!</h2>
               <p class="text-center wow fadeInDown">Hover over the image for a description, then click to get into more information.</p>
            </div>

	            <div class="portfolio-items">

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/plantspage/" ><img class="img-responsive" src="{{ 'assets/images/homepage/wantedpoinsettia.jpg'|theme }}" alt="Container Garden" /></a>
							<div class="portfolio-info">
                            <h3>Poinsettia Reward</h3>

                           <a class="preview" href="/plantspage/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/" ><img class="img-responsive" src="{{ 'assets/images/homepage/houseplants.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">
                            <h3>Houseplants</h3>

                           <a class="preview" href="/houseplants/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/events/current-classes/" ><img class="img-responsive" src="{{ 'assets/images/homepage/classes.jpg'|theme }}" alt="Classes" /></a>
							<div class="portfolio-info">
                            <h3>January Classes</h3>

                           <a class="preview" href="/events/current-classes/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/resources/custom-planting-plans/" ><img class="img-responsive" src="{{ 'assets/images/homepage/plantingplans.jpg'|theme }}" alt="Planting Plans" /></a>
							<div class="portfolio-info">
                            <h3>Planting Plans</h3>

                           <a class="preview" href="/resources/custom-planting-plans/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/resources/brochures/" ><img class="img-responsive" src="{{ 'assets/images/homepage/brochures.jpg'|theme }}" alt="Brochures" /></a>
							<div class="portfolio-info">
                            <h3>Handy Brochures</h3>
                           <a class="preview" href="/resources/brochures/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/resources/winter-prep/" ><img class="img-responsive" src="{{ 'assets/images/homepage/winter.jpg'|theme }}" alt="Winter" /></a>
							<div class="portfolio-info">
                            <h3>Winter Tips</h3>

                           <a class="preview" href="/resources/winter-prep/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/resources/gift-cards/" ><img class="img-responsive" src="{{ 'assets/images/homepage/giftcard.jpg'|theme }}" alt="Winter" /></a>
							<div class="portfolio-info">
                            <h3>Buy a Gift Card</h3>

                           <a class="preview" href="/resources/gift-cards/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/" ><img class="img-responsive" src="{{ 'assets/images/homepage/january2018.jpg'|theme }}" alt="Container Garden" /></a>
							<div class="portfolio-info">
                            <h3>January Container</h3>

                           <a class="preview" href="/container-gardens/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->