description = "image list of perennials"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Best Perennials for your Garden</h2>
               <p class="text-center wow fadeInDown">We have a wonderful selection of perennials year round, but if you are looking for a specific perennial we will have the best selection when it is in bloom around town.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Perennials</a></li>
                    <li><a href="#" data-filter=".bulb">Bulb</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".groundcover">Groundcover</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/perennials/actaea/" ><img class="img-responsive" src="{{ 'assets/images/perennials/actaea.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Actaea: Bugbane</h3>
                           <a class="preview" href="/perennials/actaea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/agastache/" ><img class="img-responsive" src="{{ 'assets/images/perennials/agastache.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Agastache: Hyssop</h3>
                           <a class="preview" href="/perennials/agastache/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/anemone/" ><img class="img-responsive" src="{{ 'assets/images/perennials/anemone.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Anemone: Windflower</h3>
                           <a class="preview" href="/perennials/anemone/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/aquilegia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/aquilegia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Aquilegia: Columbine</h3>
                           <a class="preview" href="/perennials/aquilegia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/artemisia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/artemisia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Artemisia</h3>
                           <a class="preview" href="/perennials/artemisia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/aster/" ><img class="img-responsive" src="{{ 'assets/images/perennials/aster.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Aster</h3>
                           <a class="preview" href="/perennials/aster/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/astilbe/" ><img class="img-responsive" src="{{ 'assets/images/perennials/astilbe.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Astilbe: False Spirea</h3>
                           <a class="preview" href="/perennials/astilbe/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/bellium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/bellium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Bellium: Miniature Daisy</h3>
                           <a class="preview" href="/perennials/bellium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/bergenia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/bergenia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Bergenia: Pigsqueak</h3>
                           <a class="preview" href="/perennials/bergenia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/brunnera/" ><img class="img-responsive" src="{{ 'assets/images/perennials/brunnera.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Brunnera: Bugloss</h3>
                           <a class="preview" href="/perennials/brunnera/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/canna/" ><img class="img-responsive" src="{{ 'assets/images/perennials/canna.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Canna Lily</h3>
                           <a class="preview" href="/perennials/canna/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/chrysanthemum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/chrysanthemum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Chrysanthemum</h3>
                           <a class="preview" href="/perennials/chrysanthemum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/coreopsis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/coreopsis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Coreopsis: Tickweed</h3>
                           <a class="preview" href="/perennials/coreopsis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/corydalis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/corydalis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Corydalis</h3>
                           <a class="preview" href="/perennials/corydalis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/cyclamen/" ><img class="img-responsive" src="{{ 'assets/images/perennials/cyclamen.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Cyclamen</h3>
                           <a class="preview" href="/perennials/cyclamen/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dahlia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dahlia.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <h3>Dahlia</h3>

                           <a class="preview" href="/perennials/dahlia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/delosperma/" ><img class="img-responsive" src="{{ 'assets/images/perennials/delosperma.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <h3>Delosperma: Ice Plant</h3>

                           <a class="preview" href="/perennials/delosperma/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/delphinium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/delphinium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Delphinium: Larkspur</h3>
                           <a class="preview" href="/perennials/delphinium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dianthus/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dianthus.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Dianthus: Carnation</h3>
                           <a class="preview" href="/perennials/dianthus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/dicentra/" ><img class="img-responsive" src="{{ 'assets/images/perennials/dicentra.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Dicentra: Bleeding Heart</h3>
                           <a class="preview" href="/perennials/dicentra/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/echinacea/" ><img class="img-responsive" src="{{ 'assets/images/perennials/echinacea.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Echinacea: Coneflower</h3>
                           <a class="preview" href="/perennials/echinacea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/epimedium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/epimedium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Epimedium</h3>
                           <a class="preview" href="/perennials/epimedium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/erodium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/erodium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Erodium: Alpine Geranium</h3>
                           <a class="preview" href="/perennials/erodium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/eupatorium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/eupatorium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Eupatorium: Joe-Pye Weed</h3>
                           <a class="preview" href="/perennials/eupatorium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/euphorbia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/euphorbia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Euphorbia: Spurge</h3>
                           <a class="preview" href="/perennials/euphorbia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/fritillaria/" ><img class="img-responsive" src="{{ 'assets/images/perennials/fritillaria.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Fritillaria</h3>

                            <a class="preview" href="/perennials/fritillaria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/fuchsia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/fuchsia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hardy Fuchsia</h3>
                           <a class="preview" href="/perennials/fuchsia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/geranium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/geranium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hardy Geranium</h3>
                           <a class="preview" href="/perennials/geranium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/geum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/geum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Geum: Avens</h3>
                           <a class="preview" href="/perennials/geum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/helenium/" ><img class="img-responsive" src="{{ 'assets/images/perennials/helenium.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Helenium: Sneezeweed</h3>
                           <a class="preview" href="/perennials/helenium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hellebore</h3>
                           <a class="preview" href="/perennials/hellebore/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore-gold-collection/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore-gold-collection.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hellebore: Gold Collection</h3>
                           <a class="preview" href="/perennials/hellebore-gold-collection/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hellebore-winter-jewels/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hellebore-winter-jewel.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hellebore: Winter Jewel</h3>
                           <a class="preview" href="/perennials/hellebore-winter-jewels/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/heuchera/" ><img class="img-responsive" src="{{ 'assets/images/perennials/heuchera.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Heuchera: Coral Bells</h3>
                           <a class="preview" href="/perennials/heuchera/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hosta/" ><img class="img-responsive" src="{{ 'assets/images/perennials/hosta.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Hosta: Plantain Lily</h3>
                           <a class="preview" href="/perennials/hosta/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/hosta/" ><img class="img-responsive" src="{{ 'assets/images/perennials/iberis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Iberis: Candytuft</h3>
                           <a class="preview" href="/perennials/iberis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                   <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/iris/" ><img class="img-responsive" src="{{ 'assets/images/perennials/iris.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Iris</h3>

                            <a class="preview" href="/perennials/iris/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials//" ><img class="img-responsive" src="{{ 'assets/images/perennials/kniphofia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Kniphofia: Red Hot Poker</h3>
                           <a class="preview" href="/perennials/kniphofia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/leucanthemum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/leucanthemum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Leucanthemum: Shasta Daisy</h3>
                           <a class="preview" href="/perennials/leucanthemum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/ligularia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/ligularia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Ligularia</h3>
                           <a class="preview" href="/perennials/ligularia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/monarda/" ><img class="img-responsive" src="{{ 'assets/images/perennials/monarda.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Monarda: Bee Balm</h3>
                           <a class="preview" href="/perennials/monarda/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/narcissus" ><img class="img-responsive" src="{{ 'assets/images/perennials/narcissus.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Narcissus: Daffodil</h3>

                            <a class="preview" href="/perennials/narcissus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/paeonia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/paeonia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Paeonia: Peony</h3>
                           <a class="preview" href="/perennials/paeonia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/papaver/" ><img class="img-responsive" src="{{ 'assets/images/perennials/papaver.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Papaver: Poppy</h3>
                           <a class="preview" href="/perennials/papaver/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/parahebe/" ><img class="img-responsive" src="{{ 'assets/images/perennials/parahebe.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Parahebe</h3>
                           <a class="preview" href="/perennials/parahebe/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perovksia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/perovskia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Perovskia: Russian Sage</h3>
                           <a class="preview" href="/perennials/perovskia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/primula/" ><img class="img-responsive" src="{{ 'assets/images/perennials/primula.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Primula: Primrose</h3>
                           <a class="preview" href="/perennials/primula/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/rudbeckia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/rudbeckia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Rudbeckia: Black-eyed Susan</h3>
                           <a class="preview" href="/perennials/rudbeckia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/salvia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/salvia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Salvia</h3>
                           <a class="preview" href="/perennials/salvia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/santolina/" ><img class="img-responsive" src="{{ 'assets/images/perennials/santolina.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Santolina: Lavender Cotton</h3>
                           <a class="preview" href="/perennials/santolina/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/sedum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/sedum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Sedum</h3>
                           <a class="preview" href="/perennials/sedum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/sedum-evergreen/" ><img class="img-responsive" src="{{ 'assets/images/perennials/sedum-evergreen.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Evergreen Sedum</h3>
                           <a class="preview" href="/perennials/sedum-evergreen/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/sempervivum/" ><img class="img-responsive" src="{{ 'assets/images/perennials/sempervivum.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Sempervivum: Hen &amp; Chicks</h3>
                           <a class="preview" href="/perennials/sempervivum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perennials-top10-shade/" ><img class="img-responsive" src="{{ 'assets/images/perennials/topshadepage.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Top Shade Perennials</h3>
                           <a class="preview" href="/perennials/perennials-top10-shade/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/perennials-top10-sun/" ><img class="img-responsive" src="{{ 'assets/images/perennials/topsunpage.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Top Sun Perennials</h3>
                           <a class="preview" href="/perennials/perennials-top10-sun/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/tricyrtis/" ><img class="img-responsive" src="{{ 'assets/images/perennials/tricyrtis.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Tricyrtis: Toad Lily</h3>
                           <a class="preview" href="/perennials/tricyrtis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bulb">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/tulip" ><img class="img-responsive" src="{{ 'assets/images/perennials/tulip.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Tulip</h3>

                            <a class="preview" href="/perennials/tulip/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/vinca/" ><img class="img-responsive" src="{{ 'assets/images/perennials/vinca.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Vinca: Periwinkle</h3>
                           <a class="preview" href="/perennials/vinca/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade groundcover">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/viola/" ><img class="img-responsive" src="{{ 'assets/images/perennials/viola.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Viola: Violet</h3>
                           <a class="preview" href="/perennials/viola/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/zantedeschia/" ><img class="img-responsive" src="{{ 'assets/images/perennials/zantedeschia.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Zantedeschia: Calla Lily</h3>
                           <a class="preview" href="/perennials/zantedeschia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->