        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Gardening Resources and Solutions</h2>
<!--                <p class="text-center wow fadeInDown">October is the prime time to be planting new tulips, daffodils, hyacinths, and much more for spring flowers. Enrich your soil, check your proper planting depth, and enjoy! It is also a fine time if you need to thin or divide existing patches of bulbs. </p> -->
	             </div>


            <div class="portfolio-items">

	             <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/planting-solutions/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/cottage-garden.jpg'|theme }}" alt="Bee Friendly" /></a>
							<div class="portfolio-info">


                            <a href="/planting-solutions/" ><h3>Planting Solutions</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	              <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/garden-projects/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/beneficials.jpg'|theme }}" alt="Beneficial Insects" /></a>
							<div class="portfolio-info">


                            <a href="/garden-projects/" ><h3>Garden Projects</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/gift-cards/" ><img class="img-responsive" src="{{ 'assets/images/resources/gift-card.jpg'|theme }}" alt="Gift Cards" /></a>
							<div class="portfolio-info">
                            <a href="/resources/gift-cards/" ><h3>Gift Cards</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/brochures/" ><img class="img-responsive" src="{{ 'assets/images/resources/brochures.jpg'|theme }}" alt="Brochures" /></a>
							<div class="portfolio-info">


                            <a href="/resources/brochures/" ><h3>Brochures</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/spring-pests/" ><img class="img-responsive" src="{{ 'assets/images/resources/spring-pests.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <a href="/resources/spring-pests/" ><h3>Spring Pests</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/custom-planting-plans/" ><img class="img-responsive" src="{{ 'assets/images/resources/custom-planting-plans.jpg'|theme }}" alt="Custom Planting Plans" /></a>
							<div class="portfolio-info">


                            <a href="/resources/custom-planting-plans/" ><h3>Custom Planting Plans</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/herbs/indoor-herbs/" ><img class="img-responsive" src="{{ 'assets/images/herbs/indoor-herbs.jpg'|theme }}" alt="Herbs: Society Garlic"></a>
							<div class="portfolio-info">

                            <a href="/herbs/indoor-herbs/" ><h3>Indoor Herb Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/hedges/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hedges.jpg'|theme }}" alt="Hedges"/></a>
                    <div class="portfolio-info">
                         <a href="/shrubs/hedges/"> <h3>Hedges</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/planting-tips/" ><img class="img-responsive" src="{{ 'assets/images/trees/planting.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/planting-tips/" ><h3>Planting Tips</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/pruning-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/pruning.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/pruning-guide/" ><h3>Pruning Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/tree-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/tree-guide.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/tree-guide/" ><h3>Tree Selection Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/winter-prep/" ><img class="img-responsive" src="{{ 'assets/images/resources/winter-prep.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <a href="/resources/winter-prep/" ><h3>Winter Preparation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->