        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Add Herbs to your Garden</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Herbs</a></li>
                <li><a href="#" data-filter=".perennial">Perennials</a></li>
                <li><a href="#" data-filter=".annuals">Annuals</a></li>
                <li><a href="#" data-filter=".tree">Trees</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item annual">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/basil/" ><img class="img-responsive" src="{{ 'assets/images/herbs/basil.jpg'|theme }}" alt="Herbs: Basil"></a>
							<div class="portfolio-info">
                            <h3>Basil</h3>

                           <a class="preview" href="/herbs/basil/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item perennial">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/bay-laurel/" ><img class="img-responsive" src="{{ 'assets/images/herbs/bay-laurel.jpg'|theme }}" alt="Herbs: Bay Laurel"></a>
							<div class="portfolio-info">
                            <h3>Bay Laurel</h3>

                           <a class="preview" href="/herbs/bay-laurel/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/citronella/" ><img class="img-responsive" src="{{ 'assets/images/herbs/citronella.jpg'|theme }}" alt="Herbs: citronella"></a>
							<div class="portfolio-info">
                            <h3>Citronella</h3>

                           <a class="preview" href="/herbs/citronella/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/uncommon-seasonings/" ><img class="img-responsive" src="{{ 'assets/images/herbs/vietnamese-coriander.jpg'|theme }}" alt="Herbs: Vietnamese Coriander"></a>
							<div class="portfolio-info">
                            <h3>Vietnamese Coriander</h3>

                           <a class="preview" href="/herbs/uncommon-seasonings/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/garlic/" ><img class="img-responsive" src="{{ 'assets/images/herbs/garlic.jpg'|theme }}" alt="Herbs: Garlic"></a>
							<div class="portfolio-info">
                            <h3>Garlic</h3>

                           <a class="preview" href="/herbs/garlic/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/uncommon-seasonings/" ><img class="img-responsive" src="{{ 'assets/images/herbs/society-garlic.jpg'|theme }}" alt="Herbs: Society Garlic"></a>
							<div class="portfolio-info">
                            <h3>Society Garlic</h3>

                           <a class="preview" href="/herbs/uncommon-seasonings/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/indoor-herbs/" ><img class="img-responsive" src="{{ 'assets/images/herbs/indoor-herbs.jpg'|theme }}" alt="Herbs: Indoor Herbs"></a>
							<div class="portfolio-info">
                            <h3>Indoor Herbs</h3>

                           <a class="preview" href="/herbs/indoor-herbs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item biannual">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/parsley/" ><img class="img-responsive" src="{{ 'assets/images/herbs/parsley.jpg'|theme }}" alt="Herbs: Parsley"></a>
							<div class="portfolio-info">
                            <h3>Parsley</h3>

                           <a class="preview" href="/herbs/parsley/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item perennial">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/rosemary/" ><img class="img-responsive" src="{{ 'assets/images/herbs/rosemary.jpg'|theme }}" alt="Herbs: Rosemary"></a>
							<div class="portfolio-info">
                            <h3>Rosemary</h3>

                           <a class="preview" href="/herbs/rosemary/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item perennial">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/sage/" ><img class="img-responsive" src="{{ 'assets/images/herbs/sage.jpg'|theme }}" alt="Herbs: Sage"></a>
							<div class="portfolio-info">
                            <h3>Sage</h3>

                           <a class="preview" href="/herbs/sage/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/uncommon-seasonings/" ><img class="img-responsive" src="{{ 'assets/images/herbs/shiso.jpg'|theme }}" alt="Herbs: Shiso"></a>
							<div class="portfolio-info">
                            <h3>Shiso</h3>

                           <a class="preview" href="/herbs/uncommon-seasonings/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/tarragon/" ><img class="img-responsive" src="{{ 'assets/images/herbs/tarragon.jpg'|theme }}" alt="Herbs: Tarragon"></a>
							<div class="portfolio-info">
                            <h3>Tarragon</h3>

                           <a class="preview" href="/herbs/tarragon/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item perennial">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/thyme/" ><img class="img-responsive" src="{{ 'assets/images/herbs/thyme.jpg'|theme }}" alt="Herbs: Thyme"></a>
							<div class="portfolio-info">
                            <h3>Thyme</h3>

                           <a class="preview" href="/herbs/thyme/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/uncommon-seasonings/" ><img class="img-responsive" src="{{ 'assets/images/herbs/uncommon-seasonings.jpg'|theme }}" alt="Herbs: Uncommon Seasonings"></a>
							<div class="portfolio-info">
                            <h3>Uncommon Seasonings</h3>

                           <a class="preview" href="/herbs/uncommon-seasonings/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/herbs/verbena/" ><img class="img-responsive" src="{{ 'assets/images/herbs/verbena.jpg'|theme }}" alt="Herbs: Lemon Verbena"></a>
							<div class="portfolio-info">
                            <h3>Lemon Verbena</h3>

                           <a class="preview" href="/herbs/verbena/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->