description = "image list of shrubs"

[viewBag]
==
<div class="container top-margin">
            <div class="section-header">
	          <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Shrubs for your garden</h2>
               <p class="text-center wow fadeInDown">Read up on some of our favorite shrubs and remember, this is only a smattering of the variety of shrubs we carry all year long! Note: Viewing a Native Plant will take you into our Native Plant section. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Shrubs</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".winter">Winter Interest</a></li>
                <li><a href="#" data-filter=".fall">Fall Color</a></li>
                <li><a href="#" data-filter=".tropical">Tropical</a></li>
               <li><a href="#" data-filter=".native">Natives</a></li>
           </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

             <div class="portfolio-item sun shade fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/abelia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/abelia.jpg'|theme }}" alt="Abelia"/></a/>
                    <div class="portfolio-info">
                            <h3>Abelia</h3>
                        <a class="preview" href="/shrubs/abelia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Arbutus: Pacific Madrone</h3>
                           <a class="preview" href="/natives/arbutus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/cornus-sericea/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Cornus sericea</h3>
                          Red Twig Dogwood
                           <a class="preview" href="/natives/cornus-sericea/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/corylus/"><img class="img-responsive" src="{{ 'assets/images/natives/corylus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Corylus cornuta</h3>
                          Beaked Hazelnut
                           <a class="preview" href="/natives/corylus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/azalea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/decid-rhod.jpg'|theme }}" alt="decid-rhod"></a/></a>
                    <div class="portfolio-info">
                            <h3>Deciduous Azalea</h3>
                        <a class="preview" href="/shrubs/azalea/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/phyllostachys/" ><img class="img-responsive" src="{{ 'assets/images/shrubs/phyllostachys.jpg'|theme }}" alt="Bamboo" /></a>
							<div class="portfolio-info">
                            <h3>Phyllostachys: Bamboo</h3>

                           <a class="preview" href="/shrubs/phyllostachys/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun tropical">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/banana/"><img class="img-responsive" src="{{ 'assets/images/shrubs/banana.jpg'|theme }}" alt="Banana"/></a>
                    <div class="portfolio-info">
                            <h3>Banana</h3>
                        <a class="preview" href="/shrubs/banana/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/buddleia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/buddleia.jpg'|theme }}" alt="Buddleia"/></a>
                    <div class="portfolio-info">
                            <h3>Buddleia: Butterfly Bush</h3>
                        <a class="preview" href="/shrubs/buddleia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/callicarpa/"><img class="img-responsive" src="{{ 'assets/images/shrubs/callicarpa.jpg'|theme }}" alt="Callicarpa"/></a>
                    <div class="portfolio-info">
                            <h3>Callicarpa: Beautyberry</h3>
                        <a class="preview" href="/shrubs/callicarpa/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/camellia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/camellia.jpg'|theme }}" alt="Camellia"/></a>
                    <div class="portfolio-info">
                            <h3>Camellia</h3>
                        <a class="preview" href="/shrubs/camellia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/ceanothus.jpg'|theme }}" alt="Ceanothus"/></a>
                    <div class="portfolio-info">
                            <h3>Ceanothus</h3>
                        <a class="preview" href="/shrubs/ceanothus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Ceanothus: Wild Lilac</h3>
                           <a class="preview" href="/natives/ceanothus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/chaenomeles/"><img class="img-responsive" src="{{ 'assets/images/shrubs/chaenomeles.jpg'|theme }}" alt="Chaenomeles"/></a>
                    <div class="portfolio-info">
                            <h3>Chaenomeles</h3>
                            Flowering Quince
                        <a class="preview" href="/shrubs/chaenomeles/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/chimonanthus/"><img class="img-responsive" src="{{ 'assets/images//shrubs/chimonanthus.jpg'|theme }}" alt="Chimonanthus"/></a>
                    <div class="portfolio-info">
                            <h3>Chimonanthus: Wintersweet</h3>
                        <a class="preview" href="/shrubs/chimonanthus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/clethra/"><img class="img-responsive" src="{{ 'assets/images//shrubs/clethra.jpg'|theme }}" alt="Clethra"/></a>
                    <div class="portfolio-info">
                            <h3>Clethra: Summersweet</h3>
                        <a class="preview" href="/shrubs/clethra/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/coprosma/" ><img class="img-responsive" src="{{ 'assets/images/shrubs/coprosma.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">
                            <h3>Coprosma: Mirror Plant</h3>
                           <a class="preview" href="/shrubs/coprosma/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade fall winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/cornus-redtwig/"><img class="img-responsive" src="{{ 'assets/images/shrubs/cornus.jpg'|theme }}" alt="Cornus"/></a>
                    <div class="portfolio-info">
                            <h3>Cornus: Red Twig Dogwood</h3>
                        <a class="preview" href="/shrubs/cornus-redtwig/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun shade fall winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/corylopsis/"><img class="img-responsive" src="{{ 'assets/images/shrubs/corylopsis.jpg'|theme }}" alt="Corylopsis"/></a>
                    <div class="portfolio-info">
                           <h3>Corylopsis: Winter Hazel</h3>
                        <a class="preview" href="/shrubs/corylopsis/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/corylus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/corylus.jpg'|theme }}" alt="Corylus"/></a>
                    <div class="portfolio-info">
                       <h3>Corylus: Filberts &amp; Hazels</h3>
                        <a class="preview" href="/shrubs/corylus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/cotinus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/cotinus.jpg'|theme }}" alt="Cotinus"/></a>
                    <div class="portfolio-info">
                            <h3>Cotinus: Smoke Tree</h3>
                        <a class="preview" href="/shrubs/cotinus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade winter fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/daphne/"><img class="img-responsive" src="{{ 'assets/images/shrubs/daphne.jpg'|theme }}" alt="Daphne"/></a>
                    <div class="portfolio-info">
                            <h3>Daphne</h3>
                        <a class="preview" href="/shrubs/daphne/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade winter fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/edgeworthia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/edgeworthia.jpg'|theme }}" alt="Edgeworthia"/></a>
                    <div class="portfolio-info">
                            <h3>Edgeworthia</h3>
                            Chinese Paper Bush
                        <a class="preview" href="/shrubs/edgeworthia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/elaeagnus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/elaeagnus.jpg'|theme }}" alt="Elaeagnus"/></a>
                    <div class="portfolio-info">
                            <h3>Elaeagnus</h3>
                            Silverberry &amp; Goumi Berry
                        <a class="preview" href="/shrubs/elaeagnus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade fragrance tropical">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/gardenia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/gardenia.jpg'|theme }}" alt="Gardenia"/></a>
                    <div class="portfolio-info">
                            <h3>Hardy Gardenia</h3>
                        <a class="preview" href="/shrubs/gardenia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/gaultheria/"><img class="img-responsive" src="{{ 'assets/images/natives/gaultheria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Gaultheria shallon: Salal</h3>
                           <a class="preview" href="/natives/gaultheria/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun fall winter fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/hamamelis/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hamamelis.jpg'|theme }}" alt="Hamamelis"/></a>
                    <div class="portfolio-info">
                            <h3>Hamamelis: Witch Hazel</h3>
                        <a class="preview" href="/shrubs/hamamelis/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/heathers/"><img class="img-responsive" src="{{ 'assets/images/shrubs/ericacaea.jpg'|theme }}" alt="Heathers"/></a>
                    <div class="portfolio-info">
                           <h3>Heathers &amp; Heaths</h3>
                        <a class="preview" href="/shrubs/heathers/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/hebe/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hebe.jpg'|theme }}" alt="Hebe"/></a>
                    <div class="portfolio-info">
                            <h3>Hebe</h3>
                        <a class="preview" href="/shrubs/hebe/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/hedges/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hedges.jpg'|theme }}" alt="Hedges"/></a>
                    <div class="portfolio-info">
                            <h3>Hedges</h3>
                        <a class="preview" href="/shrubs/hedges/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/holodiscus/"><img class="img-responsive" src="{{ 'assets/images/natives/holodiscus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Holodiscus: Oceanspray</h3>
                           <a class="preview" href="/natives/holodiscus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/hydrangea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hydrangea.jpg'|theme }}" alt="Hydrangea"/></a>
                    <div class="portfolio-info">
                            <h3>Hydrangea</h3>
                        <a class="preview" href="/shrubs/hydrangea/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/itea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/itea.jpg'|theme }}" alt="Itea"/></a>
                    <div class="portfolio-info">
                            <h3>Itea: Sweetspire</h3>
                        <a class="preview" href="/shrubs/itea/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/lagerstroemia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/lagerstroemia.jpg'|theme }}" alt="Lagerstroemia"/></a>
                    <div class="portfolio-info">
                            <h3>Lagerstroemia: Crape Myrtle</h3>
                        <a class="preview" href="/shrubs/lagerstroemia/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/lonicera/"><img class="img-responsive" src="{{ 'assets/images/shrubs/lonicera.jpg'|theme }}" alt="Lonicera"/></a>
                    <div class="portfolio-info">
                            <h3>Lonicera: Honeysuckle</h3>
                        <a class="preview" href="/shrubs/lonicera/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/mahonia/"><img class="img-responsive" src="{{ 'assets/images/natives/mahonia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Mahonia: Oregon Grape</h3>
                           <a class="preview" href="/natives/mahonia/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
               <div class="portfolio-item sun shade winter">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/nandina/"><img class="img-responsive" src="{{ 'assets/images/shrubs/nandina.jpg'|theme }}" alt="Nandina"/></a>
                    <div class="portfolio-info">
                            <h3>Nandina: Heavenly Bamboo</h3>
                        <a class="preview" href="/shrubs/nandina/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                  <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/osmaronia/"><img class="img-responsive" src="{{ 'assets/images/natives/osmaronia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Osmaronia: Indian Plum</h3>
                           <a class="preview" href="/natives/osmaronia/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun tropical">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/palm/"><img class="img-responsive" src="{{ 'assets/images/shrubs/palm.jpg'|theme }}" alt="Palms"/></a>
                    <div class="portfolio-info">
                            <h3>Hardy Palm</h3>
                        <a class="preview" href="/shrubs/palm/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/philadelphus/"><img class="img-responsive" src="{{ 'assets/images/natives/philadelphus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Philadelphus: Mock Orange</h3>
                           <a class="preview" href="/natives/philadelphus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/phyllostachys/" ><img class="img-responsive" src="{{ 'assets/images/shrubs/phyllostachys.jpg'|theme }}" alt="Bamboo" /></a>
							<div class="portfolio-info">
                            <h3>Phyllostachys: Bamboo</h3>

                           <a class="preview" href="/shrubs/phyllostachys/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/physocarpus.jpg'|theme }}" alt="Physocarpus"/></a>
                    <div class="portfolio-info">
                           <h3>Physocarpus: Ninebark</h3>
                        <a class="preview" href="/shrubs/physocarpus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/natives/physocarpus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Physocarpus</h3>
                          Western Ninebark
                           <a class="preview" href="/natives/physocarpus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/punica/"><img class="img-responsive" src="{{ 'assets/images/shrubs/punica.jpg'|theme }}" alt="Punica"/></a>
                    <div class="portfolio-info">
                            <h3>Punica: Pomegranate</h3>
                        <a class="preview" href="/shrubs/punica/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rhamnus/"><img class="img-responsive" src="{{ 'assets/images/natives/rhamnus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rhamnus: Cascara</h3>
                           <a class="preview" href="/natives/rhamnus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/ribes/"><img class="img-responsive" src="{{ 'assets/images/shrubs/ribes.jpg'|theme }}" alt="Ribes"/></a>
                    <div class="portfolio-info">
                            <h3>Ribes: Currant</h3>
                        <a class="preview" href="/shrubs/ribes/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/ribes/"><img class="img-responsive" src="{{ 'assets/images/natives/ribes.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Ribes: Wild Currant</h3>
                           <a class="preview" href="/natives/ribes/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rosa/"><img class="img-responsive" src="{{ 'assets/images/natives/rosa.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rosa: Wild Rose</h3>
                           <a class="preview" href="/natives/rosa/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rubus/"><img class="img-responsive" src="{{ 'assets/images/natives/rubus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rubus: Salmonberry</h3>
                           <a class="preview" href="/natives/rubus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               	<div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/salix/"><img class="img-responsive" src="{{ 'assets/images/shrubs/salix.jpg'|theme }}" alt="Willow"/></a>
                    <div class="portfolio-info">
                            <h3>Salix: Willow</h3>
                        <a class="preview" href="/shrubs/salix/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/sambucus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/sambucus.jpg'|theme }}" alt="Sambucus"/></a>
                    <div class="portfolio-info">
                            <h3>Sambucus: Elderberry</h3>
                        <a class="preview" href="/shrubs/sambucus/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/sambucus/"><img class="img-responsive" src="{{ 'assets/images/natives/sambucus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Sambucus: Elderberry</h3>
                           <a class="preview" href="/natives/sambucus/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item shade winter fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/sarcococca/"><img class="img-responsive" src="{{ 'assets/images/shrubs/sarcococca.jpg'|theme }}" alt="Sarcococca"/></a>
                    <div class="portfolio-info">
                            <h3>Sarcococca: Sweet Box</h3>
                        <a class="preview" href="/shrubs/sarcococca/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/symphoricarpos/"><img class="img-responsive" src="{{ 'assets/images/natives/symphoricarpos.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Symphoricarpos: Snowberry</h3>
                           <a class="preview" href="/natives/symphoricarpos/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/syringa/"><img class="img-responsive" src="{{ 'assets/images/shrubs/syringa.jpg'|theme }}" alt="Lilac"/></a>
                    <div class="portfolio-info">
                            <h3>Syringa: Lilac</h3>
                        <a class="preview" href="/shrubs/syringa/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/shrubs/vaccinium.jpg'|theme }}" alt="Vaccinium"/></a>
                    <div class="portfolio-info">
                            <h3>Vaccinium: Huckleberry</h3>
                        <a class="preview" href="/shrubs/vaccinium/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/natives/vaccinium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Vaccinium: Huckleberry</h3>
                           <a class="preview" href="/natives/vaccinium/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/shrubs/viburnum/"><img class="img-responsive" src="{{ 'assets/images/shrubs/viburnum.jpg'|theme }}" alt="Viburnum"/></a>
                    <div class="portfolio-info">
                            <h3>Viburnum: Arrowwood</h3>
                        <a class="preview" href="/shrubs/viburnum/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/viburnum-trilobum/"><img class="img-responsive" src="{{ 'assets/images/natives/viburnum-trilobum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Viburnum trilobum</h3>
                          Cranberrybush
                           <a class="preview" href="/natives/viburnum-trilobum/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->