<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Trees for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a wide variety of trees year-round. These represent only a fraction of what you will find and are some of our favorites. Note: Viewing a Native Plant will take you into our Native Plant section. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Trees</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                <li><a href="#" data-filter=".flowering">Flowering</a></li>
                <li><a href="#" data-filter=".native">Natives</a></li>
                <li><a href="#" data-filter=".fall">Fall Color</a></li>
                <li><a href="#" data-filter=".small">Small Tree</a></li>
                <li><a href="#" data-filter=".select">Tree Selection</a></li>
                <li><a href="#" data-filter=".help">Tree Maintenance</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item evergreen fall">
                    <div class="portfolio-item-inner">
                          <a class="preview" href="/trees/abies/" ><img class="img-responsive" src="{{ 'assets/images/trees/abies.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Abies: The Fir Tree</h3>

                           <a class="preview" href="/trees/abies/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/abies/"><img class="img-responsive" src="{{ 'assets/images/natives/abies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Abies: Native Fir</h3>
                           <a class="preview" href="/natives/abies/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Acer Circinatum:</h3>
                             Vine Maple
                           <a class="preview" href="/natives/acer-circinatum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small select">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/acer-fall-color/" ><img class="img-responsive" src="{{ 'assets/images/trees/acer-fall-color.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Acers for Fall Color</h3>

                           <a class="preview" href="/trees/acer-fall-color/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/acer-palmatum/" ><img class="img-responsive" src="{{ 'assets/images/trees/acer-palmatum.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Acer palmatum: Japanese Maple</h3>

                           <a class="preview" href="/trees/acer-palmatum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/bird-haven/" ><img class="img-responsive" src="{{ 'assets/images/trees/bird-haven.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Bird Haven</h3>

                           <a class="preview" href="/trees/bird-haven/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/cercis/" ><img class="img-responsive" src="{{ 'assets/images/trees/cercis.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Cercis: Redbud</h3>

                           <a class="preview" href="/trees/cercis/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/conifers/" ><img class="img-responsive" src="{{ 'assets/images/trees/conifer.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Conifers</h3>

                           <a class="preview" href="/trees/conifers/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/cornus/" ><img class="img-responsive" src="{{ 'assets/images/trees/cornus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Cornus: Dogwood</h3>

                           <a class="preview" href="/trees/cornus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen small">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/cryptomeria/" ><img class="img-responsive" src="{{ 'assets/images/trees/cryptomeria.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Cryptomeria: Japanese Cedar</h3>

                           <a class="preview" href="/trees/cryptomeria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item flowering small select">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/fruits/fruit-trees/" ><img class="img-responsive" src="{{ 'assets/images/trees/malus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Fruit Trees</h3>

                           <a class="preview" href="/fruits/fruit-trees/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/ginkgo/" ><img class="img-responsive" src="{{ 'assets/images/trees/gingko.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Ginkgo: Maidenhair Tree</h3>

                           <a class="preview" href="/trees/ginkgo/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/heptacodium/" ><img class="img-responsive" src="{{ 'assets/images/trees/heptacodium.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Heptacodium: Seven Sons Flower</h3>

                           <a class="preview" href="/trees/heptacodium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/lagerstroemia/" ><img class="img-responsive" src="{{ 'assets/images/trees/lagerstroemia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Lagerstroemia: Crape Myrtle</h3>

                           <a class="preview" href="/trees/lagerstroemia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/larix/" ><img class="img-responsive" src="{{ 'assets/images/trees/larix.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Larix: Larch Tree</h3>

                           <a class="preview" href="/trees/larix/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen flowering small">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/magnolia/" ><img class="img-responsive" src="{{ 'assets/images/trees/magnolia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Magnolia Hybrids</h3>

                           <a class="preview" href="/trees/magnolia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/malus-fusca/"><img class="img-responsive" src="{{ 'assets/images/natives/malus-fusca.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Malus fusca</h3>
                          Western Crabapple
                           <a class="preview" href="/natives/malus-fusca/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/miniature-conifers/" ><img class="img-responsive" src="{{ 'assets/images/trees/miniature-conifers.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Miniature Conifers</h3>

                           <a class="preview" href="/trees/miniature-conifers/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/oxydendrum/" ><img class="img-responsive" src="{{ 'assets/images/trees/oxydendrum.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Oxydendrum: The Sourwood Tree</h3>

                           <a class="preview" href="/trees/oxydendrum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen small">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/picea/" ><img class="img-responsive" src="{{ 'assets/images/trees/picea.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Picea: The Spruce Tree</h3>

                           <a class="preview" href="/trees/picea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/pinus/"><img class="img-responsive" src="{{ 'assets/images/natives/pinus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Pinus: Native Pine</h3>
                           <a class="preview" href="/natives/pinus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/planting-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/planting.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Planting Tips</h3>

                           <a class="preview" href="/trees/planting-guide/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/pruning-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/pruning.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Pruning Guide</h3>

                           <a class="preview" href="/trees/pruning-guide/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/prunus/" ><img class="img-responsive" src="{{ 'assets/images/trees/prunus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Prunus: Cherries &amp;<br />their Prunus relatives</h3>

                           <a class="preview" href="/trees/prunus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/quercus/"><img class="img-responsive" src="{{ 'assets/images/natives/quercus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Quercus: Garry Oak</h3>
                           <a class="preview" href="/natives/quercus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/stewartia/" ><img class="img-responsive" src="{{ 'assets/images/trees/stewartia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Stewartia</h3>

                           <a class="preview" href="/trees/stewartia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item small flowering">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/styrax/" ><img class="img-responsive" src="{{ 'assets/images/trees/styrax.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Styrax: Japanese Snowbell</h3>

                           <a class="preview" href="/trees/styrax/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/trees/tree-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/tree-guide.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <h3>Tree Selection Guide</h3>

                           <a class="preview" href="/trees/tree-guide/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->