<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Nut-bearing Trees for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a wide variety of nut-bearing trees year-round. These represent only a fraction of what you will find and are some of our favorites. </p>
            </div>

<!--
  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Trees</a></li>
                <li><a href="#" data-filter=".flowering">Flowering</a></li>
                <li><a href="#" data-filter=".nut">Nut Trees</a></li>
                <li><a href="#" data-filter=".fruit">Fruit Trees</a></li>
            </ul>
  </div>
-->

            <div class="portfolio-items">

                <div class="portfolio-item nut flowering small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/almond/" ><img class="img-responsive" src="{{ 'assets/images/fruits/almond.jpg'|theme }}" alt="almond" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/almond/" ><h3>Almond Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut flowering large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/chestnut/" ><img class="img-responsive" src="{{ 'assets/images/fruits/chestnut.jpg'|theme }}" alt="chestnut" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/chestnut/" ><h3>Chestnut Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut flowering large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/filbert/" ><img class="img-responsive" src="{{ 'assets/images/fruits/filbert.jpg'|theme }}" alt="filbert" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/filbert/" ><h3>Filbert Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut flowering large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/walnut/" ><img class="img-responsive" src="{{ 'assets/images/fruits/walnut.jpg'|theme }}" alt="walnut" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/walnut/" ><h3>Walnut Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->