        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Classes &amp; Events all year long!</h2>
               <p class="text-center wow fadeInDown">Classes are arranged by month and are usually published one to two months ahead of time.  A yearly event list can be found <a href="/events/yearly-events/">here.</a></p>
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All classes</a></li>
                    <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                    <li><a href="#" data-filter=".seasonal">Seasonal (not evergreen)</a></li>
                </ul>
            </div>
-->

            <div class="portfolio-items">


                   <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/current-classes/" ><img class="img-responsive" src="{{ 'assets/images/classes/classes.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">
                            <h3>Current Classes</h3>

                            <a class="preview" href="/events/current-classes/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/events/yearly-events/" ><img class="img-responsive" src="{{ 'assets/images/classes/events.jpg'|theme }}" alt="classes" /></a>
							<div class="portfolio-info">
                            <h3>Yearly Events &amp; Sales</h3>

                           <a class="preview" href="/events/yearly-events/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
<!--

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/bonsai/" ><img class="img-responsive" src="{{ 'assets/images/classes/bonsai.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">
                            <h3>Bonsai Event</h3>

                            <a class="preview" href="/events/bonsai/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

<!--
                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/yearly-events#houseplantsaugust/" ><img class="img-responsive" src="{{ 'assets/images/classes/houseplants.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">
                            <h3>Houseplant Sales</h3>

                            <a class="preview" href="/events/yearly-events#houseplantsaugust/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

<!--
                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/senior" ><img class="img-responsive" src="{{ 'assets/images/classes/senior.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">
                            <h3>Senior Gardening Day</h3>

                            <a class="preview" href="/events/senior/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                 <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/events/apple-tasting" ><img class="img-responsive" src="{{ 'assets/images/classes/apple-tasting.jpg'|theme }}" alt="classes" /></a>
                        <div class="portfolio-info">
                            <h3>Apple Tasting Event</h3>

                            <a class="preview" href="/events/apple-tasting/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

          </div>
        </div><!--/.container-->
