        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Community Giving</h2>
<!--                <p class="text-center wow fadeInDown">October is the prime time to be planting new tulips, daffodils, hyacinths, and much more for spring flowers. Enrich your soil, check your proper planting depth, and enjoy! It is also a fine time if you need to thin or divide existing patches of bulbs. </p> -->
	             </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/abernethyschool/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/abernethyschool/"><h3>Abernethy School</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/communitychildren/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/communitychildren/"><h3>Community School</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/eldersinaction/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/eldersinaction/"><h3>Elders in Action</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/foodworks/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/foodworks/"><h3>Food Works</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/franciscanmontessori/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/franciscanmontessori/"><h3>Franciscan Montessori</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/gardensnoise/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/gardensnoise/"><h3>Gardens Noise</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/growinggardens/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/growinggardens/"><h3>Growing Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/legacyhorticulture"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/legacyhorticulture/"><h3>Legacy Therapy</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/lewiselementary/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/lewiselementary/"><h3>Lewis Elementary</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/oregonfoodbank/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/oregonfoodbank/"><h3>Oregon Food Bank</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/sauvieislandcenter/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/sauvieislandcenter/"><h3>Sauvie Island Center</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/youthbuilders/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/youthbuilders/"><h3>Youth Builders</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/community/zengerfarm/"><img class="img-responsive" src="{{ 'assets/images/community/community.jpg'|theme }}" alt="Community" /></a>
							<div class="portfolio-info">


                            <a href="/community/zengerfarm/"><h3>Zenger Farm</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->