       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Tips for Vegetable Gardens.</h2>
<!--                <p class="text-center wow fadeInDown">Vines have an essential role in creating the look and feel you want in your yard and often have the added benefit of easy care.</p> -->
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All vines</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
			</ul>
  </div>
-->

	            <div class="portfolio-items">

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/companion-planting/" ><img class="img-responsive" src="{{ 'assets/images/veggies/companionplants.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/companion-planting/" ><h3>Companion Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/cover-crops/" ><img class="img-responsive" src="{{ 'assets/images/veggies/covercrops.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/cover-crops/" ><h3>Cover Crops</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/crop-rotation/" ><img class="img-responsive" src="{{ 'assets/images/veggies/croprotation.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/crop-rotation/" ><h3>Crop Rotation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/garlic/" ><img class="img-responsive" src="{{ 'assets/images/veggies/garlic.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/garlic/" ><h3>Garlic</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/herbs/" ><img class="img-responsive" src="{{ 'assets/images/veggies/herbgarden.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/herbs/" ><h3>Herbs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/onions/" ><img class="img-responsive" src="{{ 'assets/images/veggies/onionstarts.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/onions/" ><h3>Onions</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/seeds/" ><img class="img-responsive" src="{{ 'assets/images/veggies/seeds.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/seeds/" >  <h3>Seeds &amp; Seed Starting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/succession-planting/" ><img class="img-responsive" src="{{ 'assets/images/veggies/successionplants.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/succession-planting/" > <h3>Succession Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/tomatoes/" ><img class="img-responsive" src="{{ 'assets/images/veggies/tomato.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/tomatoes/" > <h3>Tomato</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/" ><img class="img-responsive" src="{{ 'assets/images/veggies/vegculture.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/" ><h3>Vegetable Culture</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->