        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Planting Combinations for your Garden</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

<!--
  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Herbs</a></li>
                <li><a href="#" data-filter=".perennial">Perennials</a></li>
                <li><a href="#" data-filter=".annuals">Annuals</a></li>
                <li><a href="#" data-filter=".biannual">Bi-annual</a></li>
            </ul>
  </div>
-->

            <div class="portfolio-items">

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/architectural-plants/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/architectural-plants.jpg'|theme }}" alt="Architectural Plants"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/architectural-plants/" ><h3>Architectural Plants</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/cascading-perennials/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/cascading-perennials.jpg'|theme }}" alt="Cascading Perennials"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/cascading-perennials/" ><h3>Cascading Perennials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/cottage-garden/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/cottage-garden.jpg'|theme }}" alt="Cottage Garden"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/cottage-garden/" ><h3>Cottage Garden</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/drought-tolerant/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/drought-tolerant.jpg'|theme }}" alt="Drought Tolerant Planting"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/drought-tolerant/" ><h3>Drought Tolerant Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/fall-foliage/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/fall-foliage.jpg'|theme }}" alt="Fall Foliage"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/fall-foliage/" ><h3>Fall Foliage</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/frost-proof-planting/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/frost-proof.jpg'|theme }}" alt="Frost Proof Planting"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/frost-proof-planting/" ><h3>Frost Proof Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/low-maintenance-container/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/low-maintenance-container.jpg'|theme }}" alt="Low Maintenance Container"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/low-maintenance-container/" ><h3>Low Maintenance Container</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/parking-strip-design/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/parking-strip-design.jpg'|theme }}" alt="Parking Strip Designs"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/parking-strip-design/" ><h3>Parking Strip Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/under-planting/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/underplanting.jpg'|theme }}" alt="Under Planting a Tree"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/under-planting/" ><h3>Under Planting a Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special winter">
                    <div class="portfolio-item-inner">
                         <a href="/planting-solutions/winter-cheer/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/winter-cheer.jpg'|theme }}" alt="Winter Cheer Basket" /></a>
							<div class="portfolio-info">
                            <a href="/planting-solutions/winter-cheer/" ><h3>Winter Cheer Basket</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/planting-solutions/xeriscaping/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/xeriscaping.jpg'|theme }}" alt="Xeriscaping"></a>
							<div class="portfolio-info">
                             <a href="/planting-solutions/xeriscaping/" ><h3>Xeriscaping</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->