        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Use our Seasonal Container Designs</h2>
               <p class="text-center wow fadeInDown">Our container designs are arranged by month. The designs were done with plants that are generally available that month or season.  Arrange them by season using the selector below: December-January-February  for winter months, etc.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Designs</a></li>
                    <li><a href="#" data-filter=".spring">Spring Designs</a></li>
                    <li><a href="#" data-filter=".summer">Summer Designs</a></li>
                    <li><a href="#" data-filter=".fall">Fall Designs</a></li>
                    <li><a href="#" data-filter=".winter">Winter Designs</a></li>
                    <li><a href="#" data-filter=".special">Specialty Designs</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/january-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/january.jpg'|theme }}" alt="January Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/january-designs/" > <h3>January Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/february-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/february.jpg'|theme }}" alt="february Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/february-designs/" ><h3>February Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/march-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/march.jpg'|theme }}" alt="march Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/march-designs/" ><h3>March Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/april-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/april.jpg'|theme }}" alt="april Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/april-designs/" ><h3>April Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/may-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/may.jpg'|theme }}" alt="may Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/may-designs/" > <h3>May Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/june-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/june.jpg'|theme }}" alt="june Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/june-designs/" ><h3>June Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/july-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/july.jpg'|theme }}" alt="july Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/july-designs/" ><h3>July Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/august-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/august.jpg'|theme }}" alt="august Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/august-designs/" ><h3>August Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/september-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/september.jpg'|theme }}" alt="september Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/september-designs/" ><h3>September Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/october-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/october.jpg'|theme }}" alt="october Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/october-designs/" ><h3>October Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/november-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/november.jpg'|theme }}" alt="november Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/november-designs/" ><h3>November Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/december-designs/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/december.jpg'|theme }}" alt="december Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/december-designs/" ><h3>December Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/refreshing-containers/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/refreshing.jpg'|theme }}" alt="refreshing-containers Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/refreshing-containers/" ><h3>Refreshing Fall Containers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item special">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/thriller-filler-spiller/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/thriller-spiller-filler.jpg'|theme }}" alt="Thriller Spiller Filler Designs" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/thriller-filler-spiller/" ><h3>Thriller Spiller Filler Designs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special winter">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/low-maintenance-container/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/low-maintenance-container.jpg'|theme }}" alt="Low Maintenance Container" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/low-maintenance-container/" ><h3>Low Maintenance Container</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special winter">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/winter-cheer/" ><img class="img-responsive" src="{{ 'assets/images/container-gardens/winter-cheer.jpg'|theme }}" alt="Winter Cheer Basket" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/winter-cheer/" ><h3>Winter Cheer Basket</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->