        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Seasonal Planting</h2>
               <p class="text-center wow fadeInDown">Visit individual plant categories for fall tips</p>
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ferns</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".portfolio">Portfolio</a></li>
                </ul>
            </div>
--><!--/#portfolio-filter-->

            <div class="portfolio-items">

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/plants/annuals/"><img class="img-responsive" src="{{ 'assets/images/annuals/ornamental.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">
                            <h3>Annuals</h3>
                            <a class="preview" href="/plants/annuals/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/plants/ferns/"><img class="img-responsive" src="{{ 'assets/images/ferns/cyrtomium.jpg'|theme }}" alt="Ferns"></a>
                        <div class="portfolio-info">
                            <h3>Ferns</h3>

                            <a class="preview" href="/plants/ferns/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/plants/grasses"><img class="img-responsive" src="{{ 'assets/images/grasses/pennisetum.jpg'|theme }}" alt="Grasses"></a>
							<div class="portfolio-info">
                            <h3>Grasses</h3>

                           <a class="preview" href="/plants/grasses/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/plants/herbs/"><img class="img-responsive" src="{{ 'assets/images/herbs/indoor-herbs.jpg'|theme }}" alt="Herbs: Indoor Herbs"></a>
							<div class="portfolio-info">
                            <h3>Indoor Herbs</h3>

                           <a class="preview" href="/plants/herbs/indoor-herbs/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/plants/natives/"><img class="img-responsive" src="{{ 'assets/images/natives/abies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Natives</h3>
                           <a class="preview" href="/plants/natives/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/plants/perennials/" ><img class="img-responsive" src="{{ 'assets/images/perennials/anemone.jpg'|theme }}" alt="Perennials">
							<div class="portfolio-info">
                            <h3>Perennials</h3>
                           <a class="preview" href="/plants/perennials/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/plants/shrubs/"><img class="img-responsive" src="{{ 'assets/images/shrubs/callicarpa.jpg'|theme }}" alt="Callicarpa"/></a>
                    <div class="portfolio-info">
                            <h3>Shrubs</h3>
                        <a class="preview" href="/plants/shrubs/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a href="/plants/trees/"><img class="img-responsive" src="{{ 'assets/images/trees/conifer.jpg'|theme }}" alt="Trees"></a>
							<div class="portfolio-info">
                            <h3>Trees</h3>

                           <a class="preview" href="/plants/trees/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->



             </div>
        </div><!--/.container-->