<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Trees for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a wide variety of trees year-round. These represent only a fraction of what you will find and are some of our favorites. Note: Viewing a Native Plant will take you into our Native Plant section. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Trees</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                <li><a href="#" data-filter=".native">Natives</a></li>

                <li><a href="#" data-filter=".small">Small Tree</a></li>
                <li><a href="#" data-filter=".select">Tree Selection</a></li>
                <li><a href="#" data-filter=".help">Tree Maintenance</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                           <a href="/trees/abies/" ><img class="img-responsive" src="{{ 'assets/images/trees/abies.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/abies/" ><h3>Abies: The Fir Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/abies/"><img class="img-responsive" src="{{ 'assets/images/natives/abies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <a href="/natives/abies/" ><h3>Abies: Native Fir</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/bird-haven/" ><img class="img-responsive" src="{{ 'assets/images/trees/bird-haven.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                           <a href="/trees/bird-haven/" ><h3>Bird Haven</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/conifers/" ><img class="img-responsive" src="{{ 'assets/images/trees/conifer.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/conifers/" ><h3>Conifers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/cryptomeria/" ><img class="img-responsive" src="{{ 'assets/images/trees/cryptomeria.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/cryptomeria/" > <h3>Cryptomeria: Japanese Cedar</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                          <a href="/trees/larix/" ><img class="img-responsive" src="{{ 'assets/images/trees/larix.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                          <a href="/trees/larix/" ><h3>Larix: Larch Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                          <a href="/trees/leafy-trees/" ><img class="img-responsive" src="{{ 'assets/images/trees/cornus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                          <a href="/trees/leafy-trees/" ><h3>Leafy Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item evergreen small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/miniature-conifers/" ><img class="img-responsive" src="{{ 'assets/images/trees/miniature-conifers.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/miniature-conifers/" > <h3>Miniature Conifers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/picea/" ><img class="img-responsive" src="{{ 'assets/images/trees/picea.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                           <a href="/trees/picea/" ><h3>Picea: Spruce Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/pinus/"><img class="img-responsive" src="{{ 'assets/images/natives/pinus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <a href="/natives/pinus/" > <h3>Pinus: Native Pine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/planting-tips/" ><img class="img-responsive" src="{{ 'assets/images/trees/planting.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/planting-tips/" ><h3>Planting Tips</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/pruning-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/pruning.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/pruning-guide/" ><h3>Pruning Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/tree-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/tree-guide.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/tree-guide/" > <h3>Tree Selection Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->