        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Ferns for year-round interest.</h2>
               <p class="text-center wow fadeInDown">Ferns add a delicate backdrop for any woodland or perennial garden.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ferns</a></li>
                    <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                    <li><a href="#" data-filter=".seasonal">Seasonal (not evergreen)</a></li>
                    <li><a href="#" data-filter=".native">Natives</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/ferns/athyrium/" ><img class="img-responsive" src="{{ 'assets/images/ferns/athyrium.jpg'|theme }}" alt="Ferns" /></a>
							<div class="portfolio-info">


                            <a href="/ferns/athyrium/" ><h3>Athyrium: Lady Fern</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/cyrtomium/" ><img class="img-responsive" src="{{ 'assets/images/ferns/cyrtomium.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">


                             <a href="/ferns/cyrtomium/" ><h3>Cyrtomium: Holly Fern</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/dryopteris/" ><img class="img-responsive" src="{{ 'assets/images/ferns/dryopteris.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">


                             <a href="/ferns/dryopteris/" ><h3>Dryopteris: Wood Fern</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item evergreen native">
                    <div class="portfolio-item-inner">
                        <a href="/natives/ferns/" ><img class="img-responsive" src="{{ 'assets/images/ferns/nativefernspage.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">


                             <a href="/natives/ferns/" ><h3>Native Ferns</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen native">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/polystichum" ><img class="img-responsive" src="{{ 'assets/images/ferns/polystichum.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">


                             <a href="/ferns/polystichum/" ><h3>Polystichum: Sword Fern</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->