        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Bulbs for all seasons</h2>
               <p class="text-center wow fadeInDown">October is the prime time to be planting new tulips, daffodils, hyacinths, and much more for spring flowers. Enrich your soil, check your proper planting depth, and enjoy! It is also a fine time if you need to thin or divide existing patches of bulbs. </p>
	             </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/bulbs/dahlia/" ><img class="img-responsive" src="{{ 'assets/images/bulbs/dahlia.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <h3>Dahlia</h3>

                           <a class="preview" href="/bulbs/dahlia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/bulbs/fritillaria/" ><img class="img-responsive" src="{{ 'assets/images/bulbs/fritillaria.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Fritillaria</h3>

                            <a class="preview" href="/bulbs/fritillaria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/bulbs/iris/" ><img class="img-responsive" src="{{ 'assets/images/bulbs/iris.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Iris</h3>

                            <a class="preview" href="/bulbs/iris/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/bulbs/narcissus" ><img class="img-responsive" src="{{ 'assets/images/bulbs/narcissus.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Narcissus: Daffodil</h3>

                            <a class="preview" href="/bulbs/narcissus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/bulbs/tulip" ><img class="img-responsive" src="{{ 'assets/images/bulbs/tulip.jpg'|theme }}" alt="Bulbs" /></a>
                        <div class="portfolio-info">
                            <h3>Tulip</h3>

                            <a class="preview" href="/bulbs/tulip/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->