description = "image list of natives"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Natives</h2>
               <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Natives</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".bedding">Bedding Plants</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/abies/"><img class="img-responsive" src="{{ 'assets/images/natives/abies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Abies: Native Fir</h3>
                           <a class="preview" href="/natives/abies/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Acer Circinatum: Vine Maple</h3>
                           <a class="preview" href="/natives/acer-circinatum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a class="preview" href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Actaea: Bugbane</h3>
                           <a class="preview" href="/natives/actaea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Aquilegia: Columbine</h3>
                           <a class="preview" href="/natives/aquilegia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Arbutus: Pacific Madrone</h3>
                           <a class="preview" href="/natives/arbutus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Asarum: Wild Ginger</h3>
                           <a class="preview" href="/natives/asarum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Asclepias: Milkweed</h3>
                           <a class="preview" href="/natives/asclepias/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/camassia/"><img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Camassia: Camas</h3>
                           <a class="preview" href="/natives/camassia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Ceanothus: Wild Lilac</h3>
                           <a class="preview" href="/natives/ceanothus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/cornus-sericea/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Cornus sericea</h3>
                          Red Twig Dogwood
                           <a class="preview" href="/natives/cornus-sericea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/corylus/"><img class="img-responsive" src="{{ 'assets/images/natives/corylus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Corylus cornuta</h3>
                          Beaked Hazelnut
                           <a class="preview" href="/natives/corylus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/dodecatheon/"><img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Dodecatheon: Shooting Star</h3>
                           <a class="preview" href="/natives/dodecatheon/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/erigeron/"><img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Erigeron: Fleabane</h3>
                           <a class="preview" href="/natives/erigeron/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/eriophyllum/"><img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Eriophyllum: Oregon Sunshine</h3>
                           <a class="preview" href="/natives/eriophyllum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/ferns/"><img class="img-responsive" src="{{ 'assets/images/natives/nativeferns.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Ferns</h3>
                           <a class="preview" href="/natives/ferns/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/fragaria/"><img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Fragaria: Wild Strawberry</h3>
                           <a class="preview" href="/natives/fragaria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/gaultheria/"><img class="img-responsive" src="{{ 'assets/images/natives/gaultheria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Gaultheria shallon: Salal</h3>
                           <a class="preview" href="/natives/gaultheria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/holodiscus/"><img class="img-responsive" src="{{ 'assets/images/natives/holodiscus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Holodiscus: Oceanspray</h3>
                           <a class="preview" href="/natives/holodiscus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/iris/"><img class="img-responsive" src="{{ 'assets/images/natives/iris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Native Iris</h3>
                           <a class="preview" href="/natives/iris/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/lewisia/"><img class="img-responsive" src="{{ 'assets/images/natives/lewisia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Lewisia: Bitterroot</h3>
                           <a class="preview" href="/natives/lewisia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/mahonia/"><img class="img-responsive" src="{{ 'assets/images/natives/mahonia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Mahonia: Oregon Grape</h3>
                           <a class="preview" href="/natives/mahonia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/malus-fusca/"><img class="img-responsive" src="{{ 'assets/images/natives/malus-fusca.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Malus fusca</h3>
                          Western Crabapple
                           <a class="preview" href="/natives/malus-fusca/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/osmaronia/"><img class="img-responsive" src="{{ 'assets/images/natives/osmaronia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Osmaronia: Indian Plum</h3>
                           <a class="preview" href="/natives/osmaronia/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/penstemon/"><img class="img-responsive" src="{{ 'assets/images/natives/penstemon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Penstemon: Beard Tongue</h3>
                           <a class="preview" href="/natives/penstemon/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/philadelphus/"><img class="img-responsive" src="{{ 'assets/images/natives/philadelphus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Philadelphus: Mock Orange</h3>
                           <a class="preview" href="/natives/philadelphus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/natives/physocarpus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Physocarpus</h3>
                          Western Ninebark
                           <a class="preview" href="/natives/physocarpus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/pinus/"><img class="img-responsive" src="{{ 'assets/images/natives/pinus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Pinus: Native Pine</h3>
                           <a class="preview" href="/natives/pinus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/quercus/"><img class="img-responsive" src="{{ 'assets/images/natives/quercus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Quercus: Garry Oak</h3>
                           <a class="preview" href="/natives/quercus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rhamnus/"><img class="img-responsive" src="{{ 'assets/images/natives/rhamnus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rhamnus: Cascara</h3>
                           <a class="preview" href="/natives/rhamnus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/ribes/"><img class="img-responsive" src="{{ 'assets/images/natives/ribes.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Ribes: Wild Currant</h3>
                           <a class="preview" href="/natives/ribes/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rosa/"><img class="img-responsive" src="{{ 'assets/images/natives/rosa.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rosa: Wild Rose</h3>
                           <a class="preview" href="/natives/rosa/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/rubus/"><img class="img-responsive" src="{{ 'assets/images/natives/rubus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Rubus: Salmonberry</h3>
                           <a class="preview" href="/natives/rubus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/sambucus/"><img class="img-responsive" src="{{ 'assets/images/natives/sambucus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Sambucus: Elderberry</h3>
                           <a class="preview" href="/natives/sambucus/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/sedum/"><img class="img-responsive" src="{{ 'assets/images/natives/sedum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Sedum: Stonecrop</h3>
                           <a class="preview" href="/natives/sedum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/sidalcea/"><img class="img-responsive" src="{{ 'assets/images/natives/sidalcea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Sidalcea: Checker Mallow</h3>

                           <a class="preview" href="/natives/sidalcea/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/sisyrinchium/"><img class="img-responsive" src="{{ 'assets/images/natives/sisyrinchium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Sisyrinchium</h3>
                          Blue-eyed Grass
                           <a class="preview" href="/natives/sisyrinchium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/solidago/"><img class="img-responsive" src="{{ 'assets/images/natives/solidago.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Solidago: Goldenrod</h3>
                            <a class="preview" href="/natives/solidago/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/symphoricarpos/"><img class="img-responsive" src="{{ 'assets/images/natives/symphoricarpos.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Symphoricarpos: Snowberry</h3>
                           <a class="preview" href="/natives/symphoricarpos/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/synthyris/"><img class="img-responsive" src="{{ 'assets/images/natives/synthyris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Synthyris: Native Figwort</h3>
                           <a class="preview" href="/natives/synthyris/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/trillium/"><img class="img-responsive" src="{{ 'assets/images/natives/trillium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Trillium: Wake Robin</h3>
                           <a class="preview" href="/natives/trillium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/natives/vaccinium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Vaccinium: Huckleberry</h3>
                           <a class="preview" href="/natives/vaccinium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/vancouveria/"><img class="img-responsive" src="{{ 'assets/images/natives/vancouveria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Vancouveria: Inside-out Flower</h3>

                           <a class="preview" href="/natives/vancouveria/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives/viburnum-trilobum/"><img class="img-responsive" src="{{ 'assets/images/natives/viburnum-trilobum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Viburnum trilobum</h3>
                          Cranberrybush
                           <a class="preview" href="/natives/viburnum-trilobum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a class="preview" href="/natives//"><img class="img-responsive" src="{{ 'assets/images/natives/viola.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Viola: Violet</h3>
                           <a class="preview" href="/natives/viola/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->