       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Plants & Tips for Vegetable Gardens.</h2>
<!--                <p class="text-center wow fadeInDown">Vines have an essential role in creating the look and feel you want in your yard and often have the added benefit of easy care.</p> -->
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".allium">Allium</a></li>
                <li><a href="#" data-filter=".beets">Beets/Lettuce/Artichokes</a></li>
                <li><a href="#" data-filter=".brassicas">Brassicas</a></li>
                <li><a href="#" data-filter=".carrot">Carrot Family</a></li>
                <li><a href="#" data-filter=".cucurbits">Cucurbits</a></li>
                <li><a href="#" data-filter=".legumes">Legumes/Corn</a></li>
                <li><a href="#" data-filter=".solanums">Solanums</a></li>
                <li><a href="#" data-filter=".tomato">Tomato</a></li>
                <li><a href="#" data-filter=".other">Other</a></li>
			</ul>
  </div>

	            <div class="portfolio-items">

		          <div class="portfolio-item beets">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/artichoke/" ><img class="img-responsive" src="{{ 'assets/images/veggies/artichoke.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/artichoke/" ><h3>Artichoke</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/asian-greens/" ><img class="img-responsive" src="{{ 'assets/images/veggies/asian-greens.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/asian-greens/" ><h3>Asian Greens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/asparagus/" ><img class="img-responsive" src="{{ 'assets/images/veggies/asparagus.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/asparagus/" ><h3>Asparagus</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item legumes">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/beans/" ><img class="img-responsive" src="{{ 'assets/images/veggies/greenbean.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/beans/" ><h3>Beans</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item beets">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/beets/" ><img class="img-responsive" src="{{ 'assets/images/veggies/beets.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/beets/" ><h3>Beets</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/broccoli/" ><img class="img-responsive" src="{{ 'assets/images/veggies/broccoli.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/broccoli/" ><h3>Broccoli</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/brusselssprouts/" ><img class="img-responsive" src="{{ 'assets/images/veggies/brusselssprouts.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/brusselssprouts/" ><h3>Brussels Sprouts</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/cabbage/" ><img class="img-responsive" src="{{ 'assets/images/veggies/cabbage.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/cabbage/" ><h3>Cabbage</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item carrot">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/carrots/" ><img class="img-responsive" src="{{ 'assets/images/veggies/carrots.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/carrots/" ><h3>Carrots</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item carrot">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/celery/" ><img class="img-responsive" src="{{ 'assets/images/veggies/celery.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/celery/" ><h3>Celery</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/cauliflower/" ><img class="img-responsive" src="{{ 'assets/images/veggies/cauliflower.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/cauliflower/" ><h3>Cauliflower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item beets">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/chard/" ><img class="img-responsive" src="{{ 'assets/images/veggies/charda.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/chard/" ><h3>Swiss Chard</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/companion-planting/" ><img class="img-responsive" src="{{ 'assets/images/veggies/companionplants.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/companion-planting/" ><h3>Companion Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item legumes">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/corn/" ><img class="img-responsive" src="{{ 'assets/images/veggies/corna.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/corn/" ><h3>Corn</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/cover-crops/" ><img class="img-responsive" src="{{ 'assets/images/veggies/covercrops.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/cover-crops/" ><h3>Cover Crops</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/crop-rotation/" ><img class="img-responsive" src="{{ 'assets/images/veggies/croprotation.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/crop-rotation/" ><h3>Crop Rotation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item cucurbits">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/cucumber/" ><img class="img-responsive" src="{{ 'assets/images/veggies/cucumber.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/cucumber/" ><h3>Cucumber</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item solanums">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/eggplant/" ><img class="img-responsive" src="{{ 'assets/images/veggies/eggplant.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/eggplant/" ><h3>Eggplant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item allium">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/garlic/" ><img class="img-responsive" src="{{ 'assets/images/veggies/garlic.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/garlic/" ><h3>Garlic</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/heirloom/" ><img class="img-responsive" src="{{ 'assets/images/veggies/heirloom.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/heirloom/" ><h3>Heirloom Veggies</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                   <div class="portfolio-item brassicas">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/kale/" ><img class="img-responsive" src="{{ 'assets/images/veggies/kalea.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/kale/" ><h3>Kale & Collards</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item allium">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/leek/" ><img class="img-responsive" src="{{ 'assets/images/veggies/leek.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/leek/" ><h3>Leek</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item beets">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/lettuce/" ><img class="img-responsive" src="{{ 'assets/images/veggies/lettucea.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/lettuce/" ><h3>Lettuce</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item cucurbits">
                 <div class="portfolio-item-inner">
                         <a href="/veggies/melon/" ><img class="img-responsive" src="{{ 'assets/images/veggies/melon.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/melon/" ><h3>Melon</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item allium">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/onions/" ><img class="img-responsive" src="{{ 'assets/images/veggies/onionstarts.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/onions/" ><h3>Onions</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item legumes">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/peas/" ><img class="img-responsive" src="{{ 'assets/images/veggies/pea.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/peas/" ><h3>Peas</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item solanums">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/peppers/" ><img class="img-responsive" src="{{ 'assets/images/veggies/pepper.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/peppers/" ><h3>Peppers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item solanums">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/potatoes/" ><img class="img-responsive" src="{{ 'assets/images/veggies/potato.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/potatoes/" ><h3>Potatoes</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/seeds/" ><img class="img-responsive" src="{{ 'assets/images/veggies/seeds.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/seeds/" >  <h3>Seeds &amp; Seed Starting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item allium">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/shallots/" ><img class="img-responsive" src="{{ 'assets/images/veggies/shallot.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/shallots/" ><h3>Shallots</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item cucurbits">
                 <div class="portfolio-item-inner">
                         <a href="/veggies/squash/" ><img class="img-responsive" src="{{ 'assets/images/veggies/squasha.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/squash/" ><h3>Squash & Pumpkins</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/succession-planting/" ><img class="img-responsive" src="{{ 'assets/images/veggies/successionplants.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/succession-planting/" > <h3>Succession Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item tomato">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/tomatillo/" ><img class="img-responsive" src="{{ 'assets/images/veggies/tomatillo.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/tomatillo/" > <h3>Tomatillo & Ground Cherries</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item tomato">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/tomatoes/" ><img class="img-responsive" src="{{ 'assets/images/veggies/tomato.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/tomatoes/" > <h3>Tomato</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/" ><img class="img-responsive" src="{{ 'assets/images/veggies/vegculture.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/" ><h3>Vegetable Culture</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/veggie-calendar/" ><img class="img-responsive" src="{{ 'assets/images/veggies/vegcalendar.jpg'|theme }}" alt="Vegetable Planting Calendar" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/veggie-calendar/" ><h3>Veggie Planting Calendar</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item other">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/winter-veggies/" ><img class="img-responsive" src="{{ 'assets/images/veggies/winter-veggies.jpg'|theme }}" alt="Veggies" /></a>
							<div class="portfolio-info">
                            <a href="/veggies/winter-veggies/" ><h3>Winter Veggies</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
             </div>
        </div><!--/.container-->