<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Fruit and Nut-bearing Trees for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a variety of fruit and nut-bearing trees appropriate to our region. Our best selection is from February through May.</p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Trees</a></li>
                <li><a href="#" data-filter=".nut">Nut Trees</a></li>
                <li><a href="#" data-filter=".fruit">Fruit Trees</a></li>
                 <li><a href="#" data-filter=".help">Help with Fruit Trees</a></li>
            </ul>
  </div>

            <div class="portfolio-items">

                 <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/apple/" ><img class="img-responsive" src="{{ 'assets/images/fruits/apple.jpg'|theme }}" alt="almond" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/apple/" ><h3>Apple Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/apricot/" ><img class="img-responsive" src="{{ 'assets/images/fruits/apricot.jpg'|theme }}" alt="apricot" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/apricot/" ><h3>Apricot Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/banana/" ><img class="img-responsive" src="{{ 'assets/images/fruits/banana.jpg'|theme }}" alt="banana" /></a>
							<div class="portfolio-info">
                            <a href="/shrubs/banana/" ><h3>Banana Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                     <div class="portfolio-item small help">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/small-fruits/" ><img class="img-responsive" src="{{ 'assets/images/fruits/smallfruits.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/small-fruits/" ><h3>Berries & Small Fruits</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/cherry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/cherry.jpg'|theme }}" alt="cherry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/cherry/" ><h3>Cherry Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut flowering large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/chestnut/" ><img class="img-responsive" src="{{ 'assets/images/fruits/chestnut.jpg'|theme }}" alt="chestnut" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/chestnut/" ><h3>Chestnut Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/citrus/" ><img class="img-responsive" src="{{ 'assets/images/fruits/citrus.jpg'|theme }}" alt="citrus" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/citrus/" ><h3>Citrus</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item flowering help">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/espaliered-fruit/" ><img class="img-responsive" src="{{ 'assets/images/fruits/espalieredfruit.jpg'|theme }}" alt="espaliered fruits" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/espaliered-fruit/" ><h3>Espaliered Fruit Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/fig/" ><img class="img-responsive" src="{{ 'assets/images/fruits/fig.jpg'|theme }}" alt="fig" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/fig/" ><h3>Fig Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut flowering small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/filbert/" ><img class="img-responsive" src="{{ 'assets/images/fruits/filbert.jpg'|theme }}" alt="filbert" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/filbert/" ><h3>Filbert Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/mulberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/mulberry.jpg'|theme }}" alt="mulberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/mulberry/" ><h3>Mulberry Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
<!--
                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/nectarine/" ><img class="img-responsive" src="{{ 'assets/images/fruits/nectarine.jpg'|theme }}" alt="nectarine" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/nectarine/" ><h3>Nectarine Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

<!--
                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/peach/" ><img class="img-responsive" src="{{ 'assets/images/fruits/peach.jpg'|theme }}" alt="nectarine" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/peach/" ><h3>Peach Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/peach-nectarine/" ><img class="img-responsive" src="{{ 'assets/images/fruits/peach.jpg'|theme }}" alt="nectarine" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/peach-nectarine/" ><h3>Peach & Nectarine Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/asian-pear/" ><img class="img-responsive" src="{{ 'assets/images/fruits/asian-pear.jpg'|theme }}" alt="asian-pear" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/asian-pear/" ><h3>Asian Pear Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/european-pear/" ><img class="img-responsive" src="{{ 'assets/images/fruits/pear.jpg'|theme }}" alt="pear" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/european-pear/" ><h3>European Pear Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/persimmon/" ><img class="img-responsive" src="{{ 'assets/images/fruits/persimmon.jpg'|theme }}" alt="persimmon" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/persimmon/" ><h3>Persimmon Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/plum-prune/" ><img class="img-responsive" src="{{ 'assets/images/fruits/plum.jpg'|theme }}" alt="plum" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/plum-prune/" ><h3>Plum & Prune Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/prunus-hybrid/" ><img class="img-responsive" src="{{ 'assets/images/fruits/prunus-hybrid.jpg'|theme }}" alt="plum" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/prunus-hybrid/" ><h3>Prunus Hybrid Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
                <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/pruning-fruits/" ><img class="img-responsive" src="{{ 'assets/images/fruits/pruningfruit.jpg'|theme }}" alt="pruning-fruits" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/pruning-fruits/" ><h3>Pruning Fruit Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                <div class="portfolio-item fruit small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/quince/" ><img class="img-responsive" src="{{ 'assets/images/fruits/quince.jpg'|theme }}" alt="quince" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/quince/" ><h3>Quince Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item nut  large">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/walnut/" ><img class="img-responsive" src="{{ 'assets/images/fruits/walnut.jpg'|theme }}" alt="walnut" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/walnut/" ><h3>Walnut Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->