description = "image list of shrubs"

[viewBag]
==
<div class="container top-margin">
            <div class="section-header">
	          <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Shrubs for your garden</h2>
               <p class="text-center wow fadeInDown">Read up on some of our favorite shrubs and remember, this is only a smattering of the variety of shrubs we carry all year long! Note: Viewing a Native Plant will take you into our Native Plant section. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Shrubs</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".winter">Winter Interest</a></li>
                <li><a href="#" data-filter=".fall">Fall Color</a></li>
                <li><a href="#" data-filter=".tropical">Tropical</a></li>
               <li><a href="#" data-filter=".native">Natives</a></li>
           </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

             <div class="portfolio-item sun shade fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/abelia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/abelia.jpg'|theme }}" alt="Abelia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/abelia/"><h3>Abelia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/cornus-sericea/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/cornus-sericea/" ><h3>Cornus sericea:<br /> Red Twig Dogwood</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/corylus/"><img class="img-responsive" src="{{ 'assets/images/natives/corylus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/corylus/" ><h3>Corylus cornuta:<br />Beaked Hazelnut</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/azalea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/decid-rhod.jpg'|theme }}" alt="decid-rhod"></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/azalea/"><h3>Deciduous Azalea</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun tropical">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/banana/"><img class="img-responsive" src="{{ 'assets/images/shrubs/banana.jpg'|theme }}" alt="Banana"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/banana/"><h3>Banana</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/buddleia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/buddleia.jpg'|theme }}" alt="Buddleia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/buddleia/"><h3>Buddleia:<br />Seedless Butterfly Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/callicarpa/"><img class="img-responsive" src="{{ 'assets/images/shrubs/callicarpa.jpg'|theme }}" alt="Callicarpa"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/callicarpa/"><h3>Callicarpa: Beautyberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/camellia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/camellia.jpg'|theme }}" alt="Camellia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/camellia/"><h3>Camellia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/ceanothus.jpg'|theme }}" alt="Ceanothus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/ceanothus/"><h3>Ceanothus: Wild Lilac</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/ceanothus/" ><h3>Native Ceanothus: Wild Lilac</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/chaenomeles/"><img class="img-responsive" src="{{ 'assets/images/shrubs/chaenomeles.jpg'|theme }}" alt="Chaenomeles"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/chaenomeles/"> <h3>Chaenomeles:<br />Flowering Quince</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/chimonanthus/"><img class="img-responsive" src="{{ 'assets/images//shrubs/chimonanthus.jpg'|theme }}" alt="Chimonanthus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/chimonanthus/"><h3>Chimonanthus: Wintersweet</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/clethra/"><img class="img-responsive" src="{{ 'assets/images//shrubs/clethra.jpg'|theme }}" alt="Clethra"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/clethra/"><h3>Clethra: Summersweet</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/coprosma/" ><img class="img-responsive" src="{{ 'assets/images/shrubs/coprosma.jpg'|theme }}" alt="Perennials" /></a>
							<div class="portfolio-info">

                            <a href="/shrubs/coprosma/" ><h3>Coprosma: Mirror Plant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade fall winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/cornus-redtwig/"><img class="img-responsive" src="{{ 'assets/images/shrubs/cornus.jpg'|theme }}" alt="Cornus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/cornus-redtwig/"><h3>Cornus: Red Twig Dogwood</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun shade fall winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/corylopsis/"><img class="img-responsive" src="{{ 'assets/images/shrubs/corylopsis.jpg'|theme }}" alt="Corylopsis"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/corylopsis/"><h3>Corylopsis: Winter Hazel</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/corylus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/corylus.jpg'|theme }}" alt="Corylus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/corylus/"><h3>Corylus: Filberts &amp; Hazels</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/cotinus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/cotinus.jpg'|theme }}" alt="Cotinus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/cotinus/"><h3>Cotinus: Smoke Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade winter fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/daphne/"><img class="img-responsive" src="{{ 'assets/images/shrubs/daphne.jpg'|theme }}" alt="Daphne"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/daphne/"><h3>Daphne</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade winter fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/edgeworthia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/edgeworthia.jpg'|theme }}" alt="Edgeworthia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/edgeworthia/"> <h3>Edgeworthia:<br /> Chinese Paper Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/elaeagnus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/elaeagnus.jpg'|theme }}" alt="Elaeagnus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/elaeagnus/"> <h3>Elaeagnus:<br /> Silverberry &amp; Goumi Berry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade fragrance tropical">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/gardenia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/gardenia.jpg'|theme }}" alt="Gardenia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/gardenia/"><h3>Hardy Gardenia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/gaultheria/"><img class="img-responsive" src="{{ 'assets/images/natives/gaultheria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/gaultheria/" ><h3>Gaultheria shallon: Salal</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun fall winter fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/hamamelis/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hamamelis.jpg'|theme }}" alt="Hamamelis"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/hamamelis/"><h3>Hamamelis: Witch Hazel</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/heathers/"><img class="img-responsive" src="{{ 'assets/images/shrubs/ericacaea.jpg'|theme }}" alt="Heathers"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/heathers/"><h3>Heathers &amp; Heaths</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/hebe/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hebe.jpg'|theme }}" alt="Hebe"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/hebe/"><h3>Hebe</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/hedges/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hedges.jpg'|theme }}" alt="Hedges"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/hedges/"><h3>Hedges</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/holodiscus/"><img class="img-responsive" src="{{ 'assets/images/natives/holodiscus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/holodiscus/" ><h3>Holodiscus: Oceanspray</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/hydrangea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/hydrangea.jpg'|theme }}" alt="Hydrangea"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/hydrangea/"><h3>Hydrangea</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/itea/"><img class="img-responsive" src="{{ 'assets/images/shrubs/itea.jpg'|theme }}" alt="Itea"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/itea/"> <h3>Itea: Sweetspire</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/lagerstroemia/"><img class="img-responsive" src="{{ 'assets/images/shrubs/lagerstroemia.jpg'|theme }}" alt="Lagerstroemia"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/lagerstroemia/"><h3>Lagerstroemia: Crape Myrtle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/lonicera/"><img class="img-responsive" src="{{ 'assets/images/shrubs/lonicera.jpg'|theme }}" alt="Lonicera"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/lonicera/"><h3>Lonicera: Honeysuckle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/mahonia/"><img class="img-responsive" src="{{ 'assets/images/natives/mahonia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/mahonia/" ><h3>Mahonia: Oregon Grape</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
               <div class="portfolio-item sun shade winter">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/nandina/"><img class="img-responsive" src="{{ 'assets/images/shrubs/nandina.jpg'|theme }}" alt="Nandina"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/nandina/"> <h3>Nandina: Heavenly Bamboo</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                  <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/osmaronia/"><img class="img-responsive" src="{{ 'assets/images/natives/osmaronia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/osmaronia/" > <h3>Osmaronia: Indian Plum</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun tropical">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/palm/"><img class="img-responsive" src="{{ 'assets/images/shrubs/palm.jpg'|theme }}" alt="Palms"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/palm/"><h3>Hardy Palm</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/philadelphus/"><img class="img-responsive" src="{{ 'assets/images/natives/philadelphus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/philadelphus/" ><h3>Philadelphus: Mock Orange</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/phyllostachys/" ><img class="img-responsive" src="{{ 'assets/images/shrubs/phyllostachys.jpg'|theme }}" alt="Bamboo" /></a>
							<div class="portfolio-info">


                            <a href="/shrubs/phyllostachys/" > <h3>Phyllostachys: Bamboo</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

			   <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/physocarpus.jpg'|theme }}" alt="Physocarpus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/physocarpus/"><h3>Physocarpus: Ninebark</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/natives/physocarpus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/physocarpus/" ><h3>Physocarpus: Ninebark</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/punica/"><img class="img-responsive" src="{{ 'assets/images/shrubs/punica.jpg'|theme }}" alt="Punica"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/punica/"><h3>Punica: Pomegranate</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/ribes/"><img class="img-responsive" src="{{ 'assets/images/natives/ribes.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/ribes/" ><h3>Native Ribes: Wild Currant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rosa/"><img class="img-responsive" src="{{ 'assets/images/natives/rosa.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rosa/" ><h3>Rosa: Wild Rose</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rubus/"><img class="img-responsive" src="{{ 'assets/images/natives/rubus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rubus/" ><h3>Rubus: Salmonberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               	<div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/salix/"><img class="img-responsive" src="{{ 'assets/images/shrubs/salix.jpg'|theme }}" alt="Willow"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/salix/"><h3>Salix: Willow</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/sambucus/"><img class="img-responsive" src="{{ 'assets/images/shrubs/sambucus.jpg'|theme }}" alt="Sambucus"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/sambucus/"><h3>Sambucus: Elderberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sambucus/"><img class="img-responsive" src="{{ 'assets/images/natives/sambucus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sambucus/" ><h3>Sambucus: Elderberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item shade winter fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/sarcococca/"><img class="img-responsive" src="{{ 'assets/images/shrubs/sarcococca.jpg'|theme }}" alt="Sarcococca"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/sarcococca/"><h3>Sarcococca: Sweet Box</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/symphoricarpos/"><img class="img-responsive" src="{{ 'assets/images/natives/symphoricarpos.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/symphoricarpos/" ><h3>Symphoricarpos: Snowberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun fragrance">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/syringa/"><img class="img-responsive" src="{{ 'assets/images/shrubs/syringa.jpg'|theme }}" alt="Lilac"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/syringa/"><h3>Syringa: Lilac</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/shrubs/vaccinium.jpg'|theme }}" alt="Vaccinium"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/vaccinium/"><h3>Vaccinium: Huckleberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/natives/vaccinium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/vaccinium/" ><h3>Native Huckleberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun fall">
                    <div class="portfolio-item-inner">
                          <a href="/shrubs/viburnum/"><img class="img-responsive" src="{{ 'assets/images/shrubs/viburnum.jpg'|theme }}" alt="Viburnum"/></a>
                    <div class="portfolio-info">

                         <a href="/shrubs/viburnum/"> <h3>Viburnum: Arrowwood</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/viburnum-trilobum/"><img class="img-responsive" src="{{ 'assets/images/natives/viburnum-trilobum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/viburnum-trilobum/" ><h3>Native Viburnum trilobum:<br /> Cranberrybush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->