        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Plant Pages</h2>
               <p class="text-center wow fadeInDown">Visit individual plant categories for more detail.</p>
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ferns</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".portfolio">Portfolio</a></li>
                </ul>
            </div>
--><!--/#portfolio-filter-->

            <div class="portfolio-items">

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/annuals/"><img class="img-responsive" src="{{ 'assets/images/plants/annuals.jpg'|theme }}" alt="Annuals"/></a>
                        <div class="portfolio-info">

                             <a href="/annuals/"><h3>Annuals</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/perennials/bulbs/"><img class="img-responsive" src="{{ 'assets/images/plants/bulbs.jpg'|theme }}" alt="bulbs"></a>
                        <div class="portfolio-info">


                             <a href="/perennials/bulbs/" ><h3>Bulbs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/container-gardens/"><img class="img-responsive" src="{{ 'assets/images/plants/container-gardening.jpg'|theme }}" alt="container gardens"></a>
                        <div class="portfolio-info">


                             <a href="/container-gardens/" > <h3>Container Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/"><img class="img-responsive" src="{{ 'assets/images/plants/ferns.jpg'|theme }}" alt="Ferns"></a>
                        <div class="portfolio-info">


                             <a href="/ferns/" ><h3>Ferns</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/fruits/"><img class="img-responsive" src="{{ 'assets/images/plants/small-fruits.jpg'|theme }}" alt="Ferns"></a>
                        <div class="portfolio-info">


                             <a href="/fruits/" ><h3>Small Fruits</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/fruits/fruit-trees/"><img class="img-responsive" src="{{ 'assets/images/plants/fruit-trees.jpg'|theme }}" alt="Ferns"></a>
                        <div class="portfolio-info">


                             <a href="/fruits/fruit-trees/" ><h3>Fruit Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/grasses"><img class="img-responsive" src="{{ 'assets/images/plants/grasses.jpg'|theme }}" alt="Grasses"></a>
							<div class="portfolio-info">


                            <a href="/grasses/" > <h3>Grasses</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/herbs/"><img class="img-responsive" src="{{ 'assets/images/plants/herbs.jpg'|theme }}" alt="Herbs"></a>
							<div class="portfolio-info">


                            <a href="/herbs/" > <h3>Herbs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/"><img class="img-responsive" src="{{ 'assets/images/plants/houseplants.jpg'|theme }}" alt="houseplants"></a>
							<div class="portfolio-info">


                            <a href="/houseplants/" ><h3>Houseplants</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

<!--
                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/plants/lawn/"><img class="img-responsive" src="{{ 'assets/images/plants/lawn.jpg'|theme }}" alt="lawn"/></a>
							<div class="portfolio-info">
                            <h3>Lawn</h3>
                            <a href="/plants/lawn/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
--><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                          <a href="/natives/"><img class="img-responsive" src="{{ 'assets/images/plants/natives.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Natives</h3>
                            <a href="/natives/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/" ><img class="img-responsive" src="{{ 'assets/images/plants/perennials.jpg'|theme }}" alt="Perennials"></a>
							<div class="portfolio-info">
                            <h3>Perennials</h3>
                            <a href="/perennials/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item shade">
                    <div class="portfolio-item-inner">
                        <a href="/roses/"><img class="img-responsive" src="{{ 'assets/images/plants/roses.jpg'|theme }}" alt="Ferns"></a>
                        <div class="portfolio-info">
                            <h3>Roses</h3>

                             <a href="/roses/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/seeds/"><img class="img-responsive" src="{{ 'assets/images/plants/seeds.jpg'|theme }}" alt="seeds"/></a>
                    <div class="portfolio-info">
                            <h3>Seeds</h3>
                         <a href="/veggies/seeds/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/shrubs/"><img class="img-responsive" src="{{ 'assets/images/plants/shrubs.jpg'|theme }}" alt="Callicarpa"/></a>
                    <div class="portfolio-info">
                            <h3>Shrubs</h3>
                         <a href="/shrubs/"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a href="/trees/"><img class="img-responsive" src="{{ 'assets/images/plants/trees.jpg'|theme }}" alt="Trees"></a>
							<div class="portfolio-info">
                            <h3>Trees</h3>

                            <a href="/trees/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a href="/veggies/"><img class="img-responsive" src="{{ 'assets/images/plants/veggies.jpg'|theme }}" alt="Veggies"></a>
							<div class="portfolio-info">
                            <h3>Veggies</h3>

                            <a href="/veggies/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a href="/vines/"><img class="img-responsive" src="{{ 'assets/images/plants/vines.jpg'|theme }}" alt="Vines"></a>
							<div class="portfolio-info">
                            <h3>Vines</h3>

                            <a href="/vines/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item evergreen select">
                    <div class="portfolio-item-inner">
                         <a href="/water-plants/"><img class="img-responsive" src="{{ 'assets/images/plants/waterplants.jpg'|theme }}" alt="water-plants"></a>
							<div class="portfolio-info">
                            <h3>Water Plants</h3>

                            <a href="/water-plants/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->