        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Houseplants for all seasons</h2>
               <p class="text-center wow fadeInDown">From <em>Aloe</em> to <em>Zygopetalum</em>, we cover the alphabet with choices for your home or office; plants for your brightest window or your darkest corner, those that willa love the humidity near your shower or prefer a dry, sunny spot. Orchids, succulents, indoor bonsai and cactus. We have them all.

You'll find our featured houseplants below. We carry our largest of houseplants at our Division location. This is only a brief list.</p>
	             </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/aechmea/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/aechmea.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/aechmea/" ><h3>Aechmea</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/bonsai/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/bonsai.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/bonsai/" ><h3>Bonsai</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/bromeliad/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/bromeliad.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/bromeliad/" ><h3>Bromeliad</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/cissus/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/cissus.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/cissus/" ><h3>Cissus</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/cymbidium-orchid/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/cymbidium-orchid.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/cymbidium-orchid/" ><h3>Cymbidium Orchid</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/dieffenbachia/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/dieffenbachia.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/dieffenbachia/" ><h3>Dieffenbachia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/dracaena/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/dracaena.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/dracaena/" ><h3>Dracaena</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/ferns/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/ferns.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/Ferns/" ><h3>Ferns</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/monstera/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/monstera.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/monstera/" ><h3>Monstera</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/sansevieria/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/sansevieria.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/sansevieria/" ><h3>Sansevieria</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/houseplants/tillandsia/" ><img class="img-responsive" src="{{ 'assets/images/houseplants/tillandsia.jpg'|theme }}" alt="Houseplants" /></a>
							<div class="portfolio-info">


                            <a href="/houseplants/tillandsia/" ><h3>Tillandsia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->