description = "image list of natives"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find Natives for your garden</h2>
               <p class="text-center wow fadeInDown">We offer a great selection of Northwest Natives from spring through fall. The plants featured are highlighted favorites, but they do not represent ALL of the plants we carry. For a more complete list, see our <a target="_blank" href="https://portlandnursery.com/docs/native-plants/NorthwestNativePlantList.pdf">Northwest Native Plant List.</a></p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Natives</a></li>
                   <li><a href="#" data-filter=".perennial">Native Perennials</a></li>
                  <li><a href="#" data-filter=".shrub">Native Shrubs</a></li>
                  <li><a href="#" data-filter=".tree">Native Trees</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/abies/"><img class="img-responsive" src="{{ 'assets/images/natives/abies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/abies/" > <h3>Abies: Native Fir</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/acer-circinatum/" ><h3>Acer Circinatum: Vine Maple</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                           <a href="/natives/actaea/"><img class="img-responsive" src="{{ 'assets/images/natives/actaea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/actaea/" ><h3>Actaea: Bugbane</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/aquilegia/"><img class="img-responsive" src="{{ 'assets/images/natives/aquilegia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/aquilegia/" > <h3>Aquilegia: Columbine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/arbutus/" ><h3>Arbutus: Pacific Madrone</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/asarum/"><img class="img-responsive" src="{{ 'assets/images/natives/asarum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/asarum/" ><h3>Asarum: Wild Ginger</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/asclepias/"><img class="img-responsive" src="{{ 'assets/images/natives/asclepias.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/asclepias/" ><h3>Asclepias: Milkweed</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/butterflies/"><img class="img-responsive" src="{{ 'assets/images/natives/butterflies.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/butterflies/" ><h3>Attracting Butterflies</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/camassia/"><img class="img-responsive" src="{{ 'assets/images/natives/camassia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/camassia/" ><h3>Camassia: Camas</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/ceanothus/"><img class="img-responsive" src="{{ 'assets/images/natives/ceanothus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/ceanothus/" ><h3>Ceanothus: Wild Lilac</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/cornus-sericea/"><img class="img-responsive" src="{{ 'assets/images/natives/cornus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/cornus-sericea/" ><h3>Cornus sericea:<br />
                          Red Twig Dogwood</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item shade shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/corylus/"><img class="img-responsive" src="{{ 'assets/images/natives/corylus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/corylus/" ><h3>Corylus cornuta:<br />
                          Beaked Hazelnut</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/dodecatheon/"><img class="img-responsive" src="{{ 'assets/images/natives/dodecatheon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/dodecatheon/" ><h3>Dodecatheon: Shooting Star</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun shrub perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/edible-fruits/"><img class="img-responsive" src="{{ 'assets/images/natives/edible-fruits.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/edible-fruits/" ><h3>Edible Fruits</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/erigeron/"><img class="img-responsive" src="{{ 'assets/images/natives/erigeron.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/erigeron/" ><h3>Erigeron: Fleabane</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/eriophyllum/"><img class="img-responsive" src="{{ 'assets/images/natives/eriophyllum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/eriophyllum/" ><h3>Eriophyllum:<br />Oregon Sunshine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/ferns/"><img class="img-responsive" src="{{ 'assets/images/natives/nativeferns.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/ferns/" ><h3>Native Ferns</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/fragaria/"><img class="img-responsive" src="{{ 'assets/images/natives/fragaria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/fragaria/" ><h3>Fragaria: Wild Strawberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/gaultheria/"><img class="img-responsive" src="{{ 'assets/images/natives/gaultheria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/gaultheria/" ><h3>Gaultheria shallon: Salal</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/holodiscus/"><img class="img-responsive" src="{{ 'assets/images/natives/holodiscus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/holodiscus/" ><h3>Holodiscus: Oceanspray</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/hummingbirds/"><img class="img-responsive" src="{{ 'assets/images/natives/hummingbirds.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/hummingbirds/" ><h3>Attracting Hummingbirds</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/iris/"><img class="img-responsive" src="{{ 'assets/images/natives/iris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/iris/" ><h3>Native Iris</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/lewisia/"><img class="img-responsive" src="{{ 'assets/images/natives/lewisia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/lewisia/" ><h3>Lewisia: Bitterroot</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/mahonia/"><img class="img-responsive" src="{{ 'assets/images/natives/mahonia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/mahonia/" ><h3>Mahonia: Oregon Grape</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/malus-fusca/"><img class="img-responsive" src="{{ 'assets/images/natives/malus-fusca.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/malus-fusca/" ><h3>Malus fusca: Crabapple</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/osmaronia/"><img class="img-responsive" src="{{ 'assets/images/natives/osmaronia.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/osmaronia/" ><h3>Osmaronia: Indian Plum</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/penstemon/"><img class="img-responsive" src="{{ 'assets/images/natives/penstemon.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/penstemon/" ><h3>Penstemon: Beard Tongue</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/philadelphus/"><img class="img-responsive" src="{{ 'assets/images/natives/philadelphus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/philadelphus/" > <h3>Philadelphus: Mock Orange</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/physocarpus/"><img class="img-responsive" src="{{ 'assets/images/natives/physocarpus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/physocarpus/" ><h3>Physocarpus: Ninebark</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/pinus/"><img class="img-responsive" src="{{ 'assets/images/natives/pinus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/pinus/" ><h3>Pinus: Native Pine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/quercus/"><img class="img-responsive" src="{{ 'assets/images/natives/quercus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/quercus/" ><h3>Quercus: Garry Oak</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rhamnus/"><img class="img-responsive" src="{{ 'assets/images/natives/rhamnus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rhamnus/" ><h3>Rhamnus: Cascara</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/ribes/"><img class="img-responsive" src="{{ 'assets/images/natives/ribes.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/ribes/" ><h3>Ribes: Wild Currant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rosa/"><img class="img-responsive" src="{{ 'assets/images/natives/rosa.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rosa/" ><h3>Rosa: Wild Rose</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rubus/"><img class="img-responsive" src="{{ 'assets/images/natives/rubus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rubus/" ><h3>Rubus: Salmonberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sambucus/"><img class="img-responsive" src="{{ 'assets/images/natives/sambucus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sambucus/" ><h3>Sambucus: Elderberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sedum/"><img class="img-responsive" src="{{ 'assets/images/natives/sedum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sedum/" ><h3>Sedum: Stonecrop</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sidalcea/"><img class="img-responsive" src="{{ 'assets/images/natives/sidalcea.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">


                            <a href="/natives/sidalcea/" ><h3>Sidalcea: Checker Mallow</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/sisyrinchium/"><img class="img-responsive" src="{{ 'assets/images/natives/sisyrinchium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/sisyrinchium/" ><h3>Sisyrinchium: Blue-eyed Grass</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/solidago/"><img class="img-responsive" src="{{ 'assets/images/natives/solidago.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Solidago: Goldenrod</h3>
                             <a href="/natives/solidago/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/symphoricarpos/"><img class="img-responsive" src="{{ 'assets/images/natives/symphoricarpos.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/symphoricarpos/" > <h3>Symphoricarpos: Snowberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/synthyris/"><img class="img-responsive" src="{{ 'assets/images/natives/synthyris.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/synthyris/" ><h3>Synthyris: Native Figwort</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/trillium/"><img class="img-responsive" src="{{ 'assets/images/natives/trillium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/trillium/" > <h3>Trillium: Wake Robin</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/vaccinium/"><img class="img-responsive" src="{{ 'assets/images/natives/vaccinium.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <h3>Vaccinium: Huckleberry</h3>
                            <a href="/natives/vaccinium/" ><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/vancouveria/"><img class="img-responsive" src="{{ 'assets/images/natives/vancouveria.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">


                            <a href="/natives/vancouveria/" ><h3>Vancouveria:<br />Inside-out Flower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/viburnum-trilobum/"><img class="img-responsive" src="{{ 'assets/images/natives/viburnum-trilobum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/viburnum-trilobum/" ><h3>Viburnum trilobum:<br /> Cranberrybush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun perennial">
                    <div class="portfolio-item-inner">
                          <a href="/natives/viola/"><img class="img-responsive" src="{{ 'assets/images/natives/viola.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/viola/" ><h3>Viola: Violet</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shrub">
                    <div class="portfolio-item-inner">
                          <a href="/natives/winter-interest/"><img class="img-responsive" src="{{ 'assets/images/natives/winter-interests.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/winter-interest/" ><h3>Winter Interest</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->