        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Gardening Resources and Solutions</h2>
<!--                <p class="text-center wow fadeInDown">October is the prime time to be planting new tulips, daffodils, hyacinths, and much more for spring flowers. Enrich your soil, check your proper planting depth, and enjoy! It is also a fine time if you need to thin or divide existing patches of bulbs. </p> -->
	             </div>


            <div class="portfolio-items">

	           	<div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/resources/brochures" ><img class="img-responsive" src="{{ 'assets/images/resources/brochures.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/resources/brochures" ><h3>Brochures/Information</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	             <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/container-gardens/" ><img class="img-responsive" src="{{ 'assets/images/resources/containergardening.jpg'|theme }}" alt="Container Gardening" /></a>
							<div class="portfolio-info">


                            <a href="/container-gardens/" ><h3>Container Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/resources/curbside-pickup" ><img class="img-responsive" src="{{ 'assets/images/resources/curbsidepickup.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/resources/curbside-pickup" ><h3>Curbside Pickup</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	             <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/resources/custom-planting-plans" ><img class="img-responsive" src="{{ 'assets/images/resources/customplantingplans.jpg'|theme }}" alt="Container Gardening" /></a>
							<div class="portfolio-info">


                            <a href="/resources/custom-planting-plans" ><h3>Custom Planting Plans</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	             <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/events/yearly-events" ><img class="img-responsive" src="{{ 'assets/images/resources/events.jpg'|theme }}" alt="Community Outreach" /></a>
							<div class="portfolio-info">


                            <a href="/events/yearly-events" ><h3>Yearly Events</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/resources/frost-dates" ><img class="img-responsive" src="{{ 'assets/images/resources/frostdates.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/resources/frost-dates" ><h3>Frost Dates</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/garden-pests" ><img class="img-responsive" src="{{ 'assets/images/resources/pests.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/garden-pests" ><h3>Garden Pests</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/garden-projects" ><img class="img-responsive" src="{{ 'assets/images/resources/gardenprojects.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/garden-projects" ><h3>Garden Projects</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/resources/gift-cards" ><img class="img-responsive" src="{{ 'assets/images/resources/gift-card.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/resources/gift-cards" ><h3>Gift Cards</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/garden-projects/mulching" ><img class="img-responsive" src="{{ 'assets/images/resources/mulching.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/garden-projects/mulching" ><h3>Mulching</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	             <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/planting-solutions" ><img class="img-responsive" src="{{ 'assets/images/resources/plantingsolutions.jpg'|theme }}" alt="Resources" /></a>
							<div class="portfolio-info">


                            <a href="/planting-solutions" ><h3>Planting Solutions</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/heatwave-watering/" ><img class="img-responsive" src="{{ 'assets/images/resources/wateringtips.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <a href="/resources/heatwave-watering/" ><h3>Heatwave Watering</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/podcast/" ><img class="img-responsive" src="{{ 'assets/images/resources/podcast.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <a href="/resources/podcast/" ><h3>Weekly Podcast</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/resources/winter-prep/" ><img class="img-responsive" src="{{ 'assets/images/resources/winter-prep.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">
                            <a href="/resources/winter-prep/" ><h3>Winter Preparation</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/resources/winter-damage/" ><img class="img-responsive" src="{{ 'assets/images/resources/winterdamage.jpg'|theme }}" alt="Winter Damage"></a>
							<div class="portfolio-info">
                             <a href="/resources/winter-damage/" ><h3>Winter Damage</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->