description = "image list of ground covers"

[viewBag]
==
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Best ground covers for your Garden</h2>
               <p class="text-center wow fadeInDown">We have a selection of ground covers year round. </p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ground Covers</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/bellium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/bellium.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/bellium/" ><h3>Bellium: Miniature Daisy</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/delosperma/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/delosperma.jpg'|theme }}" alt="Bulbs" /></a>
							<div class="portfolio-info">


                             <a href="/groundcovers/delosperma/" ><h3>Delosperma: Ice Plant</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/erodium/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/erodium.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/erodium/" ><h3>Erodium: Alpine Geranium</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item ground cover sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/leptinella/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/leptinella.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/leptinella/" ><h3>Leptinella</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item ground cover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/moss/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/moss.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/moss/" ><h3>Moss</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item ground cover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/muehlenbeckia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/muehlenbeckia.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/muehlenbeckia/" ><h3>Muehlenbeckia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item ground cover sun">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/pratia/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/pratia.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/pratia/" ><h3>Pratia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun shade ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/vinca/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/vinca.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/vinca/" ><h3>Vinca: Periwinkle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item shade ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/shade/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/shade.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/shade/" ><h3>Shade Ground Covers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                                <div class="portfolio-item sun ground cover">
                    <div class="portfolio-item-inner">
                         <a href="/groundcovers/sun/" ><img class="img-responsive" src="{{ 'assets/images/groundcovers/sun.jpg'|theme }}" alt="ground covers" /></a>
							<div class="portfolio-info">

                             <a href="/groundcovers/sun/" ><h3>Sun Ground Covers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->