        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Seasonal Gardening</h2>
               <p class="text-center wow fadeInDown">Visit individual month pages for gardening ideas. Pages are regularly updated with projects for that month.</p>
            </div>

<!--
  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ferns</a></li>
                    <li><a href="#" data-filter=".shade">Shade</a></li>
                    <li><a href="#" data-filter=".sun">Sun</a></li>
                    <li><a href="#" data-filter=".portfolio">Portfolio</a></li>
                </ul>
            </div>
--><!--/#portfolio-filter-->

            <div class="portfolio-items">

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/january/"><img class="img-responsive" src="{{ 'assets/images/tips/january.jpg'|theme }}" alt="january Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/january/"><h3>January Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/february/"><img class="img-responsive" src="{{ 'assets/images/tips/february.jpg'|theme }}" alt="february Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/february/"><h3>February Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/march/"><img class="img-responsive" src="{{ 'assets/images/tips/march.jpg'|theme }}" alt="march Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/march/"><h3>March Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/april/"><img class="img-responsive" src="{{ 'assets/images/tips/april.jpg'|theme }}" alt="april Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/april/"><h3>April Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/may/"><img class="img-responsive" src="{{ 'assets/images/tips/may.jpg'|theme }}" alt="may Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/may/"><h3>May Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/june/"><img class="img-responsive" src="{{ 'assets/images/tips/june.jpg'|theme }}" alt="june Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/june/"><h3>June Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/july/"><img class="img-responsive" src="{{ 'assets/images/tips/july.jpg'|theme }}" alt="july Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/july/"><h3>July Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/august/"><img class="img-responsive" src="{{ 'assets/images/tips/august.jpg'|theme }}" alt="august Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/august/"><h3>August Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/september/"><img class="img-responsive" src="{{ 'assets/images/tips/september.jpg'|theme }}" alt="september Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/september/"><h3>September Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/october/"><img class="img-responsive" src="{{ 'assets/images/tips/october.jpg'|theme }}" alt="october Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/october/"><h3>October Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/november/"><img class="img-responsive" src="{{ 'assets/images/tips/november.jpg'|theme }}" alt="november Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/november/"><h3>November Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

 				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                        <a href="/seasonal-tips/december/"><img class="img-responsive" src="{{ 'assets/images/tips/december.jpg'|theme }}" alt="december Gardening"/></a>
                        <div class="portfolio-info">

                             <a href="/seasonal-tips/december/"><h3>December Gardening</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->



             </div>
        </div><!--/.container-->