description = "image list of trees"

[viewBag]
==
<div class="container">
            <div class="center">
	            <hr />
               <div class="headline"><h2 class="brightonM">Find the Perfect Trees</h2></div>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All trees</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".evergreen">Evergreen</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".flowering">Flowering</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".deciduous">Deciduous</a></li>
                 <li><a class="btn btn-default" href="#" data-filter=".fruit">Fruit</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

	            <div class="portfolio-items isotope" style="position: relative; overflow: hidden; height: 440px;">

		          <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/abies/"><img class="img-responsive" src="{{ 'assets/images/trees/abies.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/abies/"><h4>Abies</h4>
                            <p>The Fir Tree</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               	 <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/acer-fall-color/"><img class="img-responsive" src="{{ 'assets/images/trees/acer-fall-color.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/acer-fall-color/"><h4>Acer - Fall Color</h4>
                            <p>Acer - Fall Color</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

		          <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/acer-palmatum/"><img class="img-responsive" src="{{ 'assets/images/trees/acer-palmatum.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/acer-palmatum/"><h4>Acer Palmatum</h4>
                            <p>Japanese Maple</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               	<div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/bird-haven/"><img class="img-responsive" src="{{ 'assets/images/trees/bird-haven.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/bird-haven/"><h4>Bird Haven</h4>
                            <p></p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/cercis/"><img class="img-responsive" src="{{ 'assets/images/trees/cercis.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/cercis/"><h4>Cercis</h4>
                            <p>Redbud</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

             <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/conifers/"><img class="img-responsive" src="{{ 'assets/images/trees/conifer.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/conifers/"><h4>Conifers</h4>
                            <p>Conifers</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

          <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/cornus/"><img class="img-responsive" src="{{ 'assets/images/trees/cornus.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/cornus/"><h4>Cornus</h4>
                            <p>Dogwood</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                     <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/cryptomeria/"><img class="img-responsive" src="{{ 'assets/images/trees/cryptomeria.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/cryptomeria/"><h4>Cryptomeria</h4>
                            <p>Japanese Cedar</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                    <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/gingko/"><img class="img-responsive" src="{{ 'assets/images/trees/gingko.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/gingko/"><h4>Gingko</h4>
                            <p>Maidenhair Tree</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

                <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/heptacodium/"><img class="img-responsive" src="{{ 'assets/images/trees/heptacodium.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/heptacodium/"><h4>Heptacodium</h4>
                            <p>Seven Sons Flower</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/lagerstroemia/"><img class="img-responsive" src="{{ 'assets/images/trees/lagerstroemia.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/lagerstroemia/"><h4>Lagerstroemia</h4>
                            <p>Crape Myrtle</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/larix/"><img class="img-responsive" src="{{ 'assets/images/trees/larix.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/larix/"><h4>Larix</h4>
                            <p>Larch Tree</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/magnolia/"><img class="img-responsive" src="{{ 'assets/images/trees/magnolia.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/magnolia/"><h4>Magnolia</h4>
                            <p>Magnolia Hybrids</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/malus/"><img class="img-responsive" src="{{ 'assets/images/trees/malus.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/malus/"><h4>Malus</h4>
                            <p>Pacific NW Apple</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/miniature-conifers/"><img class="img-responsive" src="{{ 'assets/images/trees/miniature-conifers.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/miniature-conifers/"><h4>Miniature Conifers</h4>
                            <p>Miniature Conifers</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/oxydendrum/"><img class="img-responsive" src="{{ 'assets/images/trees/oxydendrum.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/oxydendrum/"><h4>Oxydendrum</h4>
                            <p>The Sourwood Tree</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/picea/"><img class="img-responsive" src="{{ 'assets/images/trees/picea.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/picea/"><h4>Picea</h4>
                            <p>The Spruce Tree</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/prunus/"><img class="img-responsive" src="{{ 'assets/images/trees/prunus.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/prunus/"><h4>Prunus</h4>
                            <p>Cherries &amp; their Prunus relatives</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/salix/"><img class="img-responsive" src="{{ 'assets/images/trees/salix.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/salix/"><h4>Salix</h4>
                            <p>Willow</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/stewartia/"><img class="img-responsive" src="{{ 'assets/images/trees/stewartia.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/stewartia/"><h4>Stewartia</h4>
                            <p>Stewartia</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/styrax/"><img class="img-responsive" src="{{ 'assets/images/trees/styrax.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/styrax/"><h4>Styrax</h4>
                            <p>Japanese Snowbell</p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->

               <div class="portfolio-item flowering col-xs-3 col-sm-2 col-md-2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                  <div class="timeline-thumb">
                    <div class="thumb">
                         <a href="/trees/tree-guide/"><img class="img-responsive" src="{{ 'assets/images/trees/tree-guide.jpg'|theme }}" alt="Trees"></a>
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="/trees/tree-guide/"><h4>Tree Selection Guide</h4>
                            <p></p></a>
                        </div>
                    </div>
                </div>
               </div><!--/.portfolio-item-->


               </div> <!-- portfolio items -->
            </div> <!-- row -->

        </div>