        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Garden Pests</h2>
               <p class="text-center wow fadeInDown">The Best Practices approach, sometimes called Integrated Pest Management (IPM) is an environmentally sensitive approach to dealing with garden pests. Printable pdfs can be found on each page.</p>
	             </div>

            <div class="portfolio-items">

	            <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/aphids/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/aphids.jpg'|theme }}" alt="Aphids" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/aphids/" ><h3>Aphids</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/azalea-lace-bug/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/azalealacebug.jpg'|theme }}" alt="Aphids" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/azalea-lace-bug/" ><h3>Azalea Lace Bugs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/brassica-pests/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/brassicapests.jpg'|theme }}" alt="brassica-pests" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/brassica-pests/" ><h3>Brassica Pests</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/cutworm/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/cutworms.jpg'|theme }}" alt="cutworms" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/cutworm/" ><h3>Cutworms</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	           <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/gnats/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/gnats.jpg'|theme }}" alt="Gnats" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/gnats/" ><h3>Fungus Gnats</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/downy-mildew/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/downy-mildew.jpg'|theme }}" alt="Impatiens Downy Mildew" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/downy-mildew/" ><h3>Impatiens Downy Mildew</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/garden-pests/mosquitoes/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/mosquitoes.jpg'|theme }}" alt="Mosquitoes" /></a>
							<div class="portfolio-info">


                            <a href="/garden-pests/mosquitoes/" ><h3>Mosquitoes</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                   <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/garden-pests/powdery-mildew/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/powderymildew.jpg'|theme }}" alt="Powdery Mildew" /></a>
							<div class="portfolio-info">


                            <a href="/garden-pests/powdery-mildew/" ><h3>Powdery Mildew</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/roses/rose-disease-control/" ><img class="img-responsive" src="{{ 'assets/images/rose/rosedisease.jpg'|theme }}" alt="Rose Disease Control" /></a>
							<div class="portfolio-info">


                            <a href="/roses/rose-disease-control/" ><h3>Rose Disease Control</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/garden-pests/mealybugs/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/mealybugs.jpg'|theme }}" alt="mealybugs" /></a>
							<div class="portfolio-info">


                            <a href="/garden-pests/mealybugs/" ><h3>Scale, Mealybugs & Adelgids</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/slugs-snails/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/slugs-snails.jpg'|theme }}" alt="slugs-snails" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/slugs-snails/" ><h3>Slugs & Snails</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/spidermites/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/spidermite.jpg'|theme }}" alt="spidermites" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/spidermites/" ><h3>Spider Mites</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/garden-pests/stinkbugs/" ><img class="img-responsive" src="{{ 'assets/images/garden-pests/stinkbug.jpg'|theme }}" alt="stinkbugs" /></a>
                        <div class="portfolio-info">


                             <a href="/garden-pests/stinkbugs/" ><h3>Stink Bugs</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->