       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Vines for year-round interest.</h2>
               <p class="text-center wow fadeInDown">Vines have an essential role in creating the look and feel you want in your yard and often have the added benefit of easy care.</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All vines</a></li>
                <li><a href="#" data-filter=".sun">Sun</a></li>
                <li><a href="#" data-filter=".shade">Shade</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
			</ul><!--/#portfolio-filter-->
  </div>

	            <div class="portfolio-items">

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/annual-vines/" ><img class="img-responsive" src="{{ 'assets/images/vines/annual-vines.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/annual-vines/" ><h3>Annual Vines</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/vines/akebia/" ><img class="img-responsive" src="{{ 'assets/images/vines/akebia.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/akebia/" ><h3>Akebia: Chocolate Vine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/vines/clematis/" ><img class="img-responsive" src="{{ 'assets/images/vines/clematis.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/clematis/" ><h3>Evergreen Clematis</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/vines/jasmine/" ><img class="img-responsive" src="{{ 'assets/images/vines/jasmine.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/jasmine/" ><h3>Jasmine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/lonicera-vine/" ><img class="img-responsive" src="{{ 'assets/images/vines/lonicera-vine.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/lonicera-vine/" ><h3>Lonicera: Honeysuckle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/vines/wisteria/" ><img class="img-responsive" src="{{ 'assets/images/vines/wisteria.jpg'|theme }}" alt="Vines" /></a>
							<div class="portfolio-info">
                            <a href="/vines/wisteria/" ><h3>Wisteria</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->