        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the Perfect Ferns</h2>
               <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Ferns</a></li>
                    <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                    <li><a href="#" data-filter=".seasonal">Seasonal (not evergreen)</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/ferns/athyrium/" ><img class="img-responsive" src="{{ 'assets/images/ferns/athyrium.jpg'|theme }}" alt="Ferns" /></a>
							<div class="portfolio-info">
                            <h3>Athyrium: Lady Fern</h3>

                           <a class="preview" href="/ferns/athyrium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/cyrtomium/" ><img class="img-responsive" src="{{ 'assets/images/ferns/cyrtomium.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">
                            <h3>Cyrtomium: Holly Fern</h3>

                            <a class="preview" href="/ferns/cyrtomium/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/dryopteris/" ><img class="img-responsive" src="{{ 'assets/images/ferns/dryopteris.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">
                            <h3>Dryopteris: Wood Fern</h3>

                            <a class="preview" href="/ferns/dryopteris/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                        <a href="/ferns/polystichum" ><img class="img-responsive" src="{{ 'assets/images/ferns/polystichum.jpg'|theme }}" alt="Ferns" /></a>
                        <div class="portfolio-info">
                            <h3>Polystichum: Sword Fern</h3>

                            <a class="preview" href="/ferns/polystichum/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->