<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Berries and Small Fruits for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a wide variety year-round.<br>These are some of our favorites but represent only a fraction of what you will find at the nursery. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Small Fruits</a></li>
                <li><a href="#" data-filter=".vine">Vines</a></li>
                <li><a href="#" data-filter=".bramble">Brambles</a></li>
                <li><a href="#" data-filter=".bush">Bushes</a></li>
            </ul>
  </div>

            <div class="portfolio-items">

                <div class="portfolio-item bush bramble small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/blackberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/blackberry.jpg'|theme }}" alt="blackberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/blackberry/" ><h3>Blackberries</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/blueberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/blueberry.jpg'|theme }}" alt="blueberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/blueberry/" ><h3>Blueberry Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/currant/" ><img class="img-responsive" src="{{ 'assets/images/fruits/currant.jpg'|theme }}" alt="currant" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/currant/" ><h3>Currants & Gooseberries</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/elderberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/elderberry.jpg'|theme }}" alt="elderberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/elderberry/" ><h3>Elderberry Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/gojiberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/goji.jpg'|theme }}" alt="gojiberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/gojiberry/" ><h3>Goji Berry Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item vine small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/tablegrapes/" ><img class="img-responsive" src="{{ 'assets/images/fruits/grape.jpg'|theme }}" alt="almond" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/tablegrapes/" ><h3>Table Grapes</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item vine small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/winegrapes/" ><img class="img-responsive" src="{{ 'assets/images/fruits/winegrape.jpg'|theme }}" alt="almond" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/winegrapes/" ><h3>Wine Grapes</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/honeyberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/honeyberry.jpg'|theme }}" alt="honeyberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/honeyberry/" ><h3>Honeyberry Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item vine small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/hops/" ><img class="img-responsive" src="{{ 'assets/images/fruits/hops.jpg'|theme }}" alt="hops" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/hops/" ><h3>Hops Vine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


               <div class="portfolio-item vine small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/kiwi/" ><img class="img-responsive" src="{{ 'assets/images/fruits/kiwi.jpg'|theme }}" alt="kiwi" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/kiwi/" ><h3>Kiwi Vine</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item bush bramble small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/raspberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/raspberry.jpg'|theme }}" alt="raspberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/raspberry/" ><h3>Raspberries</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/rhubarb/" ><img class="img-responsive" src="{{ 'assets/images/fruits/rhubarb.jpg'|theme }}" alt="rhubarb" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/rhubarb/" ><h3>Rhubarb</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item bush small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/seaberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/seaberry.jpg'|theme }}" alt="seaberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/seaberry/" ><h3>Sea Berry Bush</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/strawberry/" ><img class="img-responsive" src="{{ 'assets/images/fruits/strawberry.jpg'|theme }}" alt="strawberry" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/strawberry/" ><h3>Strawberry</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item small">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/fruit-trees/" ><img class="img-responsive" src="{{ 'assets/images/fruits/fruittrees.jpg'|theme }}" alt="fruit-trees-new" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/fruit-trees/" ><h3>Fruit Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->