<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Find the best Trees for your Garden</h2>
               <p class="text-center wow fadeInDown">We carry a wide variety of trees year-round. These represent only a fraction of what you will find and are some of our favorites. Note: Viewing a Native Plant will take you into our Native Plant section. </p>
            </div>

  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Trees</a></li>
                <li><a href="#" data-filter=".evergreen">Evergreen</a></li>
                <li><a href="#" data-filter=".flowering">Flowering</a></li>
                <li><a href="#" data-filter=".native">Natives</a></li>
                <li><a href="#" data-filter=".fall">Fall Color</a></li>
                <li><a href="#" data-filter=".small">Small Tree</a></li>
                <li><a href="#" data-filter=".select">Tree Selection</a></li>
                <li><a href="#" data-filter=".help">Tree Maintenance</a></li>
            </ul><!--/#portfolio-filter-->
  </div>

            <div class="portfolio-items">

                  <div class="portfolio-item sun tree">
                    <div class="portfolio-item-inner">
                          <a href="/natives/acer-circinatum/"><img class="img-responsive" src="{{ 'assets/images/natives/acer-circinatum.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <a href="/natives/acer-circinatum/" > <h3>Acer Circinatum:  Vine Maple</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/acer-fall-color/" ><img class="img-responsive" src="{{ 'assets/images/trees/acer-fall-color.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/acer-fall-color/" ><h3>Acers for Fall Color</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/acer-palmatum/" ><img class="img-responsive" src="{{ 'assets/images/trees/acer-palmatum.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/acer-palmatum/" > <h3>Acer palmatum: Japanese Maple</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/arbutus/"><img class="img-responsive" src="{{ 'assets/images/natives/arbutus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/arbutus/" ><h3>Arbutus: Pacific Madrone</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/bird-haven/" ><img class="img-responsive" src="{{ 'assets/images/trees/bird-haven.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                           <a href="/trees/bird-haven/" ><h3>Bird Haven</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/cercis/" ><img class="img-responsive" src="{{ 'assets/images/trees/cercis.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/cercis/" ><h3>Cercis: Redbud</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                          <a href="/trees/conifers/" ><img class="img-responsive" src="{{ 'assets/images/trees/conifer.jpg'|theme }}" alt="Conifers" /></a>
							<div class="portfolio-info">
                          <a href="/trees/conifers/" ><h3>Conifer Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/cornus/" ><img class="img-responsive" src="{{ 'assets/images/trees/cornus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/cornus/" ><h3>Cornus: Dogwood</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item flowering small select">
                    <div class="portfolio-item-inner">
                          <a href="/fruits/fruit-trees/" ><img class="img-responsive" src="{{ 'assets/images/trees/malus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/fruits/fruit-trees/" ><h3>Fruit Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/ginkgo/" ><img class="img-responsive" src="{{ 'assets/images/trees/gingko.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/ginkgo/" ><h3>Ginkgo: Maidenhair Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/heptacodium/" ><img class="img-responsive" src="{{ 'assets/images/trees/heptacodium.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">


                            <a href="/trees/heptacodium/" ><h3>Heptacodium: Seven Sons Flower</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/lagerstroemia/" ><img class="img-responsive" src="{{ 'assets/images/trees/lagerstroemia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                          <a href="/trees/lagerstroemia/" ><h3>Lagerstroemia: Crape Myrtle</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen flowering small">
                    <div class="portfolio-item-inner">
                          <a href="/trees/magnolia/" ><img class="img-responsive" src="{{ 'assets/images/trees/magnolia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/magnolia/" ><h3>Magnolia Trees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/malus-fusca/"><img class="img-responsive" src="{{ 'assets/images/natives/malus-fusca.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">
                            <a href="/natives/malus-fusca/" ><h3>Malus fusca: Crabapple</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/oxydendrum/" ><img class="img-responsive" src="{{ 'assets/images/trees/oxydendrum.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/oxydendrum/" ><h3>Oxydendrum: Sourwood Tree</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/planting-tips/" ><img class="img-responsive" src="{{ 'assets/images/trees/planting.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/planting-tips/" ><h3>Planting Tips</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item help">
                    <div class="portfolio-item-inner">
                          <a href="/trees/pruning-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/pruning.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/pruning-guide/" ><h3>Pruning Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/prunus/" ><img class="img-responsive" src="{{ 'assets/images/trees/prunus.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/prunus/" ><h3>Prunus: Cherries &amp;<br />their Prunus relatives</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/quercus/"><img class="img-responsive" src="{{ 'assets/images/natives/quercus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/quercus/" ><h3>Quercus: Garry Oak</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun native">
                    <div class="portfolio-item-inner">
                          <a href="/natives/rhamnus/"><img class="img-responsive" src="{{ 'assets/images/natives/rhamnus.jpg'|theme }}" alt="Natives"/></a>
							<div class="portfolio-info">

                            <a href="/natives/rhamnus/" ><h3>Rhamnus: Cascara</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                          <a href="/trees/salix/" ><img class="img-responsive" src="{{ 'assets/images/trees/salix.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/salix/" ><h3>Salix: Willow</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/stewartia/" ><img class="img-responsive" src="{{ 'assets/images/trees/stewartia.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/stewartia/" ><h3>Stewartia</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item small flowering">
                    <div class="portfolio-item-inner">
                          <a href="/trees/styrax/" ><img class="img-responsive" src="{{ 'assets/images/trees/styrax.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/styrax/" ><h3>Styrax: Japanese Snowbell</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item select">
                    <div class="portfolio-item-inner">
                          <a href="/trees/tree-guide/" ><img class="img-responsive" src="{{ 'assets/images/trees/tree-guide.jpg'|theme }}" alt="Trees" /></a>
							<div class="portfolio-info">
                            <a href="/trees/tree-guide/" > <h3>Tree Selection Guide</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->