        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Use our Seasonal Container Designs</h2>
               <p class="text-center wow fadeInDown">Our container designs are arranged by month. The designs were done with plants that are generally available that month or season.  Arrange them by season using the selector below: December-January-February  for winter months, etc. <strong><em>Hover over the image to see which month it represents.</em></strong></p>
            </div>

  <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Designs</a></li>
                    <li><a href="#" data-filter=".spring">Spring Designs</a></li>
                    <li><a href="#" data-filter=".summer">Summer Designs</a></li>
                    <li><a href="#" data-filter=".fall">Fall Designs</a></li>
                    <li><a href="#" data-filter=".winter">Winter Designs</a></li>
                    <li><a href="#" data-filter=".special">Specialty Designs</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/containers/january-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/january.jpg'|theme }}" alt="January Designs" /></a>
							<div class="portfolio-info">
                            <h3>January Designs</h3>

                           <a class="preview" href="/containers/january-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/containers/february-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/february.jpg'|theme }}" alt="february Designs" /></a>
							<div class="portfolio-info">
                            <h3>February Designs</h3>

                           <a class="preview" href="/containers/february-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/containers/march-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/march.jpg'|theme }}" alt="march Designs" /></a>
							<div class="portfolio-info">
                            <h3>March Designs</h3>

                           <a class="preview" href="/containers/march-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/containers/april-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/april.jpg'|theme }}" alt="april Designs" /></a>
							<div class="portfolio-info">
                            <h3>April Designs</h3>

                           <a class="preview" href="/containers/april-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item spring">
                    <div class="portfolio-item-inner">
                         <a href="/containers/may-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/may.jpg'|theme }}" alt="may Designs" /></a>
							<div class="portfolio-info">
                            <h3>May Designs</h3>

                           <a class="preview" href="/containers/may-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/containers/june-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/june.jpg'|theme }}" alt="june Designs" /></a>
							<div class="portfolio-info">
                            <h3>June Designs</h3>

                           <a class="preview" href="/containers/june-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/containers/july-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/july.jpg'|theme }}" alt="july Designs" /></a>
							<div class="portfolio-info">
                            <h3>July Designs</h3>

                           <a class="preview" href="/containers/july-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item summer">
                    <div class="portfolio-item-inner">
                         <a href="/containers/august-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/august.jpg'|theme }}" alt="august Designs" /></a>
							<div class="portfolio-info">
                            <h3>August Designs</h3>

                           <a class="preview" href="/containers/august-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/containers/september-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/september.jpg'|theme }}" alt="september Designs" /></a>
							<div class="portfolio-info">
                            <h3>September Designs</h3>

                           <a class="preview" href="/containers/september-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/containers/october-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/october.jpg'|theme }}" alt="october Designs" /></a>
							<div class="portfolio-info">
                            <h3>October Designs</h3>

                           <a class="preview" href="/containers/october-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item fall">
                    <div class="portfolio-item-inner">
                         <a href="/containers/november-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/november.jpg'|theme }}" alt="november Designs" /></a>
							<div class="portfolio-info">
                            <h3>November Designs</h3>

                           <a class="preview" href="/containers/november-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item winter">
                    <div class="portfolio-item-inner">
                         <a href="/containers/december-designs/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/december.jpg'|theme }}" alt="december Designs" /></a>
							<div class="portfolio-info">
                            <h3>December Designs</h3>

                           <a class="preview" href="/containers/december-designs/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special">
                    <div class="portfolio-item-inner">
                         <a href="/containers/refreshing-containers/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/refreshing.jpg'|theme }}" alt="refreshing-containers Designs" /></a>
							<div class="portfolio-info">
                            <h3>Refreshing Fall Containers</h3>

                           <a class="preview" href="/containers/refreshing-containers/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item special">
                    <div class="portfolio-item-inner">
                         <a href="/containers/thriller-filler-spiller/" ><img class="img-responsive" src="{{ 'assets/images/containergardens/thriller-spiller-filler.jpg'|theme }}" alt="Thriller Spiller Filler Designs" /></a>
							<div class="portfolio-info">
                            <h3>Thriller Spiller Filler Designs</h3>

                           <a class="preview" href="/containers/thriller-filler-spiller/" ><i class="fa fa-hand-o-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

             </div>
        </div><!--/.container-->