        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Roses!</h2>
               <p class="text-center wow fadeInDown">words or leave blank</p>
	             </div>

            <div class="portfolio-items">

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/roses/rose-classifications/" ><img class="img-responsive" src="{{ 'assets/images/rose/roseclassifications.jpg'|theme }}" alt="Rose Classifications" /></a>
							<div class="portfolio-info">


                            <a href="/roses/rose-classifications/" ><h3>Rose Classifications</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item seasonal">
                    <div class="portfolio-item-inner">
                         <a href="/roses/rose-disease-control/" ><img class="img-responsive" src="{{ 'assets/images/rose/rosedisease.jpg'|theme }}" alt="Rose Disease Control" /></a>
							<div class="portfolio-info">


                            <a href="/roses/rose-disease-control/" ><h3>Rose Disease Control</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/roses/rose-planting/" ><img class="img-responsive" src="{{ 'assets/images/rose/roseplanting.jpg'|theme }}" alt="Rose Planting" /></a>
							<div class="portfolio-info">


                            <a href="/roses/rose-planting/" ><h3>Rose Planting</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/roses/rose-pruning/" ><img class="img-responsive" src="{{ 'assets/images/rose/rosepruning.jpg'|theme }}" alt="Rose Pruning" /></a>
							<div class="portfolio-info">


                            <a href="/roses/rose-pruning/" ><h3>Rose Pruning</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->