        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Great Projects for your Garden</h2>
<!--                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

<!--
  <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Herbs</a></li>
                <li><a href="#" data-filter=".perennial">Perennials</a></li>
                <li><a href="#" data-filter=".annuals">Annuals</a></li>
                <li><a href="#" data-filter=".biannual">Bi-annual</a></li>
            </ul>
  </div>
-->

            <div class="portfolio-items">

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/attracting-beneficials/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/beneficials.jpg'|theme }}" alt="Architectural Plants"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/attracting-beneficials/" ><h3>Attracting Beneficials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/bee-friendly/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/beefriendly.jpg'|theme }}" alt="Cascading Perennials"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/bee-friendly/" ><h3>Bee Friendly Gardens</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/butterflies/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/butterflies.jpg'|theme }}" alt="Cottage Garden"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/butterflies/" ><h3>Attracting Butterflies</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/bird-haven/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/birdhaven.jpg'|theme }}" alt="Drought Tolerant Planting"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/bird-haven/" ><h3>Create a Bird Haven</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/fall-soil-maintenance/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/soilmaintenance.jpg'|theme }}" alt="Fall Foliage"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/fall-soil-maintenance/" ><h3>Fall Soil Maintenance</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/hummingbirds/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/hummingbirds.jpg'|theme }}" alt="Frost Proof Planting"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/hummingbirds/" ><h3>Attracting Hummingbirds</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/lawn/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/grass.jpg'|theme }}" alt="Low Maintenance Container"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/lawn/" ><h3>Installing a Seed Lawn</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/masonbees/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/masonbees.jpg'|theme }}" alt="Low Maintenance Container"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/masonbees/" ><h3>Mason Bees</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item special winter">
                    <div class="portfolio-item-inner">
                         <a href="/garden-projects/winter-cheer/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/winter-cheer.jpg'|theme }}" alt="Winter Cheer Basket" /></a>
							<div class="portfolio-info">
                            <a href="/garden-projects/winter-cheer/" ><h3>Winter Cheer Basket</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

               <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/winter-damage/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/winterdamage.jpg'|theme }}" alt="Winter Damage"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/winter-damage/" ><h3>Winter Damage</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/winter-interest/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/winter-interests.jpg'|theme }}" alt="Winter Interest"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/winter-interest/" ><h3>Winter Interest</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

	          <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/winter-prep/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/winterprep.jpg'|theme }}" alt="Winter Preparation"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/winter-prep/" ><h3>Get Ready for Winter</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                           <a href="/garden-projects/xeriscaping/" ><img class="img-responsive" src="{{ 'assets/images/garden-projects/xeriscaping.jpg'|theme }}" alt="Xeriscaping"></a>
							<div class="portfolio-info">
                             <a href="/garden-projects/xeriscaping/" ><h3>Xeriscaping</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item--

             </div>
        </div><!--/.container-->