[viewBag]
==
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget">
	                    <div class="widget-body social">

                           <img class="img-responsive" src="{{ 'assets/images/homepage/footerlogo.png'|theme }}"  alt="portland nursery" title="portland nursery" />
                    </div>

                    </div>

                     <div class="col-md-4 widget">

                    </div>

                    <div class="col-md-4 widget">

                </div> <!-- /row of widgets -->
            </div>
            </div>
        </div><!-- footer1 -->