[viewBag]
==
<!--=== Header  updated Jan 23, 2019 ===-->
	<div class="header">
		<div class="container">

		  <!-- Toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			<!-- End Toggle -->

			<!-- Logo -->
			<a class="logo" href="{{ 'home'|page }}">
				<img class="img-responsive" src="{{ 'assets/images/logo2.jpg'|theme }}" alt="logo">
			</a>
			<!-- End Logo -->

			<!-- Topbar -->
			<div class="topbar">
				<div class="searchbox">
				<form action="{{ 'search' | page }}" method="get">
				    <input name="q" type="text" placeholder="How can we help?" autocomplete="off">
				    <button type="submit" class="btn-u">Go</button>
				</form>
				</div>

				<ul class="loginbar">
					<li><a href="/about/locations/">Hours</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/communityoutreach/">Community</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/yearly-events">Events</a></li>
					<li class="topbar-devider"></li>
					<li><a  href="/resources/newsletter/">Newsletter</a></li>
					<li class="topbar-devider social"></li>
					 <li><a class="social" target="_blank" href="https://twitter.com/pdxnursery"><i class="fab fa-twitter"></i></a></li>
					 <li class="topbar-devider social"></li>
                     <li><a class="social" target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fab fa-instagram"></i></a></li>
                     <li class="topbar-devider social"></li>
                     <li><a class="social" target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="topbar-devider social"></li>
                     <li><a class="social" target="_blank" href="https://portlandnursery.com/resources/gift-cards/"><i class="fas fa-gift"></i></a></li>
				</ul>

			</div>
			<!-- End Topbar -->


		</div><!--/end container-->


			<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
			<div class="container">
				<ul class="nav navbar-nav">

                    <!-- Plants -->
                    <li>
                        <a href="/plant-library/">Plant Library</a>

                    </li>
                    <!-- End Plants -->

                    <!-- Products -->
                    <li>
                        <a href="/plant-library/">Containers</a>

                    </li>
                   <!-- End Products -->

                    <!-- Containers -->
                    <li>
                        <a href="/plant-library/">Brochures</a>

                    </li>
                    <!-- End Products -->

					<!-- Garden Solutions -->
                    <li>
                        <a href="/plant-library/">Solutions</a>

                    </li>
                    <!-- End Products -->

                    <li>
                        <a href="/plant-library/">Sales</a>

                    </li>
                    <!-- End About -->

                    <!-- About -->
                                         <li>
                        <a href="/plant-library/">Gift Cards</a>

                    </li>
                    <!-- End About -->

                   <!-- About -->
                    <li>
                        <a href="/plant-library/">About</a>

                    </li>
                    <!-- End About -->

				</ul> <!--/navbar -->
			</div><!--/end container-->
		</div><!--/navbar-collapse-->

	</div><!--=== End Header ===-->
