;;
description = "Meta Partial"
==
{##}
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ this.page.meta_description }}">
	<meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="{{ this.page.meta_author }}">

<!-- 	Stark -->
	<meta name="geo.region" content="US-OR" />
	<meta name="geo.placename" content="Portland" />
	<meta name="geo.position" content="45.519189;-122.611158" />
	<meta name="ICBM" content="45.519189, -122.611158" />

    <meta name="google-site-verification" content="Krzm-SNq2XHfZUyEnIJlpayzUovzffeq6kiV7OHb4ZQ" />

<!--   Open Graph meta -->
    {% component 'SeoCmsPage' %}

    <title>{{ this.page.title }} | {{ this.theme.site_name }}</title>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M48RXDN');</script>
<!-- End Google Tag Manager -->

	<!-- core CSS -->

{# Favicon #}
 <link rel="icon" href="{{ '/favicon.ico'|app }}" />

{% styles %}
{# CSS #}
	<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/animate.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/prettyPhoto.css'|theme }}">


<!-- CSS Customization -->
	<link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">

		<link rel="stylesheet" href="{{ 'assets/css/responsive.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/BrightonKit/BrightonKit.css'|theme }}">


    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <link rel="shortcut icon" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/favicon.ico">
    <link rel="icon" type="image/png" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="https://portlandnursery.com/mainsite/themes/nursery-theme/assets/images/ico/apple-touch-icon-57-precomposed.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-21703888-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-21703888-1');
</script>