    <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                       <div class="social-line">
                            <ul class="bar-menu">
                                <li><a href="/about/locations/">Hours</a></li>
								<li class="topbar-devider"></li>
								<li><a href="/communityoutreach/">Community</a></li>
								<li class="topbar-devider"></li>
								<li><a href="/resources/gift-cards">Gift Cards</a></li>
								<li class="topbar-devider"></li>
								<li><a  href="/resources/newsletter/">Newsletter</a></li>
                            </ul>
                       </div>
                    </div>
                     <div class="col-sm-6 col-xs-12">
							<div class="social">
                             <ul class="social-share">
								 <li><a target="_blank" href="https://twitter.com/pdxnursery"><i class="fa fa-twitter"></i></a></li>
								 <li class="topbar-devider social"></li>
			                     <li><a target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fa fa-instagram"></i></a></li>
			                     <li class="topbar-devider social"></li>
			                     <li><a target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fa fa-facebook"></i></a></li>
			                     <li class="topbar-devider social"></li>
			                     <li><a target="_blank" href="https://www.youtube.com/channel/UC7dsZIfEoIT4otocUj1pg1A"><i class="fa fa-youtube"></i></a></li>

                            </ul>

                            <div class="search">
                                <form role="form" action="{{ 'search' | page }}" method="get">
                                    <input name="q" type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <button type="submit" class="fa fa-search"></button>
                                </form>
                           </div>
                       </div>
                    </div>
                </div> <!-- row -->
            </div><!--/.container-->
	</div><!--/.top-bar-->
