
    <header class="site-header">
        <div class="wrap">
            <div class="title-area">
                <h1 class="site-title" itemprop="headline"><a class="logo" href="{{ 'home'|page }}">
				<img class="img-responsive" src="{{ 'assets/images/logo77.jpg'|theme }}" alt="logo">
			</a></h1>
            </div>

            <div class="widget-area header-widget-area">

                <nav class="nav-secondary" itemscope itemtype="https://schema.org/SiteNavigationElement" style>
                    <div class="wrap">
                        <ul id="menu-secondary-menu" class="menu genesis-nav-menu menu-secondary js-superfish sf-js-enabled sf-arrows">
                            <li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1018"><a href="/about/locations/">Hours</a></li>

                            <li id="menu-item-3051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3051"><a href="/events/current-classes/">Classes</a></li>

                            <li id="menu-item-2671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2671"><a href="/events/yearly-events/">Events</a></li>

                            <li id="menu-item-2318" class="socialicon menu-item menu-item-type-custom menu-item-object-custom social-icon facebook menu-item-2318"><a class="social" target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fa fa-facebook"></i></a></li>

                            <li class="socialicon menu-item menu-item-type-custom menu-item-object-custom social-icon twitter"><a class="social" target="_blank" href="https://twitter.com/pdxnursery"><i class="fa fa-twitter"></i></a></li>

                            <li class="socialicon menu-item menu-item-type-custom menu-item-object-custom social-icon"><a class="social" target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fa fa-instagram"></i></a></li>

                            <li class="socialicon menu-item menu-item-type-custom menu-item-object-custom social-icon"><a class="social" target="_blank" href="/resources/newsletter/"><i class="fa fa-newspaper-o"></i></a></li>

                             <li class="search menu-item">
                            <form class="search-form" action="{{ 'search' | page }}" method="get">
								<input name="q" type="text" placeholder="How can we help?" autocomplete="off">
								<button type="submit" class="btn-u">Go</button>
						</form>
                             </li>
                        </ul>
                    </div>
                </nav>

                <h2 class="screen-reader-text">Main navigation</h2><button class="menu-toggle nav-primary" aria-expanded="false" aria-pressed="false" role="button" id="mobile-genesis-nav-primary">Menu</button>

                <nav class="nav-primary" itemscope itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary" aria-label="Main navigation" style>
                    <div class="wrap">
                        <ul id="menu-main-menu" class="menu genesis-nav-menu menu-primary js-superfish sf-js-enabled sf-arrows">
                            <li id="menu-item-2063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2063">
                                <a href="https://anld.com/about-anld/" itemprop="url" data-wpel-link="internal" class="sf-with-ul"><span itemprop="name">About ANLD</span></a> <button class="sub-menu-toggle" aria-expanded="false" aria-pressed="false" role="button"><span class="screen-reader-text">Menu</span></button>

                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a href="https://anld.com/about-anld/" itemprop="url" data-wpel-link="internal"><span itemprop="name">About ANLD</span></a></li>

                                    <li id="menu-item-2583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2583"><a href="https://anld.com/about-anld/why-join-anld/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Why join ANLD</span></a></li>

                                    <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1813"><a href="https://anld.com/about-anld/anld-by-laws/" itemprop="url" data-wpel-link="internal"><span itemprop="name">ANLD By-Laws</span></a></li>
                                </ul>
                            </li>

                            <li id="menu-item-2849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2849">
                                <a href="https://anld.com/members-list/" itemprop="url" data-wpel-link="internal" class="sf-with-ul"><span itemprop="name">Finding a Designer</span></a> <button class="sub-menu-toggle" aria-expanded="false" aria-pressed="false" role="button"><span class="screen-reader-text">Menu</span></button>

                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-2937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2937"><a href="https://anld.com/members-list/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Members Directory</span></a></li>

                                    <li id="menu-item-1067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1067"><a href="https://anld.com/members-list/choosing-a-designer/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Choosing a Designer</span></a></li>

                                    <li id="menu-item-1068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1068"><a href="https://anld.com/members-list/why-hire-a-designer/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Why hire a designer?</span></a></li>

                                    <li id="menu-item-2699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2699"><a href="https://anld.com/members-list/find-a-speaker/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Find a Speaker</span></a></li>
                                </ul>
                            </li>

                            <li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-800">
                                <a href="https://anld.com/garden-tour/" itemprop="url" data-wpel-link="internal" class="sf-with-ul"><span itemprop="name">Designer’s Garden Tour</span></a> <button class="sub-menu-toggle" aria-expanded="false" aria-pressed="false" role="button"><span class="screen-reader-text">Menu</span></button>

                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-1992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1992"><a href="https://anld.com/garden-tour/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Garden Tour</span></a></li>

                                    <li id="menu-item-1159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159"><a href="https://anld.com/garden-tour/garden-tour-archive/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Past Garden Tour Archive</span></a></li>

                                    <li id="menu-item-1777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1777"><a href="https://anld.com/garden-tour/garden-tour-faqs/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Garden Tour FAQs</span></a></li>
                                </ul>
                            </li>

                            <li id="menu-item-2326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2326">
                                <a itemprop="url" data-wpel-link="internal" class="sf-with-ul"><span itemprop="name">Events</span></a> <button class="sub-menu-toggle" aria-expanded="false" aria-pressed="false" role="button"><span class="screen-reader-text">Menu</span></button>

                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-1069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1069"><a href="https://anld.com/garden-tour/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Annual Garden Tour</span></a></li>

                                    <li id="menu-item-2354" class="menu-item menu-item-type-post_type_archive menu-item-object-tribe_events menu-item-2354"><a href="https://anld.com/events/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Events</span></a></li>
                                </ul>
                            </li>

                            <li id="menu-item-1095" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1095">
                                <a href="https://anld.com/member-area/login-main/" itemprop="url" data-wpel-link="internal" class="sf-with-ul"><span itemprop="name">Member Area</span></a> <button class="sub-menu-toggle" aria-expanded="false" aria-pressed="false" role="button"><span class="screen-reader-text">Menu</span></button>

                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-2068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2068"><a href="https://anld.com/member-area/login-main/" itemprop="url" data-wpel-link="internal"><span itemprop="name">Log In</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

