[viewBag]
==
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body contact">
                            <p>Portland Nursery on Stark<br>
<!--                                 <a href="mailto:#">some.email@somewhere.com</a><br> -->
                                Phone: 503.231.5050<br>
                                5050 SE Stark, Portland, OR 97215
                            </p>
                            <p>Portland Nursery on Division<br>
<!--                                 <a href="mailto:#">some.email@somewhere.com</a><br> -->
                                Phone: 503.788.9000<br>
                                9000 SE Division, Portland, OR 97266
                            </p>
                        </div>
                    </div>

                     <div class="col-md-4 widget">
                        <h3 class="widget-title">Let's Get Social</h3>
                        <div class="widget-body social">
                            <p class="follow-me-icons">
                                <a target="_blank" href="https://twitter.com/pdxnursery"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fab fa-instagram"></i></a>
                                <a href="/resources/newsletter/"><i class="fas fa-newspaper"></i></a>
                                <a target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fab fa-facebook-f"></i></a>
                            </p>

                           <h3 class="clearfix"> {%  partial "resources/hours" %}</h3>
                        </div>
                    </div>

                    <div class="col-md-4 widget">

                           <div class="widget-body social">

                           <img class="img-responsive" src="{{ 'assets/images/homepage/footerlogo.png'|theme }}"  alt="portland nursery" title="portland nursery" />
                    </div>

                </div> <!-- /row of widgets -->
            </div>
            </div>
        </div><!-- footer1 -->

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="/">Home</a> |
                                <a href="/about/locations/">Locations</a> |
                                <a href="/events/current-classes/">Classes</a> |
                                <a href="/events/yearly-events/">Yearly Events</a> |
                                <b><a href="/resources/brochures/">Handy Brochures</a></b>
                            </p>
                            <p>Copyright &copy; 2018, Portland Nursery.</p>
                             <p><a href="/about/privacypolicy/">Privacy Policy</a></p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">

                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div> <!-- footer2 -->