[viewBag]
==
<!--=== Header  updated Jan 23, 2019 ===-->
	<div class="header">
		<div class="container">

		  <!-- Toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			<!-- End Toggle -->

			<!-- Logo -->
			<a class="logo" href="{{ 'home'|page }}">
				<img class="img-responsive" src="{{ 'assets/images/logo2.jpg'|theme }}" alt="logo">
			</a>
			<!-- End Logo -->

			<!-- Topbar -->
			<div class="topbar">
				<div class="searchbox">
				<form action="{{ 'search' | page }}" method="get">
				    <input name="q" type="text" placeholder="How can we help?" autocomplete="off">
				    <button type="submit" class="btn-u">Go</button>
				</form>
				</div>

				<ul class="loginbar">
					<li><a href="/about/locations/">Hours</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/current-classes/">Classes</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/yearly-events">Events</a></li>
					<li class="topbar-devider"></li>
					<li><a  href="/resources/newsletter/">Newsletter</a></li>
					<li class="topbar-devider social"></li>
					 <li><a class="social" target="_blank" href="https://twitter.com/pdxnursery"><i class="fab fa-twitter"></i></a></li>
					 <li class="topbar-devider social"></li>
                     <li><a class="social" target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fab fa-instagram"></i></a></li>
                     <li class="topbar-devider social"></li>
                     <li><a class="social" target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fab fa-facebook-f"></i></a></li>
				</ul>

			</div>
			<!-- End Topbar -->


		</div><!--/end container-->


			<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
			<div class="container">
				<ul class="nav navbar-nav">

                    <!-- Plants -->
                    <li>
                        <a href="/plant-library/">Plant Library</a>

                    </li>
                    <!-- End Plants -->

                    <!-- Products -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Products <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><h3 class="products">Come in and see our current inventory of products, tools and garden amendments.</h3>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                   <li><h3>Furniture</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture.jpg'|theme }}" alt="garden furniture">Cedar Furniture</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture1.jpg'|theme }}" alt="garden furniture">Furniture image</li>
                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Garden Decor</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/arbors.jpg'|theme }}" alt="garden furniture">Arbors</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/art.jpg'|theme }}" alt="garden furniture">Garden Art</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Containers</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/pottery.jpg'|theme }}" alt="garden furniture">Decorative Pots</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/containers.jpg'|theme }}" alt="garden furniture">Pottery</li>

												</ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Fountains</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains.jpg'|theme }}" alt="garden furniture">Gurgling fountains</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains1.jpg'|theme }}" alt="garden furniture">Fountains</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Gardener Gifts</h3></li>
                                                     <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/windchimes.jpg'|theme }}" alt="garden furniture">Windchimes</li>

                                                </ul>
                                            </div>

                                             <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li><h3>Birding</h3></li>
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birds.jpg'|theme }}" alt="garden furniture">Bird Houses</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birdfeeder.jpg'|theme }}" alt="garden furniture">Bird Feeders</li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    <!-- Containers -->
                    <li class="dropdown mega-menu-fullwidth">

                     <a href="/resources/custom-planting-plans/">Custom Planting Plans</a>

                    </li>
                    <!-- End Products -->

					<!-- Garden Solutions -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Gardening Solutions <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/container-gardens/hangingbasket750.jpg'|theme }}" alt="container gardening"></li>

                                                   <li><h3>Planting Solutions</h3> </li>

                                                    <li><a href="/container-gardens/">Container Gardening</a></li>

                                                    <li><a href="/container-gardens/thriller-filler-spiller/">Thriller Spiller Filler Designs</a></li>

													<li><a href="/planting-solutions/xeriscaping/">Xeriscaping</a></li>

													<li><a href="/planting-solutions/">Planting Solutions</a></li>

                                                </ul>
                                            </div>

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                 <li>  <img class="img-responsive" src="{{ 'assets/images/resources/birdhaven750.jpg'|theme }}" alt="container gardening"></li>

                                                    <li><h3>Garden Projects</h3></li>

                                                   <!-- Projects -->
<!--                                                   <li><a href="/planting-solutions/">Planting Ideas &amp; Solutions</a></li> -->

                                                    <li><a href="/trees/bird-haven/">Build a Bird Haven</a></li>

                                                    <li><a href="/natives/winter-interest/">Winter Interest with Natives</a></li>

                                                   <!-- <li><a href="#">Plant a Fragrant Garden</a></li>
-->
													<li><a href="/resources/attracting-beneficials/">Attract Beneficial Insects</a></li>

                                                    <li><a href="/natives/hummingbirds/">Attract Hummingbirds with Natives</a></li>

                                                     <li><a href="/natives/butterflies/">Attract Butterflies with Natives</a></li>
<!--
                                                    <li><a href="#">Plant a Rose Garden</a></li>-->

                                                     <li><a href="/resources/brochures/">See all of our solutions and planning advice</a></li>


                                                  <!-- End Projects -->


                                                </ul>
                                            </div>

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/resources/brochures750.jpg'|theme }}" alt="brochures"></li>

                                                    <li><h3>Resources</h3></li>

                                                     <li><a href="/seasonal-tips/{% partial "resources/month" %}/">This Month's Gardening Tips</a></li>

                                                     <li><a href="/container-gardens/{% partial "resources/month" %}-designs/">{% partial "resources/month" %} Designs</a></li>

						                            <li><a href="/resources/brochures/">All of our handy BROCHURES</a></li>

						                            <li><a href="/resources/sales/">SALES</a></li>

<!-- 						                            <li><a href="/resources/faqs/">Planting FAQs</a></li> -->

						                            <li><a href="/resources/gift-cards/">Gift Cards</a></li>

						                            <li><a href="/resources/newsletter/">Newsletter Archive</a></li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    <!-- About -->
                     <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            About <i class="fas fa-angle-down"></i>
                        </a>
                         <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height about">

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>5050 SE Stark</li>
													<li>Portland, OR 97215</li>
													<li>Phone: 503-231-5050</li>
													<li><a target="_blank" href="https://www.google.com/maps?ll=45.518778,-122.611034&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=5050+SE+Stark+St+Portland,+OR+97215">Click for Map.</a></li>
												   	  <li><h3> {%  partial "resources/hours" %}<br />{% partial 'resources/closing' %}</h3></li>
                                                </ul>
                                     </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/division200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>9000 SE Division</li>
                                                   	<li>Portland, OR 97266</li>
													<li>Phone: 503-788-9000</li>
													<li><a target="_blank" href="https://www.google.com/maps/place/Portland+Nursery/@45.504321,-122.570622,16z/data=!4m5!3m4!1s0x0:0xcb486e17e80c806!8m2!3d45.5043212!4d-122.5706218?hl=en-US">Click for Map.</a></li>
												  	  <li><h3> {%  partial "resources/hours" %}<br />{% partial 'resources/closing' %}</h3></li>
                                                </ul>
                                            </div>

                                     <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/employ200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Employment Opportunities</h3></li>
<!--                                                     <li>Thank you for your interest in working at Portland Nursery. Interviews are over for Spring 2019 hiring. Limited positions available.</li> -->
                                         <li>We are taking applications for 2020 Spring Hiring. <a href="/about/employment/">Read more about the positions here</a>  or  <a target="_blank" href="https://portlandnursery.com/docs/employment/EmploymentApplication2020.pdf">Download an Application.</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>About Portland Nursery</h3></li>
	                                               <li>When Portland Wholesale Nursery opened its doors in 1907, horse-drawn carriages outnumbered cars, ...
												   <a target="_blank" href="/about/roots/">Continue reading...</a></li>
                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End About -->

				</ul> <!--/navbar -->
			</div><!--/end container-->
		</div><!--/navbar-collapse-->

	</div><!--=== End Header ===-->
