[viewBag]
==
<!--=== Header ===-->
	<div class="header">
		<div class="container">
			<!-- Logo -->
			<a class="logo" href="{{ 'home'|page }}">
				<img class="img-responsive" src="{{ 'assets/images/logo2.jpg'|theme }}" alt="logo">
			</a>
			<!-- End Logo -->

			<!-- Topbar -->
			<div class="topbar">
				<div class="searchbox pull-right">
				<form action="{{ 'search' | page }}" method="get">
				    <input name="q" type="text" placeholder="How can we help?" autocomplete="off">
				    <button type="submit" class="btn-u">Search</button>
				</form>
				</div>

				<ul class="loginbar pull-right">
					<li><a href="/about/locations/">Hours &amp; Locations</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/current-classes/">Classes</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/yearly-events/">Events</a></li>
				</ul>

			</div>
			<!-- End Topbar -->

			<!-- Toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			<!-- End Toggle -->
		</div><!--/end container-->


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
			<div class="container">
				<ul class="nav navbar-nav">

                    <!-- Plants -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Plants
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Annuals &amp; Perennials</h3></li>

                                                    <!-- Annuals & Perennials -->
                                                    <li><a href="/annuals/">Annual Color Spots</a></li>

                                                    <li><a href="/perennials/">Perennial Color</a></li>

                                                    <li><a href="/bulbs/">Fall &amp; Spring Bulbs</a></li>

                                                    <li><a href="/#/">A Year in Seeds**</a></li>
                                                    <li><a href="/#/">Annual &amp; Perennial Vines**</a></li>

													<!-- Grasses -->
													<li><h3>Ferns &amp; Grasses</h3></li>
                                                     <li><a href="/ferns/">Ferns</a></li>
                                                    <li><a href="/grasses/">Grasses</a></li>
                                                    <li><a href="/#/">Lawn**</a></li>

                                                  <!-- End Annuals & Perennials -->
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <!-- Trees -->
                                                    <li><h3>Trees, Shrubs &amp; Roses</h3></li>

                                                    <li><a href="/trees/">Trees</a></li>

                                                    <li><a href="/shrubs/">Shrubs</a></li>
                                                    <li><a href="/#/">Roses **</a></li>
													<li class="h3"><a href="/natives/">Northwest Natives</a></li>
                                                    <li><a href="/natives/">Shrubs</a></li>
                                                    <li><a href="/natives/">Trees</a></li>
                                                    <li><a href="/natives/">Perennials</a></li>

                                                    <!-- End Trees -->
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
<!-- 	                                                <li><img class="img-responsive" src="{{ 'assets/images/resources/edibles.jpg'|theme }}" alt="Edibles"></li> -->

                                                   	<li><h3>Edibles</h3></li>
													<li><a href="/#">Small Fruits &amp; Berries**</a></li>
                                                   <li><a href="/fruits/fruit-trees/">Fruit Trees</a></li>
                                                    <li><a href="/#/">Herbs**</a></li>
                                                     <li><a href="/#/">Vegetable Varieties &amp; Culture**</a></li>
                                                     <li>&nbsp;</li>
													 <li><h3>** Watch for future release</h3></li>

                                                    <!-- End Grasses -->

                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Container Gardening</h3></li>

                                                    <!-- Container Gardening -->
                                                   <li><a href="container-gardens/"><i class="fa fa-bitbucket"></i> Planting a Container</a></li>
                                                    <li><a href="/container-gardens/december-designs/">Planting Recipes for Containers</a></li>
                                                    <li><a href="/container-gardens/thriller-filler-spiller/">Thriller Spiller Filler Designs</a></li>

<!--                                                      <li><img class="img-responsive" src="{{ 'assets/images/resources/houseplantmenu.jpg'|theme }}" alt="Houseplants"></li> -->
                                                     <li><h3>Houseplants</h3></li>
                                                     <li><a href="/houseplants/">Growing Houseplants</a></li>
                                                    <li><a href="/houseplants/houseplants/">Houseplant Quick Look</a></li>
													<li><a href="/houseplants/bonsai/">Indoor &amp; Outdoor Bonsai</a></li>
													<li><a href="/events/houseplantsale/">Annual Houseplant Sales</a></li>

                                                    <!-- End Container Gardening -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Plants -->

                    <!-- Products -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                   <li><h3>Outdoor Furniture</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture.jpg'|theme }}" alt="garden furniture">Cedar Furniture</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture1.jpg'|theme }}" alt="garden furniture">Furniture image</li>
                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Garden Decor</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/arbors.jpg'|theme }}" alt="garden furniture">Arbors</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/art.jpg'|theme }}" alt="garden furniture">Garden Art</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Containers</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/pottery.jpg'|theme }}" alt="garden furniture">Decorative Pots</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/containers.jpg'|theme }}" alt="garden furniture">Pottery</li>

												</ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Fountains</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains.jpg'|theme }}" alt="garden furniture">Gurgling fountains</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains1.jpg'|theme }}" alt="garden furniture">Fountains</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Gardener Gifts</h3></li>
                                                     <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/windchimes.jpg'|theme }}" alt="garden furniture">Windchimes</li>

                                                </ul>
                                            </div>

                                             <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li><h3>Birding</h3></li>
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birds.jpg'|theme }}" alt="garden furniture">Bird Houses</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birdfeeder.jpg'|theme }}" alt="garden furniture">Bird Feeders</li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    <!-- Containers -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Container Gardening
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">
                                            <div class="col-md-6 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/container-gardens/hangingbasket750.jpg'|theme }}" alt="container gardening"></li>

                                                </ul>
                                            </div><!-- col-md-3 -->

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Container Gardening</h3> </li>

                                                    <li><a href="/container-gardens/">Container Gardening</a></li>

                                                    <li><a href="/container-gardens/thriller-filler-spiller/">Thriller Spiller Filler Designs</a></li>

                                                    <li><a href="/container-gardens/january-designs/">January Designs</a></li>

                                                    <li><a href="/container-gardens/february-designs/">February Designs</a></li>

                                                    <li><a href="/container-gardens/march-designs/">March Designs</a></li>

                                                    <li><a href="/container-gardens/april-designs/">April Designs</a></li>

                                                    <li><a href="/container-gardens/may-designs/">May Designs</a></li>

                                                </ul>
                                            </div><!-- col-md-3 -->

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li><h3>&nbsp;</h3></li>

													<li><a href="/container-gardens/june-designs/">June Designs</a></li>

                                                    <li><a href="/container-gardens/july-designs/">July Designs</a></li>

                                                    <li><a href="/container-gardens/august-designs/">August Designs</a></li>

                                                    <li><a href="/container-gardens/september-designs/">September Designs</a></li>

                                                    <li><a href="/container-gardens/october-designs/">October Designs</a></li>

                                                    <li><a href="/container-gardens/november-designs/">November Designs</a></li>

                                                    <li><a href="/container-gardens/december-designs/">December Designs</a></li>


                                                </ul>
                                            </div><!-- col-md-3 -->
                                        </div><!-- row equal-height -->
                                    </div><!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                      <!-- End Containers -->

					<!-- Garden Solutions -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Planting Solutions
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                   <li><h3>Custom Planting Plans</h3></li>
                                                   <!-- Landscaping -->
                                                    <li><a href="/resources/custom-planting-plans/">Our Custom Planting Plan Service</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/about-design-services.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Our Design Services</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/design-process.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Design Process</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/questionnaire.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plan Questionnaire</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/landscape-resource-guide.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Landscape Resources</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/DIY-installation-priority-list.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>DIY Installation Priority List</a></li>

                                                     <li><a href="http://portlandnursery.com/docs/landscaping-design/pond-worksheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Pond Planning Worksheet</a></li>
                                                  <!-- Landscaping -->
                                                </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Garden Projects</h3></li>

                                                   <!-- Projects -->
                                                    <li><a href="/trees/bird-haven/">Build a Bird Haven</a></li>

<!--
                                                    <li><a href="#">Raise Mason Bees</a></li>

                                                    <li><a href="#">Plant a Fragrant Garden</a></li>
-->

                                                    <li><a href="/natives/hummingbirds/">Attract Hummingbirds</a></li>

<!--
                                                    <li><a href="#">Plant a Rose Garden</a></li>

                                                    <li><a href="#">See more projects...</a></li>
-->

                                                  <!-- End Projects -->


                                                </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Container Gardening</h3></li>

                                                    <!-- Containers -->
                                                    <li><a href="#">Planting a Patio or Deck Container</a></li>

                                                    <li><a href="#">Year Round Container Designs</a></li>

                                                    <li><a href="#">Plant an Edible Container Garden</a></li>

                                                    <li><a href="#">Use our Potting Services</a></li>

                                                    <li><a href="#">Pick out a Container</a></li>

                                                    <li><a href="#">Caring for your Container Garden</a></li>

                                                  <!-- End Containers -->
                                            </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Resources</h3></li>
                                                    <li><a href="/test-page/">Test Page</a></li>

						                            <li><a href="/resources/brochures/">All of our handy brochures</a></li>

						                            <li><a href="/resources/gift-cards/">Gift Cards</a></li>

						                            <li><a href="/resources/newsletter/">Newsletter Archive</a></li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    					 <!-- About -->
                     <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            About
                        </a>
                         <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height about">

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>5050 SE Stark</li>
													<li>Portland, OR 97215</li>
													<li>Phone: 503-231-5050</li>
													<li><a target="_blank" href="https://www.google.com/maps?ll=45.518778,-122.611034&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=5050+SE+Stark+St+Portland,+OR+97215">Click for Map.</a></li>
												   	 <li><h3> {%  content 'hours.htm'  %}</h3></li>
                                                </ul>
                                     </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/division200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>9000 SE Division</li>
                                                   	<li>Portland, OR 97266</li>
													<li>Phone: 503-788-9000</li>
													<li><a target="_blank" href="https://www.google.com/maps/place/Portland+Nursery/@45.504321,-122.570622,16z/data=!4m5!3m4!1s0x0:0xcb486e17e80c806!8m2!3d45.5043212!4d-122.5706218?hl=en-US">Click for Map.</a></li>
												  <li><h3> {%  content 'hours.htm'  %}</h3></li>

                                                </ul>
                                            </div>

                                     <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/employ200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Employment Opportunities</h3></li>
	                                                <li>We are not taking applications at this time, but if you would like us to keep an application on file, you can <a target="_blank" href="http://portlandnursery.com/docs/employment/application10.4.2017.pdf">Download an Application.</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>About Portland Nursery</h3></li>
	                                               <li>When Portland Wholesale Nursery opened its doors in 1907, horse-drawn carriages outnumbered cars, ...
												   <a target="_blank" href="/about/roots/">Continue reading...</a></li>
                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>

                    </li>
                    <!-- End About -->

				</ul> <!--/navbar -->
			</div><!--/end container-->
		</div><!--/navbar-collapse-->
	</div>
	<!--=== End Header ===-->
