[viewBag]
==
<!--=== Header ===-->
	<div class="header">
		<div class="container">
		 <!-- Logo -->
			<div class="logobox">
				<a class="logo" href="{{ 'home'|page }}">
				<img class="img-responsive" src="{{ 'assets/images/logo2.jpg'|theme }}" alt="logo">
			</a></div>
			<!-- End Logo -->

		<div class="topnav">

		<!-- Toggle get grouped for better mobile display -->
		  <div class="togglebutton">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button></div>
			<!-- End Toggle -->

			<!-- Topbar -->
			<div class="topbar">
				<ul class="loginbar">
					<li><a href="/about/locations/">Hours</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/current-classes/">Classes</a></li>
					<li class="topbar-devider"></li>
					<li><a href="/events/yearly-events/">Events</a></li>
					<li><a class="social" target="_blank" href="https://twitter.com/pdxnursery"><i class="fa fa-twitter"></i></a></li>
					<li><a class="social" target="_blank" href="https://www.instagram.com/portlandnursery/"><i class="fa fa-instagram"></i></a></li>
					<li><a class="social" target="_blank" href="/resources/newsletter/"><i class="fa fa-newspaper-o"></i></a></li>
					<li><a class="social" target="_blank" href="https://www.facebook.com/PortlandNursery1/"><i class="fa fa-facebook"></i></a></li>
				<li>
				<form class="searchbox" action="{{ 'search' | page }}" method="get">
				    <input name="q" type="text" placeholder="How can we help?" autocomplete="off">
				    <button type="submit" class="btn-u">Go</button>
				</form>
				</li>
				</ul>
			</div><!-- End Topbar -->

		</div><!--/end  topnav-->


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
			<div class="container">
				<ul class="nav navbar-nav">

                    <!-- Plants -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Plants
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                  <li><img class="img-responsive" src="{{ 'assets/images/navimages/perennials-annuals.jpg'|theme }}" alt="Edibles"></li>
                                                    <li><h3>Annuals &amp; Perennials</h3></li>

                                                    <!-- Annuals & Perennials -->
                                                    <li><a href="/annuals/">Annual Color Spots</a></li>

                                                    <li><a href="/perennials/">Perennial Color</a></li>

                                                    <li><a href="/groundcovers/">Groundcovers</a></li>

                                                    <li><a href="/perennials/bulbs/">Fall &amp; Spring Bulbs</a></li>

                                                   <li><a href="/veggies/seeds/">A Year in Seeds</a></li>


													<li><img class="img-responsive" src="{{ 'assets/images/navimages/grasses.jpg'|theme }}" alt="Edibles"></li>
													<!-- Grasses -->
													<li><h3>Ferns &amp; Grasses</h3></li>
                                                     <li><a href="/ferns/">Ferns</a></li>
                                                    <li><a href="/grasses/">Grasses</a></li>
<!--                                                     <li><a href="/#/">Lawn**</a></li> -->

                                                  <!-- End Annuals & Perennials -->
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <!-- Trees -->
                                                     <li><img class="img-responsive" src="{{ 'assets/images/navimages/trees-shrubs.jpg'|theme }}" alt="Trees-Shrubs"></li>
                                                    <li><h3>Trees, Shrubs &amp; Vines</h3></li>

                                                    <li><a href="/trees/">Trees</a></li>
                                                    <li><a href="/shrubs/">Shrubs</a></li>
<!--                                                       <li><img class="img-responsive" src="{{ 'assets/images/navimages/roses.jpg'|theme }}" alt="Roses"></li>
                                                      <li><h3>Roses</h3></li>-->
                                                    <li><a href="/roses/">Roses</a></li>
                                                    <li><a href="/vines/">Vines</a></li>
                                                      <li><img class="img-responsive" src="{{ 'assets/images/navimages/natives.jpg'|theme }}" alt="Natives"></li>
													<li><h3>Northwest Natives</h3></li>
                                                    <li><a href="/natives/">Shrubs</a></li>
                                                    <li><a href="/natives/">Trees</a></li>
                                                    <li><a href="/natives/">Perennials</a></li>

                                                    <!-- End Trees -->
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

	                                                <li><img class="img-responsive" src="{{ 'assets/images/navimages/fruits.jpg'|theme }}" alt="Fruits"></li>
	                                                <li><h3>Fruits</h3></li>
 													<li><a href="/fruits/">Small Fruits &amp; Berries</a></li>
                                                   <li><a href="/fruits/fruit-trees/">Fruit Trees</a></li>
                                                     <li><img class="img-responsive" src="{{ 'assets/images/navimages/edibles.jpg'|theme }}" alt="Edibles"></li>
                                                     	<li><h3>Herbs &amp; Vegetables</h3></li>
                                                    <li><a href="/herbs/">Herbs</a></li>
                                                     <li><a href="/veggies/">Vegetable Varieties &amp; Culture</a></li>
                                                     <li><a href="/veggies/tomatoes/">Tomatoes</a></li>

                                                    <!-- End Grasses -->

                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                  <li><img class="img-responsive" src="{{ 'assets/images/navimages/container-gardening.jpg'|theme }}" alt="Edibles"></li>
                                                    <li><h3>Container Gardening</h3></li>

                                                    <!-- Container Gardening -->
                                                   <li><a href="/container-gardens/">Container Gardening</a></li>
                                                    <li><a href="/container-gardens/{% partial "resources/month" %}-designs/">{% partial "resources/month" %} Designs</a></li>
                                                    <li><a href="/container-gardens/thriller-filler-spiller/">Thriller Spiller Filler Designs</a></li>

                                                     <li><img class="img-responsive" src="{{ 'assets/images/navimages/houseplants.jpg'|theme }}" alt="Houseplants"></li>
                                                     <li><h3>Houseplants</h3></li>
                                                     <li><a href="/houseplants/">Houseplant Feature</a></li>
                                                    <li><a href="/houseplants/houseplants/">Houseplant Quick Look</a></li>

<!--
                                                     <li><img class="img-responsive" src="{{ 'assets/images/navimages/bonsai.jpg'|theme }}" alt="Bonsai"></li>
                                                   <li><h3>Bonsai</h3></li>
-->
													<li><a href="/houseplants/bonsai/">Growing Bonsai</a></li>
<!-- 													<li><a href="/events/houseplantsale/">Annual Houseplant Sales</a></li> -->

                                                    <!-- End Container Gardening -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Plants -->

                    <!-- Products -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><h3 class="products">Come in and see our current inventory of products, tools and garden amendments.</h3>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                   <li><h3>Furniture</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture.jpg'|theme }}" alt="garden furniture">Cedar Furniture</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/furniture1.jpg'|theme }}" alt="garden furniture">Furniture image</li>
                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Garden Decor</h3></li>
                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/arbors.jpg'|theme }}" alt="garden furniture">Arbors</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/art.jpg'|theme }}" alt="garden furniture">Garden Art</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Containers</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/pottery.jpg'|theme }}" alt="garden furniture">Decorative Pots</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/containers.jpg'|theme }}" alt="garden furniture">Pottery</li>

												</ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Fountains</h3></li>
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains.jpg'|theme }}" alt="garden furniture">Gurgling fountains</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/fountains1.jpg'|theme }}" alt="garden furniture">Fountains</li>

                                                </ul>
                                            </div>

                                            <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>Gardener Gifts</h3></li>
                                                     <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/windchimes.jpg'|theme }}" alt="garden furniture">Windchimes</li>

                                                </ul>
                                            </div>

                                             <div class="col-md-2 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li><h3>Birding</h3></li>
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birds.jpg'|theme }}" alt="garden furniture">Bird Houses</li>

                                                   <li>  <img class="img-responsive" src="{{ 'assets/images/outdoorliving/birdfeeder.jpg'|theme }}" alt="garden furniture">Bird Feeders</li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    <!-- Containers -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Custom Planting Plans
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">
                                            <div class="col-md-6 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>  <img class="img-responsive" src="{{ 'assets/images/custom-planting-plans/SunkenPatio750.jpg'|theme }}" alt="container gardening"></li>

                                               </ul>
                                            </div><!-- col-md-3 -->

                                            <div class="col-md-6 equal-height-in">
                                                <ul class="list-unstyled equal-height-list plantingplans">
                                                    <li><h3><a href="/resources/custom-planting-plans/">Custom Planting Plans</a></h3></li>

                                                    <li class="para">Let our plant knowledge and gardening experience make your next planting project easier. A design will help make your garden a success by taking the guesswork out of plant selection and placement. By getting a little dirty, you can save big!</li>

	<li><h3><a href="/resources/custom-planting-plans/">Read more about our service &gt;&gt;</a></h3></li>


                                                </ul>
                                            </div><!-- col-md-3 -->

											</div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

					<!-- Garden Solutions -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Gardening Solutions
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/container-gardens/hangingbasket750.jpg'|theme }}" alt="container gardening"></li>

                                                   <li><h3>Container Gardening</h3> </li>

                                                    <li><a href="/container-gardens/">Container Gardening</a></li>

                                                    <li><a href="/container-gardens/thriller-filler-spiller/">Thriller Spiller Filler Designs</a></li>

                                                     <li><a href="/container-gardens/{% partial "resources/month" %}-designs/">{% partial "resources/month" %} Designs</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                 <li>  <img class="img-responsive" src="{{ 'assets/images/resources/birdhaven750.jpg'|theme }}" alt="container gardening"></li>

                                                    <li><h3>Garden Projects</h3></li>

                                                   <!-- Projects -->
                                                    <li><a href="/trees/bird-haven/">Build a Bird Haven</a></li>

                                                    <li><a href="/natives/winter-interest/">Winter Interest with Natives</a></li>

<!--
                                                    <li><a href="#">Raise Mason Bees</a></li>

                                                    <li><a href="#">Plant a Fragrant Garden</a></li>
-->

                                                    <li><a href="/natives/hummingbirds/">Attract Hummingbirds with Natives</a></li>

                                                     <li><a href="/natives/butterflies/">Attract Butterflies with Natives</a></li>

													 <li><a href="/natives/edible-fruits/">Native Edible Fruits</a></li>
<!--
                                                    <li><a href="#">Plant a Rose Garden</a></li>

                                                    <li><a href="#">See more projects...</a></li>
-->

                                                  <!-- End Projects -->


                                                </ul>
                                            </div>

                                            <div class="col-md-4 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
	                                                <li>  <img class="img-responsive" src="{{ 'assets/images/resources/brochures750.jpg'|theme }}" alt="brochures"></li>

                                                    <li><h3>Resources</h3></li>

                                                     <li><a href="/seasonal-tips/{% partial "resources/month" %}/">This Month's Gardening Tips</a></li>

						                            <li><a href="/resources/brochures/">All of our handy BROCHURES</a></li>

<!-- 						                            <li><a href="/resources/faqs/">Planting FAQs</a></li> -->

						                            <li><a href="/resources/gift-cards/">Gift Cards</a></li>

						                            <li><a href="/resources/newsletter/">Newsletter Archive</a></li>

                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Products -->

                    <!-- About -->
                     <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            About
                        </a>
                         <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height about">

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>5050 SE Stark</li>
													<li>Portland, OR 97215</li>
													<li>Phone: 503-231-5050</li>
													<li><a target="_blank" href="https://www.google.com/maps?ll=45.518778,-122.611034&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=5050+SE+Stark+St+Portland,+OR+97215">Click for Map.</a></li>
												   	 <li><h3> {%  partial "resources/hours" %}</h3></li>
                                                </ul>
                                     </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/division200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Portland Nursery</h3></li>
	                                                <li>9000 SE Division</li>
                                                   	<li>Portland, OR 97266</li>
													<li>Phone: 503-788-9000</li>
													<li><a target="_blank" href="https://www.google.com/maps/place/Portland+Nursery/@45.504321,-122.570622,16z/data=!4m5!3m4!1s0x0:0xcb486e17e80c806!8m2!3d45.5043212!4d-122.5706218?hl=en-US">Click for Map.</a></li>
												  	 <li><h3> {%  partial "resources/hours" %}</h3></li>
                                                </ul>
                                            </div>

                                     <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/employ200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>Employment Opportunities</h3></li>
	                                                <li>We are taking applications for 2018 Spring Hiring. <a href="/about/employment/">Read more about the positions here</a> or  <a target="_blank" href="https://portlandnursery.com/docs/employment/application-fillable.pdf">Download an Application.</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">

                                                   <li><img class="img-responsive" src="{{ 'assets/images/locations/stark200.jpg'|theme }}" alt="portland nursery on stark"></li>

                                                   <li><h3>About Portland Nursery</h3></li>
	                                               <li>When Portland Wholesale Nursery opened its doors in 1907, horse-drawn carriages outnumbered cars, ...
												   <a target="_blank" href="/about/roots/">Continue reading...</a></li>
                                                </ul>
                                            </div>

                                            </div>  <!-- end row -->

                                    </div> <!-- container -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End About -->

				</ul> <!--/navbar -->
			</div><!--/end container-->
		</div><!--/navbar-collapse-->

			</div><!--/end container-->
	</div><!--=== End Header ===-->
