[viewBag]
snippetCode = "sidebar-marketing"
snippetName = "sidebar marketing"
==
<div class="sidebar-marketing">

 <img class="img-responsive" src="{{ 'assets/images/marketing/peaceonearth.jpg'|theme }}" alt="Peace on Earth" />

<div class="newsletter text-center treatment">
                        <h2 class="brightonL">Subscribe to our Newsletter</h2><h3>Your subscription gives you an instant 25% off your entire Pottery purchase!</h3>
                        <div class="signupform">
                          <script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=111&cid=230017&lid=10011"></script>

        <p><a href="/resources/newsletter-archive/">Visit our Newsletter Archive</a></p>

                        </div>
                    </div>


 </div>