
<div class="container">
<!--   <h3>September </h3> -->
  <div class="row">
    <div class="panel panel-default">
 		<div class="panel-heading">Plant a Conifer</div>
 		<div class="panel-body"><img class="img-responsive" src="{{ 'assets/images/trees/abies.jpg'|theme }}" alt="september tips">Add a conifer in September: the nights are cool and good for planting and we're fully stocked! Use our <a href="/trees/conifers/">Conifer Guide</a> to select the right tree for your garden. </div>
 	</div>
	<div class="panel panel-default">
 		<div class="panel-heading">Flowering Trees</div>
 		<div class="panel-body"><img class="img-responsive" src="{{ 'assets/images/trees/cornus.jpg'|theme }}" alt="september tips"> Flowering trees add spring color and often a grand fall display of colorful leaves. You'll find them all on sale in September. <a href="/plants/trees/">See our tree page</a> for some of our favorites. </div>
 	</div>
    <div class="panel panel-default">
 		<div class="panel-heading">Cool Season Vegetables</div>
 		<div class="panel-body"><img class="img-responsive" src="{{ 'assets/images/seasonal/melon.jpg'|theme }}" alt="september tips">September is a good time for starting a fresh round of cool-season and overwintering crops. This includes lettuce, spinach, and other greens, as well as some cole crops such as broccoli and cauliflower. Short season root crops such as radishes can be grown now to harvest before winter, and overwintering roots such as garlic and onions can be planted.

Just as importantly, its harvest time for those warm season crops! Visit our <a href="/plants/veggies/">Vegetable Page</a> for more information and September tips!</div>
 	</div>
 		<div class="panel panel-default">
 		<div class="panel-heading">Title</div>
 		<div class="panel-body">Content here.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</div>
 	</div>
	<div class="panel panel-default">
 		<div class="panel-heading">Apple Tasting Event</div>
 		<div class="panel-body">Content here.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue orc. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</div>
 	</div>
 		<div class="panel panel-default">
 		<div class="panel-heading">Panel</div>
 		<div class="panel-body">Content here.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</div>
 	</div>
	<div class="panel panel-default marketing">
<!--  		<div class="panel-heading">Apple Tasting Event</div> -->
 		<div class="panel-body"> <img class="img-responsive" src="{{ 'assets/images/marketing/appletasting.jpg'|theme }}" alt="Apple Tasting" />
</div>
 	</div>

	<div class="panel panel-default">
 		<div class="panel-heading">Title</div>
 		<div class="panel-body">ng elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</div>
 	</div>
</div>
</div>

