        <div class="col-md-4">
                <h2>September Tips</h2>
<p>Some bulbs can also be grown in pots, often indoors, during the late autumn and winter. This is generally called forcing. The most common bulbs for this are paperwhites (<em>Narcissus</em> &lsquo;Zeva&rsquo;) and amaryllis. While they can be started as early as September, most people prefer to wait until October for amaryllis or November for paperwhites to try to match the bloom period to the holiday season. Other people start a few more paperwhites every week to extend the season of enjoyment.</p>
            </div>

            <div class="col-md-4">
                <h2>October Tips</h2>

                <p> Paperwhites and Amaryllis are forcing bulbs for autumn and winter color indoors, and can be started now or over the next couple of months.</p>
<figure><img class="img-responsive" src="{{ '/assets/images/houseplants/amaryllis750.jpg'|theme }}" alt="Houseplants"></figure>
            </div>

            <div class="col-md-4">
                <h2>November Tips</h2>

              <p>Many indoor flowers can help to beautify this time of year. Paperwhites and amaryllis are great bulbs for forcing indoors, and poinsettias, holiday cacti, and other gift plants are available.</p>
<p>You may be bringing some tender plants back inside about now. Don&rsquo;t wait until freezing conditions! Check these plants for insect infestations, especially on plants such as hibiscus, abutilon, and gardenias. Your plants may shed some leaves as they get used to lower light levels indoors. Don&rsquo;t panic too much, just provide as much light as possible, consider supplementary grow lights, and try to be a moderate waterer.</p>

            </div>
