        <div class="col-md-4">
                <h2>September Tips</h2>
<p>September is the month for renovating that summer-weary lawn. First, dethatch if you have not done so in the last year. This is done by thoroughly raking out the dead matter underneath the growing grass blades. Then, assess how full your lawn really is and make appropriate plans to reseed, overseed (applying seed to an existing but patchy lawn), or install sod. </p>
<p>If your lawn is really patchy or almost nonexistent reseeding is best. Turn the soil and mix in some compost. Level it out and add seed, fertilizer, and lime. Cover the seed with a very thin layer of peat moss or fine compost (no big woody chunks). Keep moist and keep the weeds away; you should have a great lawn before winter. </p>
<p>If you are overseeding, then skip the bit about turning the soil, but a thin layer of compost on top is beneficial before laying the seed, fertilizer, and lime. If installing sod, turn and amend the soil beforehand, and fertilize and lime after installation. Link to our pdf, <a href="https://portlandnursery.com/docs/grasses-bamboo/Installing-a-Seed-Lawn.pdf" title="Installing a Seed Lawn" target="_blank">Installing a Seed Lawn</a>, to see these steps in detail. </p>

            </div>

            <div class="col-md-4">
                <h2>October Tips</h2>
<p>It is a fine time for seeding a new lawn, or overseeding a patchy one. Please see our page on <a href="https://portlandnursery.com/docs/grasses-bamboo/Installing-a-Seed-Lawn.pdf" target="_blank">installing a seed lawn</a> for more information.  Sod can also be installed now, and the directions to prepare the area are the same, though you do not rake or roll after installing the sod. We do not stock sod at our stores, but we can broker it and get some delivered to you. Either way, keep the area moist as October can sometimes be a dry month.</p>
		<p>This is probably the last time you should give your lawn any fertilizer, and only if you have not done so recently. For later feeding like this, it is probably best to use a granular organic food. That way the ingredients are unlikely to leach out of the soil during heavy rainfall. It is a fine time to add lime to your soil if you have not recently, and this is recommended at least once a year.</p>

            </div>

            <div class="col-md-4">
                <h2>November Tips</h2>
<p>It is too late for fertilizing your lawn and probably too late for seeding. If the weather is not too cold, sod installation may still be an option. Remove excess leaves from your lawn and use them as mulch or discard them.</p>
            </div>
