        <div class="col-md-4">
                <h2>September Tips</h2>
<p>With perennials, the late-season flowers are in full swing and full stock on our shelves; asters, many daisy style plants, yarrow, and salvias are blooming nicely. The beginning to middle of autumn is one of the best times for planting assuming temperatures have cooled since summer. The majority of cold hardy perennials thrive with fall planting since their root systems can grow all winter and emerge in the spring ready to grow.  </p>
<p>If you have poorly drained soil you may want to wait until spring to plant perennials that require good drainage such as penstemon and lavender. Once the weather has cooled down, it is also a good time for dividing established perennials, though October is the more common month for that. </p>
<p>Bulbs! It is finally that time again! Tulips, daffodils, hyacinths, alliums, crocus and many others are available for purchase starting in September. While refreshing those flowers beds and containers with some pansies or other fall color, add some spring flowering bulbs in there as an investment in next year&rsquo;s show.  </p>
<p>Some bulbs can also be grown in pots, often indoors, during the late autumn and winter. This is generally called forcing. The most common bulbs for this are paperwhites (<em>Narcissus</em> &lsquo;Zeva&rsquo;) and amaryllis. While they can be started as early as September, most people prefer to wait until October for amaryllis or November for paperwhites to try to match the bloom period to the holiday season. Other people start a few more paperwhites every week to extend the season of enjoyment.</p>
            </div>

            <div class="col-md-4">
                <h2>October Tips</h2>

                <p>October is one of the best months for perennial gardening. Many are looking great now including toad lily (<em>Tricyrtis spp.</em>), hardy <em>cyclamen</em>, and Japanese <em>anemones</em>, as well as the evergreen types such as <em>heuchera</em>, rosemary, and lavenders. Almost any hardy perennials can be planted now, and most can be divided or moved now with little risk of loss. If you are thinking about moving a peony now is the time, though sometimes that means sacrificing the flowers for the next year or possibly longer.</p>
	  <p>It is also one of the best times for starting a new ground cover or propagating/ dividing an existing one. While it may not spread too much in the next month or so, it will get a head start in spring if you plant now and keep the weeds at bay.</p>
	   <figure><img class="img-responsive" src="{{ '/assets/images/perennials/crocustips2.jpg'|theme }}" alt="Perennials"></figure>
		<p>October is bulb planting season if there ever was one! This is the prime time to be planting new tulips, daffodils, <em>hyacinths</em>, and much more for spring flowers. Enrich your soil, check your proper planting depth, and enjoy! It is also a fine time if you need to thin or divide existing patches of bulbs. </p>
	  <p>There are autumn bloomers that you can only get this time of year such as colchicum and autumn crocus, including the saffron crocus. Paperwhites and Amaryllis are forcing bulbs for autumn and winter color indoors, and can be started now or over the next couple of months.</p>

            </div>

            <div class="col-md-4">
                <h2>November Tips</h2>
<figure><img class="img-responsive" src="{{ '/assets/images/perennials/dahliatips.jpg'|theme }}" alt="Perennials"></figure>
               <p>This is probably your last good chance for any perennial planting and dividing. Hellebore, <em>heuchera</em>, and rosemary usually continue to look great if you still need additions. Lift, clean, and store your <em>dahlias</em> and <em>begonias</em> that grow from tubers. Our <a href="/bulbs/dahlia/"><em>dahlia</em></a> feature page has good instructions for this.  Mulch those perennials!</p>

            </div>
