 <div class="col-md-4">
                <h2>September Tips</h2>

                <p>Some of your summer annuals may be a bit tired looking or overgrown. In some cases a trim and a bit of water-soluble fertilizer will get you a few more weeks of bloom.</p>

                <p>Others should probably be discarded in favor of some new fall color. This means those annuals and short-lived perennials that look great now through autumn and often times into winter. Pansies, kale, dusty miller, mums, asters, and black-eyed-susans are all examples of this. There are plenty more flowers to enjoy; the growing season isn’t over yet!</p>
            </div>

            <div class="col-md-4">
                <h2>October Tips</h2>

                <p>Your geraniums and fuchsias (tender types) may still be looking nice but will need protection from freezing weather soon if you do not want to lose them. </p>

	                <p>See our <a target="_blank" href="https://portlandnursery.com/docs/perennials-annuals/tenderperenhandout.pdf">handout on tender perennials for some tips</a>.</p>

                <figure><img class="img-responsive" src="{{ '/assets/images/annuals/geranium-wintering.jpg'|theme }}" alt="Annuals"></figure>
            </div>

            <div class="col-md-4">
                <h2>November Tips</h2>
<figure><img class="img-responsive" src="{{ '/assets/images/annuals/pansies-wintering.jpg'|theme }}" alt="Annuals"></figure>
                <p>The season is winding down, but your containers and window boxes don’t have to look like it. Clean out the dead or dying annuals and replace with cold season options. Pansies, dusty miller, kale, and many herbs look great as we enter the cold season. </p>
            </div>
