
[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">Car side Pickup at Portland Nursery</h2>

<h3> Research your order here using the links below. The links will provide you with a sampling of plants and products available in each category. When you've completed your list and orders are open, click on the blue button and enter your products on the order form. (Division is not taking orders at this time.)</h3>

				<p>PICK UP TIMES for online orders are between 10:00am and 5:00pm.</p>

				<p>ENTRY LINE for on-site shopping at  5050 SE STARK closes at 5:30PM.</p>

				<h3 class="borderline">We strive to open online orders on weekdays for a few hours around 9-10am. <u>Please do not call asking when we will be accepting new orders.</u> Online-orders has a small staff that balances serving customers in the store while filling your order.</h3>

    <div class="row">
                <div class="features">

                     <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                     </div>

 <!--        CLOSED -->
                      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <img class="happening-icon img-responsive" src="{{ 'assets/images/icons/dollar.png'|theme }}" alt="Plant Library" />

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading" style="color:white;">Orders temporarily Closed at Stark</h3>
                            </div>
                        </div>
                    </div>

<!--/.col-md-4-->

                       <div class="col-md-4 col-sm-6">
                       </div><!--/.col-md-4-->

                </div>
            </div>

<!-- Closed -->

<h3>We have received all the online orders we can handle at this time.  Online orders will resume as soon as we catch up.  Check back soon or visit us in person.  We appreciate your patience.</h3>

            </div>

            <div class="row">
                <div class="features">


                     <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/veggies/VeggieCalendar.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/hand-plant.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/veggies/VeggieCalendar.pdf">Veggie Calendar</a></h3>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/trees.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/tree.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/trees.pdf">Tree Options</a></h3>
                            </div>
                        </div>
                    </div>

                       <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/baskets.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/basket.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/baskets.pdf">Hanging Baskets</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

            <div class="row">
                <div class="features">


                   <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                               <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/berries.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/strawberry.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/berries.pdf">Small Fruit Options</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/fruit-nut-trees.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/peach.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/fruit-nut-trees.pdf">Fruit/Nut Tree Options</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                 <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/shrubs.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-coming-up.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"> <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/shrubs.pdf">Shrub Options</a></h3>
                            </div>
                       </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

            <div class="row">
                <div class="features">


                 <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/native-plants.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/leaf.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/native-plants.pdf">Native Plant Options</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/roses.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/rose1.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/roses.pdf">Rose Options</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                 <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/vines.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/vine.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/vines.pdf">Vine Options</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->

            <div class="row">
                <div class="features">


                 <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/soils.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/wheelbarrow.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/soils.pdf">Bagged Soil Options</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/drip-irrigation.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/hose.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a target="_blank" href="https://portlandnursery.com/docs/onlineorderlists/drip-irrigation.pdf">Drip Irrigation</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

   <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                 <a target="_blank" href="https://portlandnursery.com/plant-library/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-green-pot.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"> <a target="_blank" href="https://portlandnursery.com/plant-library/">Plant Library</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->

        </div><!--/.container-->