[viewBag]
==
<!-- Covid -->
<div class="container">
	<div class="row">

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="color:blue;" data-dismiss="modal">Covid Precautions for Portland Nursery&nbsp;&nbsp;&#8999;</h3>

</div> <!-- modal body -->
<hr/>
<div class="left">
<p>Starting August 27, 2021: In accordance with state guidelines, masks are required in all indoor shopping areas and when maintaining at least 6 feet of social distancing is not possible in outdoor shopping areas, regardless of vaccination status. Masks are not required for children under 5. If you have forgotten your mask, please just let us know and we’ll provide one.</p>

             </div> <!-- left -->
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal -->

<section class="covidmask">

	<div class="container text-center">

			<div class="row">

                       <div class="col-md-4 col-sm-6">
                       </div><!--/.col-md-4-->

<!-- OPEN -->

<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <a data-toggle="modal" href="#contentBasic"><img class="happening-icon img-responsive covid" src="{{ 'assets/images/icons/covid.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading covid"><a data-toggle="modal" href="#contentBasic"><span>Updated August 27, 2021:</span><br>Click to see our latest Covid Precautions</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
            </div><!--  row -->

 </div><!--/.container-->

</section>


</div> <!-- row -->
</div><!--/.container-->
<!-- close covid -->