[viewBag]
==
<!-- Covid -->
<div class="container">
	<div class="row">

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="image" class="close" data-dismiss="modal">Covid Precautions for Portland Nursery&nbsp;&nbsp;X</button>

</div> <!-- modal body -->
<hr/>
<div class="left">
	<p>Our safety policies and practices are helping us protect the community, our customers, and our staff. We understand that it hasn’t been easy, and would like to thank you for continuing to support the protocols listed below:</p>

<ul>
<li>Customers are required to wear masks in both our indoor and outdoor departments while maintaining a safe social distance of at least 6ft.</li>
<li>Our layouts have been changed to help customers and staff maintain at least 6ft of distance between parties. We will limit the number of customers on-site or in certain areas of the nursery if needed.</li>
<li>Carts, pin pads, and other high-touch surfaces are regularly disinfected.</li>
<li>Our check-out experience has been designed to accommodate for social distancing and customers are encouraged to pay with either debit or credit.</li>
<li>We ask that children stay close to their parent or guardian and that pets remain on leash at all times.</li>
<li>We are providing limited access to our restrooms.</li>
<li>Please be prepared to load all of your purchased items. Options are available for those who cannot. Please ask a staff member for details.</li>
<li>Our staff is comprised only of people here by choice and sick staff are required to stay home. A doctor’s approval is required to return to work.</li>
<li>We openly reserve the right to refuse service to anyone not following our safety protocols.</li>
<li>Kindness is always encouraged!</li>
</ul>

<p>As always—be healthy, be safe, and grow your passion!</p>
            </div> <!-- left -->
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal -->

<section class="covidmask">

	<div class="container text-center">

			<div class="row">

                       <div class="col-md-4 col-sm-6">
                       </div><!--/.col-md-4-->

<!-- OPEN -->

<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <a data-toggle="modal" href="#contentBasic"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/covid.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading covid"><a data-toggle="modal" href="#contentBasic">Click to see our Covid Precautions</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
            </div><!--  row -->

            <div class="row">
	            <h3>Until further notice, we are requiring customers to wear a face mask to shop at both Portland Nursery locations. We apologize for any inconvenience this may cause you, and are sincerely grateful for your cooperation to keep our staff and community healthy.</h3>
            </div> <!-- row -->

 </div><!--/.container-->

</section>


</div> <!-- row -->
</div><!--/.container-->
<!-- close covid -->