[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">Car side Pickup at Portland Nursery</h2>
<!--                 <p>It's time to get growing! Our shelves are full and we have help for plants and gardening ideas! </p>

<p style="margin: 0 auto;padding: 0 30px;">This 'sheltering period' may be a gift of time. Slow down, smell the roses, and reconnect with the simple pleasures of being at home. We are committed to making it easy for you to get the product you love. We want to help our customers with the resiliency a garden can offer for food and personal enjoyment.</p> -->

<!--  <h3>In keeping with our protective policies, we have now initiated plant ordering online for pickup at our stores. </h3> -->

<h3> Research your order first, then place your order.  Use these links to see a sampling of plants and products in each category, then when orders are open, you can easily enter your products. </h3>

<p>Trying to figure out the best time to plant your veggie starts? Download our handy <a target="_blank" href="https://fiddlefacenursery.com/docs/veggies/VeggieCalendar.pdf">Veggie Calendar.</a> </p>

<!-- Closed -->

<h3>We have received all the online orders we can handle at this time.  Online orders will resume as soon as we catch up.  Check back soon or visit us in person.  We appreciate your patience.</h3>

            </div>

            <div class="row">
                <div class="features">
<!--                     OPEN -->

<!--
				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <a href="/resources/plant-order-stark/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/dollar.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/plant-order-stark/">ORDER from Stark</a></h3>
                            </div>
                        </div>
                    </div>
-->

<!--/.col-md-4-->

                  <!--        CLOSED -->

                      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <img class="happening-icon img-responsive" src="{{ 'assets/images/icons/dollar.png'|theme }}" alt="Plant Library" />

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading" style="color:white;">Orders temporarily Closed at Stark</h3>
                            </div>
                        </div>
                    </div>

<!--/.col-md-4-->

                     <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="/plant-library/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-coming-up.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="/plant-library/">Plant Library</a></h3>
                            </div>
                        </div>
                    </div>

                       <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a target="_blank" href="/events/current-classes/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/houseplant.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/baskets.pdf">Hanging Baskets</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

            <div class="row">
                <div class="features">


                   <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                               <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/berries.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/fruit.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/berries.pdf">Small Fruit Options</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/fruit-nut-trees.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/fruit-nut-trees.pdf">Fruit/Nut Tree Options</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                 <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/shrubs.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-coming-up.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"> <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/shrubs.pdf">Shrub Options</a></h3>
                            </div>
                       </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

                        <div class="row">
                <div class="features">


                 <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/native-plants.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-green-pot.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/native-plants.pdf">Native Plant Options</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/roses.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/roses.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/roses.pdf">Rose Options</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                 <a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/vines.pdf"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/flowerpot.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="https://fiddlefacenursery.com/docs/onlineorderlists/vines.pdf">Vine Options</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->