[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span>{% partial "/resources/month" %}</span></h2>

               <h3>Apples, apples, apples! We’re doing Apple Tasting a little differently this year, and while we won’t be holding our annual festival next month, we’re still supporting our growers and plan on having plenty of apples available throughout September and October at both our Stark and Division locations for $.99/lb. Check in weekly for the newest varieties on site—and if apples aren’t really your thing, garlic and onion sets are here too! It’s also the perfect time to plan for your Second Season planting of trees, shrubs, and conifers in addition to thinking ahead to spring blooms by planting fall bulbs.</h3>

            </div>  <!-- section header -->

</div><!--/.container-->
