[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span>{% partial 'resources/month' %}</span></h2>

               <h3>Spring is here, and Portland Nursery has everything you need to start the season off with a bang—from seeds and soil, to early spring starts like kale, cauliflower and broccoli. And don’t forget to check out our <a href="/veggies/seeds/">Seed</a> and <a href="/veggies/">Veggie</a> pages for planting calendars and tips on planning your best edible garden yet!</h3>

            </div>  <!-- section header -->

</div><!--/.container-->
