[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span >{% partial "/resources/month" %}</span></h2>
                <p>It's time to get growing! Our shelves are full and we have help for plants and gardening ideas! </p>

            </div>

            <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="/events/current-classes/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/calendar.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h4 class="media-heading"><a href="/events/current-classes/">{% partial "/resources/month" %} Classes</a></h4>
<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
<p>Get your garden in shape with our garden classes. Sign up today!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/seasonal-tips/{% partial "/resources/month" %}/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h4 class="media-heading"> <a href="/seasonal-tips/{% partial "/resources/month" %}/">{% partial "/resources/month" %} Garden Tips</a></h4>
                                <p>Check with us for all you need to know about your {% partial "/resources/month" %} Garden tasks!</p>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/resources/sales/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/houseplant.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/resources/sales/">Houseplant Sale!</a></h4>
                                <p>Summer Houseplant Sale starts this Thursday, August 2! Details on  <a href="/resources/sales/">Sales Page</a></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

                        <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/about/locations/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/clock.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/about/locations/">Locations &amp; Hours</a></h4>
                                <p>We're easy to find in SE Portland - spend the day with us at one of our locations!</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/container-gardens/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/flowerpot.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/container-gardens/">{% partial "/resources/month" %} Containers</a></h4>
                                <p>Add a container using our monthly designs for June.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="/annuals/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/sunshine.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a target="_blank" href="/annuals/">Add Annual Color</a></h4>
                                <p>Add some color to your garden. <a href="/annuals/">Read more about our favorites.</a></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
