[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span >{% partial "/resources/month" %}</span></h2>
<!--                 <p>It's time to get growing! Our shelves are full and we have help for plants and gardening ideas! </p> -->

<p style="margin: 0 auto;padding: 0 30px;">This 'sheltering period' may be a gift of time. Slow down, smell the roses, and reconnect with the simple pleasures of being at home. We are committed to making it easy for you to get the product you love. We want to help our customers with the resiliency a garden can offer for food and personal enjoyment.</p>

            </div>

            <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="/events/current-classes/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/saletag2.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/sales/">Current Sales</a></h3>
<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/roses/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/roses.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a href="/roses/">2020 Rose Lists</a></h3>
<!--                                 <p>Check with us for all you need to know about your <span class="cap">{% partial "/resources/month" %}</span> Garden tasks!</p> -->
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/plant-library/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-coming-up.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/plant-library/">New: Plant Library</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

                        <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/about/locations/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/clock.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/about/locations/">Locations &amp; Hours</a></h3>
<!--                                 <p>We're easy to find in SE Portland - spend the day with us at one of our locations!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/seasonal-tips/{% partial "/resources/month" %}/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a href="/seasonal-tips/{% partial "/resources/month" %}/">Garden Tips</a></h3>
<!--                                 <p>Check with us for all you need to know about your <span class="cap">{% partial "/resources/month" %}</span> Garden tasks!</p> -->
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="/container-gardens/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-green-pot.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="/container-gardens/">Monthly Container</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->