[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span >{% partial "/resources/month" %}</span></h2>
<!--                 <p>It's time to get growing! Our shelves are full and we have help for plants and gardening ideas! </p> -->

<p style="margin: 0 auto;padding: 0 30px;">This 'sheltering period' may be a gift of time. Slow down, smell the roses, and reconnect with the simple pleasures of being at home. We are committed to making it easy for you to get the product you love. We want to help our customers with the resiliency a garden can offer for food and personal enjoyment.</p>

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="image" class="close" data-dismiss="modal">Covid Precautions for Portland Nursery&nbsp;&nbsp;X</button>

</div>
<hr/>
<div class="left"><p>We have implemented extensive social distancing measures to protect our staff and community, including:</p>
<ul><li>Asking customers to wear any protective gear they may have and to come prepared with a list.</li>
<li>Asking customers not to touch items unless they intend to buy them and to load all purchased items themselves.</li>
<li>Changing layout to maintain a 6’ distance between customers at all times.</li>
<li>Closing our indoor departments and registers to allow for open air shopping only.</li>
<li>Sanitizing carts, pin pads, etc.</li>
<li>Having designated staff to help customers learn our new way of shopping.</li>
<li>Created a socially distanced check out experience, including marked areas for each customer to stand.</li>
<li>A staff comprised only of people here by choice.</li>
<li>Only taking payment by debit or credit card.</li>
<li>Openly reserving the right to refuse service to anyone not following our safety protocols.</li>
<li>Temporarily closing our bathrooms to reduce spread of germs. </li>
<li>Looking out for each other and making sure sick people stay home. We require doctor’s approval to return to work.</li>
<li>Please keep your children close.</li>
</ul>
            </div>
        </div>
    </div>
</div>

<section id="happenings">

	<div class="container text-center">

			<div class="row">

                       <div class="col-md-4 col-sm-6">
                       </div><!--/.col-md-4-->

<!-- OPEN -->

<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <a data-toggle="modal" href="#contentBasic"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/covid.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading covid"><a data-toggle="modal" href="#contentBasic">Click to see our Covid Precautions</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->


            </div><!--  row -->

 </div><!--/.container-->

</section>



<h3>Until further notice, we are requiring customers to wear a face mask to shop at both Portland Nursery locations. We apologize for any inconvenience this may cause you, and are sincerely grateful for your cooperation to keep our staff and community healthy.</h3>


            </div>

            <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="/events/current-classes/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/saletag2.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/sales/">Current Sales</a></h3>
<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/planting-solutions/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a href="/planting-solutions/">Planting Ideas</a></h3>
<!--                                 <p>Check with us for all you need to know about your <span class="cap">{% partial "/resources/month" %}</span> Garden tasks!</p> -->
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/plant-library/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-coming-up.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/plant-library/">New: Plant Library</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div>

           <div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/about/locations/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/clock.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/about/locations/">Locations &amp; Hours</a></h3>
<!--                                 <p>We're easy to find in SE Portland - spend the day with us at one of our locations!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/seasonal-tips/{% partial "/resources/month" %}/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a href="/seasonal-tips/{% partial "/resources/month" %}/">Garden Tips</a></h3>
<!--                                 <p>Check with us for all you need to know about your <span class="cap">{% partial "/resources/month" %}</span> Garden tasks!</p> -->
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="/container-gardens/{% partial "/resources/month" %}-designs/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-green-pot.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="/container-gardens/{% partial "/resources/month" %}-designs/"><span class="cap">{% partial "/resources/month" %}</span> Containers</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->