       <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown brightonM">Click to explore the site!</h2>
<!--                <p class="text-center wow fadeInDown">Hover over the image for a description, then click to get into more information.</p> -->
            </div>

	            <div class="portfolio-items">

                  <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/resources/custom-planting-plans/" ><img class="img-responsive" src="{{ 'assets/images/homepage/plantingplans.jpg'|theme }}" alt="Planting Plans" /></a>
							<div class="portfolio-info">
                            <a href="/resources/custom-planting-plans/" > <h3>Planting Plans</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

              <div class="portfolio-item sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/resources/attracting-beneficials/" ><img class="img-responsive" src="{{ 'assets/images/planting-solutions/beneficials.jpg'|theme }}" alt="Beneficial Insects" /></a>
						<div class="portfolio-info">
                            <a href="/resources/attracting-beneficials/" ><h3>Beneficial Insects</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                  <div class="portfolio-item evergreen sun shade">
                    <div class="portfolio-item-inner">
                         <a href="/resources/bee-friendly/"><img class="img-responsive" src="{{ 'assets/images/planting-solutions/beefriendly.jpg'|theme }}" alt="Classes" /></a>
							<div class="portfolio-info">
                           <a href="/resources/bee-friendly/"><h3>Bee Friendly</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun evergreen">
                    <div class="portfolio-item-inner">
                         <a href="/perennials/" ><img class="img-responsive" src="{{ 'assets/images/perennials/coreopsis.jpg'|theme }}" alt="Planting Plans" /></a>
							<div class="portfolio-info">
                             <a href="/perennials/" ><h3>Perennials</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/resources/brochures/" ><img class="img-responsive" src="{{ 'assets/images/homepage/brochures.jpg'|theme }}" alt="Brochures" /></a>
							<div class="portfolio-info">
                            <a href="/resources/brochures/" ><h3>Handy Brochures</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                 <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/herbs/herbs/" ><img class="img-responsive" src="{{ 'assets/images/homepage/herbs.jpg'|theme }}" alt="herbs" /></a>
							<div class="portfolio-info">
                            <a href="/herbs/herbs/" > <h3>Fresh Herbs!</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/resources/gift-cards/" ><img class="img-responsive" src="{{ 'assets/images/homepage/giftcard.jpg'|theme }}" alt="Winter" /></a>
							<div class="portfolio-info">
                            <a href="/resources/gift-cards/" ><h3>Buy a Gift Card</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

				<div class="portfolio-item sun">
                    <div class="portfolio-item-inner">
                         <a href="/container-gardens/" ><img class="img-responsive" src="{{ 'assets/images/homepage/may2018.jpg'|theme }}" alt="Container Garden" /></a>
							<div class="portfolio-info">
                             <a href="/container-gardens/" ><h3>May Containers</h3><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


             </div>
        </div><!--/.container-->