[viewBag]
==
<!--  monthly feature boxes  -->
<div class="container">
<div class="row">
                <div class="features">

	                 <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="/resources/curbside-pickup/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/dollar.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/curbside-pickup/">Curbside Pickup!</a></h3>
<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                   <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
	                         <div class="pull-left">
								<a href="/events/apples-pears/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/apple2.png'|theme }}" alt="Portland Nursery Events" /></a>
	                         </div>
                             <div class="media-body">
                                <h3 class="media-heading"><a href="/events/apples-pears/">Apples & Pears</a></h3>
<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->



                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/resources/sales/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/saletag.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/sales/">Sales</a></h3>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
            </div><!--/.row-->


<div class="row">
                <div class="features">

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/about/locations/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/clock.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/about/locations/">Locations &amp; Hours</a></h3>
<!--                                 <p>We're easy to find in SE Portland - spend the day with us at one of our locations!</p> -->
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a href="/seasonal-tips/{% partial 'resources/month' %}/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/trowel-fork.png'|theme }}" alt="Portland Nursery Events" /></a>
                            </div>
                             <div class="media-body">
                            <h3 class="media-heading"> <a href="/seasonal-tips/{% partial 'resources/month' %}/">Garden Tips</a></h3>
                         </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media happening-box">
                            <div class="pull-left">
                                <a target="_blank" href="/container-gardens/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/plant-green-pot.png'|theme }}" alt="Portland Nursery Containers" /></a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a target="_blank" href="/container-gardens/"><span class="cap">{% partial 'resources/month' %}</span> Container</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->

</div><!--/.container-->
