[viewBag]
==
<!--  monthly feature boxes  -->
<div class="container">
	<div class="row">
		<div class="features">
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left happening-icon img-responsive"><img src="/storage/app/media/icons/bug.png" style="width: 300px;" class="fr-fic fr-dib"></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/resources/curbside-pickup/">Curbside Pickup!</a></h3>
						<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
						<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
					</div></div></div>
			<!--/.col-md-4-->
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left">
						<a href="/garden-pests/"><img class="happening-icon img-responsive fr-fil fr-dib" src="{{%20'assets/images/icons/bug.png'%7Ctheme%20}}" alt="Portland Nursery Events"></a></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/garden-pests/">Spring Pests</a></h3>
						<!--                                 <p>Our classes fill up quickly so please REGISTER TODAY! See our Current Classes Page for details.</p> -->
						<!-- <p>Get your garden in shape with our garden classes. Sign up today!</p> -->
					</div></div></div>
			<!--/.col-md-4-->
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left">
						<a href="/resources/sales/"><img class="happening-icon img-responsive fr-fil fr-dib" src="{{%20'assets/images/icons/saletag.png'%7Ctheme%20}}" alt="Plant Library"></a></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/resources/sales/">Spring Sales</a></h3>
					</div></div></div>
			<!--/.col-md-4-->
		</div></div>
	<!--/.row-->
	<div class="row">
		<div class="features">
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left">
						<a href="/about/locations/"><img class="happening-icon img-responsive fr-fil fr-dib" src="{{%20'assets/images/icons/clock.png'%7Ctheme%20}}" alt="Portland Nursery Events"></a></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/about/locations/">Locations &amp; Hours</a></h3>
						<!--                                 <p>We're easy to find in SE Portland - spend the day with us at one of our locations!</p> -->
					</div></div></div>
			<!--/.col-md-4-->
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left">
						<a href="/seasonal-tips/{%%20partial%20'resources/month'%20%}/"><img class="happening-icon img-responsive fr-fil fr-dib" src="{{%20'assets/images/icons/trowel-fork.png'%7Ctheme%20}}" alt="Portland Nursery Events"></a></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/seasonal-tips/{%%20partial%20'resources/month'%20%}/">Garden Tips</a></h3>
					</div></div></div>
			<!--/.col-md-4-->
			<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="300ms">
				<div class="media happening-box">
					<div class="pull-left">
						<a href="/container-gardens/" target="_blank"><img class="happening-icon img-responsive fr-fil fr-dib" src="{{%20'assets/images/icons/plant-green-pot.png'%7Ctheme%20}}" alt="Portland Nursery Containers"></a></div>
					<div class="media-body">

						<h3 class="media-heading"><a href="/container-gardens/" target="_blank"><span class="cap">{% partial 'resources/month' %}</span> Container</a></h3>
					</div></div></div>
			<!--/.col-md-4-->
		</div></div>
	<!--/.row-->
</div>
<!--/.container-->