
[viewBag]
==
<div class="container text-center">

			<div class="row">

                       <div class="col-md-4 col-sm-6">
                       </div><!--/.col-md-4-->

<!-- OPEN -->

					 <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media happening-box blue">
                            <div class="pull-left">
                                 <a href="/resources/plant-order-stark/"><img class="happening-icon img-responsive" src="{{ 'assets/images/icons/dollar.png'|theme }}" alt="Plant Library" /></a>

                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="/resources/plant-order-stark/">ORDER from Stark</a></h3>
                            </div>
                        </div>

                    </div><!--/.col-md-4-->

            </div><!--  row -->

 </div><!--/.container-->