[viewBag]
==
<div class="container">
		 <div class="row">
		 <div class="center">
			   <div class="col-md-12">
   <h2 class="brightonL center">Research your order here using the links below.</h2>
				<h4> The links will provide you with a sampling of plants and products available in each category. When you've completed your list and orders are open, click on the blue button and enter your products on the order form.</h4>

            </div>
	 </div>
                <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/6pack-4inch-1gallon.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

                               <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/2gallon-1gallon.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

          <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/1.5cubicfeet.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

                <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/3cubicfeet.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

           </div> <!-- row -->
        </div><!--/.container-->