[viewBag]
==
<div class="container">
           <div class="row">
                <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/6pack-4inch-1gallon.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

                               <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/2gallon-1gallon.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

          <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/1.5cubicfeet.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

                <div class="col-md-3">

                     <img class="img-responsive" src="{{ 'assets/images/productsizes/3cubicfeet.jpg'|theme }}" alt="potsizes" />

                </div><!-- col-md-3-->

           </div> <!-- row -->
        </div><!--/.container-->