[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Expand your Gardening Skills! Take a class. Attend an Event.</h2>
                <p>See all classes and full descriptions on our <a href="/events/current-classes/">Current Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">
	       <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

                 <a href="https://portlandnursery.wufoo.com/forms/zi8p8ai0l7enup/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/repotting.jpg'|theme }}" alt="" /></a>
                </div>

              <a href="https://portlandnursery.wufoo.com/forms/zi8p8ai0l7enup/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Repotting Houseplants</h4>
						 <span>9000 SE DIVISION<br>Saturday &bull; January 12 &bull; 1:00pm<br>
               <a href="https://portlandnursery.wufoo.com/forms/zi8p8ai0l7enup/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
              </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

	    <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                      <a href="https://portlandnursery.wufoo.com/forms/zqk6i9e0urxddn/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/gesneriad.jpg'|theme }}" alt="" /></a>
                </div>

                <a href="https://portlandnursery.wufoo.com/forms/zqk6i9e0urxddn/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
	                 <div class="season-content">
                    <div class="content-show">
                        <h4>Unusual Begonias & Gesneriads</h4>
                        <span>9000 SE DIVISION<br>Sunday &bull; January 13 &bull; 11:00am<br>
	                                                <a href="https://portlandnursery.wufoo.com/forms/zqk6i9e0urxddn/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content show -->
                 </div><!-- season-content -->
                </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

         <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                       <a href="https://portlandnursery.wufoo.com/forms/z1urb6yh1qrlrgk/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/orchidpotup.jpg'|theme }}" alt="" /></a>
                </div><!-- season-thumb -->

                    <a href="https://portlandnursery.wufoo.com/forms/z1urb6yh1qrlrgk/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Top 10 Orchid Myths</h4>
                        <span>5050 SE STARK<br />Sunday &bull; January 13 &bull; 1:00pm<br>
                 <a href="https://portlandnursery.wufoo.com/forms/z1urb6yh1qrlrgk/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->



    </div>
</div>