[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Expand your Gardening Skills! Take a class.</h2>
                <p>See all classes and full descriptions on our <a href="/events/current-classes/">Current Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <a href="https://portlandnursery.wufoo.com/forms/z5lqmpv06xyin9/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/raised-bed.jpg'|theme }}" alt="" /></a>
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4>Hands On Raised Bed Vegetable Gardening</h4>
                        <span>9000 SE DIVISION<br />Saturday &bull; June 16 &bull; 11:00am<br>
                    <a href="https://portlandnursery.wufoo.com/forms/z5lqmpv06xyin9/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div>
                    <div class="content-hide">
<!--                         <p>Half of the fun of gardening is plotting and scheming for spring…here are some helpful tools:</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                    <a href="https://portlandnursery.wufoo.com/forms/z1qncjlc0bkhhh0/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/edibles-flowers.jpg'|theme }}" alt="" /></a>
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4>Interplanting Edible and Ornamental Plants</h4>
                        <span>5050 SE STARK<br />Saturday &bull;  June 16 &bull; 11:00am<br>
                <a href="https://portlandnursery.wufoo.com/forms/z1qncjlc0bkhhh0/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div>
                    <div class="content-hide">
<!--                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                     <a href="https://portlandnursery.wufoo.com/forms/zk13glt0wr1sia/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/combining-herbs.jpg'|theme }}" alt="" /></a>
                </div>
                <div class="season-content">
                    <div class="content-show">
                        <h4>Propagation and Cultivation of Common Herbal Allies</h4>
                        <span>9000 SE DIVISION<br />Saturday &bull; June 16 &bull; 1:00pm<br>
                     <a href="https://portlandnursery.wufoo.com/forms/zhf9ajw144zl85/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div>
                    <div class="content-hide">
<!--                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>