[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Expand your Gardening Skills! Take a class. Attend an Event.</h2>
                <p>See all classes and full descriptions on our <a href="/events/current-classes/">Current Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

                <a href="https://portlandnursery.com/plants/container-gardens/pdfs/march2019.pdf" target="_blank"><img src="{{ 'assets/images/classboxes/march2019.jpg'|theme }}" alt="" /></a>
                </div>

             <a href="https://portlandnursery.com/plants/container-gardens/pdfs/march2019.pdf" target="_blank">
                <div class="season-content">
                    <div class="content-show">
                        <h4>March Meadow</h4>
						 <span>DOWNLOAD THE RECIPE<br>See all the March Containers<br><a href="https://portlandnursery.com/container-gardens/march-designs/" target="_blank">Link to the March Container Page</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
              </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->


        <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

                <a href="https://portlandnursery.wufoo.com/forms/zkzm4yp0lw15s4/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/firescaping.jpg'|theme }}" alt="" /></a>
                </div>

             <a href="https://portlandnursery.wufoo.com/forms/zkzm4yp0lw15s4/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Firescaping</h4>
						 <span>5050 SE STARK<br>Saturday &bull; March 30 &bull; 11:00am<br>
<a href="https://portlandnursery.wufoo.com/forms/zkzm4yp0lw15s4/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
              </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

         <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

             <a href="https://portlandnursery.wufoo.com/forms/zkf8xxo1nvftt0/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/plantparts.jpg'|theme }}" alt="" /></a>
                </div>

             <a href="https://portlandnursery.wufoo.com/forms/zkf8xxo1nvftt0/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Backyard Botany 101</h4>
						 <span>5050 SE STARK<br>Sunday &bull; March 31 &bull; 1:00pm</strong><br>
<a href="https://portlandnursery.wufoo.com/forms/zkf8xxo1nvftt0/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
              </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

    </div>
</div>