[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Expand your Gardening Skills! Take a class. Attend an Event.</h2>
                <p>See all classes and full descriptions on our <a href="/events/current-classes/">Current Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">
	            <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                     <a href="https://portlandnursery.wufoo.com/forms/z17aazr10kb8h64/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/wreathmaking.jpg'|theme }}" alt="" /></a>
                </div>

                 <a href="https://portlandnursery.wufoo.com/forms/z17aazr10kb8h64/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
	                 <div class="season-content">
                    <div class="content-show">
                        <h4>Schedule a Wreath Making Party!</h4>
<!--
                        <span>9000 SE DIVISION<br>Saturday &bull; Nov. 10 &bull; 11:00am<br>
	                                                <a href="https://portlandnursery.wufoo.com/forms/z17aazr10kb8h64/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
-->
<span>We have a few dates left! Call us today to schedule. <br>
<strong>9000 SE Division St. location:</strong><br />
Email <a href="mailto:division-classes@portlandnursery.com?subject=Schedule%20a%20Wreath%20Party">division-classes@portlandnursery.com</a> or call 503-788-9000.<br>
<strong>5050 SE Stark St location:</strong><br />Email <a href="mailto:stark-classes@portlandnursery.com?subject=Schedule%20a%20Wreath%20Party">stark-classes@portlandnursery.com</a> or call 503-231-5050.
                    </div>
                 </div>
                 </a>

                    <div class="content-hide">
<!--                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p> -->
                    </div>
                </div>
            </div>

         <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                     <a href="https://portlandnursery.wufoo.com/forms/z1eagttx1loyvch/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/wintergarden.jpg'|theme }}" alt="" /></a>
                </div><!-- season-thumb -->

                 <a href="https://portlandnursery.wufoo.com/forms/z1eagttx1loyvch/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Winter Garden</h4>
                        <span>5050 SE STARK<br />Sunday &bull; November 11 &bull; 11:00am<br>
                <a href="https://portlandnursery.wufoo.com/forms/z1eagttx1loyvch/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                   </div><!-- season-content -->
                 </a>

                    <div class="content-hide">
<!--                         <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p> -->
                    </div><!-- content-hide -->
                </div><!-- season-box -->
            </div>

          <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

                 <a href="https://portlandnursery.wufoo.com/forms/z1xonict1687k29/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/winterbonsai.jpg'|theme }}" alt="" /></a>
                </div>

             <a href="https://portlandnursery.wufoo.com/forms/z1xonict1687k29/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Wintering Hardy Bonsai</h4>
						 <span>9000 SE DIVISION<br>Saturday &bull; November 17 &bull; 1:00pm<br>
               <a href="https://portlandnursery.wufoo.com/forms/z1xonict1687k29/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div>
                    <div class="content-hide">
<!--                         <p>Half of the fun of gardening is plotting and scheming for spring…here are some helpful tools:</p> -->
                    </div>
                </div>
             </a>

            </div>
        </div>
    </div>
</div>