[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Expand your Gardening Skills! Take a class. Attend an Event.</h2>
                <p>See all classes and full descriptions on our <a href="/events/current-classes/">Current Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">

	    <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">
                     <img src="{{ 'assets/images/classboxes/snowday.jpg'|theme }}" alt="" />
                </div>

	                 <div class="season-content">
                    <div class="content-show">
                        <h4 class="aligncenter">Snow Days Ahead!</h4>
                        <h4 class="aligncenter">Normal Hours - Sunday, Feb. 10.</h4>
                    </div><!-- content show -->
                 </div><!-- season-content -->

                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

         	    <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

                <img src="{{ 'assets/images/classboxes/valentines.jpg'|theme }}" alt="" />
                </div>

                <div class="season-content">
                    <div class="content-show">
                        <h4>Handmade Valentine Sale</h4>
						 <h4>Cancelled!</h4>

                    </div><!-- content-show -->
                 </div><!-- season-content -->
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

         	    <div class="col-md-4 col-sm-6">
            <div class="season-box">
                <div class="season-thumb">

               <a href="https://portlandnursery.wufoo.com/forms/z1qc8lwo0657qqy/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/attractingbees.jpg'|theme }}" alt="" /></a>
                </div>

            <a href="https://portlandnursery.wufoo.com/forms/z1qc8lwo0657qqy/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">
                <div class="season-content">
                    <div class="content-show">
                        <h4>Attracting Pollinators</h4>
						 <span>5050 SE STARK <br>Saturday &bull; February 16 &bull; 11:00am<br>
	                        <a href="https://portlandnursery.wufoo.com/forms/z1qc8lwo0657qqy/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Click here to register for this class.</a></span>
                    </div><!-- content-show -->
                 </div><!-- season-content -->
              </a>
                </div><!-- season-box -->
            </div><!-- col-md-4 col-sm-6 -->

    </div>
</div>