[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="section-header">
                <h2 class="brightonL center">Take one of our classes this weekend!</h2>
                <p>See all the details on our <a href="https://portlandnursery.com/events/current-classes/">Classes Page</a></p>
            </div>
        </div>
    </div>
    <div class="row">

       <div class="col-md-4 col-sm-6">
			 <div class="season-box">
                <div class="season-thumb">
                      <a href="https://portlandnursery.com/resources/sales/"><img src="{{ 'assets/images/classboxes/houseplantsale.jpg'|theme }}" alt="" /></a>
                </div>

                 <a href="https://portlandnursery.com/resources/sales/">
	                 <div class="season-content">
                    <div class="content-show">
                    </div>
                 </div>
                 </a>

                    <div class="content-hide">
                       <p></p>
                    </div>
                </div>
            </div>

        <div class="col-md-4 col-sm-6">
			 <div class="season-box">
                <div class="season-thumb">
                   <a href="https://portlandnursery.wufoo.com/forms/z51adij1x0evwh/" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/repottinghouseplants.jpg'|theme }}" alt="" /></a>
                </div>

                 <a href="https://portlandnursery.com/resources/sales/">
	                 <div class="season-content">
                    <div class="content-show">
                    </div>
                 </div>
                 </a>

                    <div class="content-hide">
                       <p></p>
                    </div>
                </div>
            </div><!-- col-md-4 col-sm-6 -->

            <div class="col-md-4 col-sm-6">
			 <div class="season-box">
                <div class="season-thumb">
                     <a href="https://www.eventbrite.com/e/building-terrariums-with-brittany-hobbs-tickets-85649085721" onclick="window.open(this.href,  null, 'height=483, =680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"><img src="{{ 'assets/images/classboxes/terrariumB.jpg'|theme }}" alt="" /></a>
                </div>

                 <a href="https://portlandnursery.com/resources/sales/">
	                 <div class="season-content">
                    <div class="content-show">
                    </div>
                 </div>
                 </a>

                    <div class="content-hide">
                       <p></p>
                    </div>
                </div>
            </div>


    </div>
</div>