description = "Static Home layout one"

[session]
security = "all"
redirect = "home"

[slider]
slide_show_id = "{{ homeslider }}"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/metalong' %}
	</head><!--/head-->

<body class="page-{{ this.page.id }} layout-{{ this.layout.id }} plants">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M48RXDN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <!-- Header -->
			<header id="header">
				{% partial "site/top" %}
				{% partial "site/nav" %}

			</header><!--/header -->


<section class="no-margin">{% component 'slider' slide_show_id = 1 %}</section>

<div class="newssignup"><p>Sign up today! Your subscription gives you an instant 25% off your entire pottery purchase! <script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=180&cid=230017&lid=10011"></script></p></div>


	<section id="happeningstitle">
		<div class="container">
            <div class="section-header">
                <h2 class="brightonL center">What's Happening at Portland Nursery this <span>{% partial 'resources/month' %}</span></h2>

               <h3>{% placeholder whatshappening title="What's Happening" %}</h3>

            </div>  <!-- section header -->
	</div><!--/.container-->
	</section>

	<section id="monthlyfeatures">{% partial "homepage/monthlyfeatures" %}</section>


    <section id="covidmodal">{% partial "homepage/covidmodal" %}</section>

    <!-- Happenings -->

<section id="happenings">
<div class="container">
	<div class="center">
   <h2 class="brightonL center">Curbside Pickup at Portland Nursery</h2>

   <div class="borderline">
				<h3>We strive to open online orders daily. <u>Please do not call asking when we will be accepting new orders.</u> Online-orders has a small staff that balances serving customers in the store while filling your order.</h3>

</div> <!-- borderline -->

<h3>ORDER PICK-UP MOVED TO 9000 SE DIVISION.</h3>

   <p>We are switching our curbside pick up to our Division location for the rest of the season. If you have any questions please call our Division location at 503-788-9000. This should be an easy transition, but nothing has come easily this year so we will just do our best! -- Thank you!!</p>

</div> <!-- center -->
</div> <!-- container -->

{% partial "homepage/orders" %}
</section>

<!-- Happenings -->
<section id="socialblock">{% partial "homepage/socialblock" %}</section>
<!--end happenings-->


		<footer id="footer">
		    {% partial "site/footerhome" %}
		</footer><!--/#footer-->

		{% component 'googleTracker' %}

        <!-- Scripts -->
        {% partial 'scripts' %}

    </body>
</html>