        <div class="col-md-4">
                <h2>September Tips</h2>
	<figure><img class="img-responsive" src="{{ '/assets/images/trees/fallcolor.jpg'|theme }}" alt="Trees"></figure>

                        <p>This marks the beginning of the autumn planting season. While it is possible to plant trees and shrubs in the heat of summer, it is often easier on the plant if you wait until the temperatures cool somewhat in September or October. Also, if you have clay soil it is often easier to dig in after the first significant shower of the autumn.</p>
<p> Most trees and shrubs don&rsquo;t want to be fertilized this time of year. The only exception might be a little organic, slow-release food for newly planted evergreens, or those plants that have not been fed in a long time.</p>
</div>
<div class="col-md-4">
	<h2>October Tips</h2>
	<p>With temperatures moderate again, it is an excellent time for planting any hardy trees and shrubs. Your soil should be workable if it is moderately moist. Generally, planting now versus. next spring results in better roots before next summer, which is often the hardest season on recent plantings.</p>

	  <p>October to November is usually the best time for moving established shrubs if you feel you have to. Note that this is hard on plants, and isn&rsquo;t exactly recommended even this time of year. If the plant is small or recently planted you are more likely to have success.</p>
	  <p>Note that any tender trees or shrubs (such as <a href="https://portlandnursery.com/docs/fruits/growing_citrus.pdf" target="_blank">Citrus</a>, and most <a href="https://portlandnursery.com/docs/houseplants/hibiscusclasshandout.pdf" target="_blank">Hibiscus</a> and <a href="https://portlandnursery.com/docs/houseplants/gardeniaclasshandout.pdf" target="_blank">Gardenia)</a> will need protection from freezing and you will need to move them in or otherwise protect them soon. Follow the links to  care sheets for each of the above plants. </p>
		<p>When mulching, make sure that the mulch is not in contact with the wooden stems or your plants. This can potentially cause damage or rot of the bark and underlying tissues.</p>
</div>

<div class="col-md-4">
	<h2>November Tips</h2>

<p>Dormant spraying can start in November. This means the application of particular pesticides while the plant is dormant. While many gardeners wait until February before spraying, multiple applications throughout the winter can benefit those plants with significant problems. Disease-prone fruit trees, roses, and lilacs often benefit from dormant spraying.</p>
	<p>If you have had disease problems with these or other trees and shrubs, then feel free to inquire with us about what can be done to help. Overwintering insect eggs can sometimes be controlled with other, oil-based dormant sprays.</p>
<p>Please note that while the products we have for dormant spraying are accepted for organic gardening practices, they can be dangerous to the applicator if misused. Always follow label precautions.</p>
            </div>
