
    <div class="container">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Prevention &amp; Control
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/bugs.jpg'|theme }}" alt="bugs">

                    <p>We have compiled a number of solutions to Prevention &amp; Control based on current best practices as defined in our <a href="https://portlandnursery.com/docs/bestpractice-solutions/BestPracticesBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Best Practices pdf</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/AphidsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Aphids</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/AttractingBeneficialsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Attracting Beneficials</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/BeeFriendlyBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Bee Friendly Practices</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/CutwormsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Cutworms</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/ImpatiensDownyMildewBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Impatiens Downy Mildew</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-pests-other/invasive_plant_control.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Invasive Plant Control</a></p>

                        <p><a href="https://portlandnursery.com/docs/insect-disease-sprays/Azalea_lacebug.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Azalea Lace Bugs</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/MosquitoesBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Mosquitoes</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/PowderyMildewBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Powdery Mildew</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/RosesBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Caring for Roses</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/Scale-MealybugsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Scale &amp; Mealy Bugs</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/Slugs-SnailsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Snails &amp; Slugs</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/SpiderMitesBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Spider Mites</a></p>

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/StinkBugsBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Controlling Stink Bugs</a></p>

                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Annuals &amp; Perennials
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/annuals.jpg'|theme }}" alt="annuals">

                        <p><a href="https://portlandnursery.com/docs/veggies/edible-plants.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Edible Flowers</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/perennials-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Perennials for Shade</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/perennials-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Perennials for Sun</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/cut-flowers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Cut Flowers</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/EvergreenPerennials.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Evergreen Perennials</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/Fragrant_Plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Fragrant Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/PerennialBloomCalendar.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Perennial Bloom Calendar</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/annuals/">Annuals Page</a></li>

                        <li><a href="/perennials/">Perennials Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Bulbs &amp; Seeds
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/bulbs.jpg'|theme }}" alt="bulbs">

                        <p><a href="https://portlandnursery.com/docs/bulbs-seeds/planting-depths-for-bulbs.pdf" target="_blank" alt="planting depths for bulbs"><i class="fa fa-download" aria-hidden="true"></i>Planting Depth for Bulbs</a></p>

                        <p><a href="https://portlandnursery.com/docs/bulbs-seeds/covercrops.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Cover Crops</a></p>

                        <p><a href="https://portlandnursery.com/docs/bulbs-seeds/bulb-forcing.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Bulb Forcing</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/perennials/bulbs/">Bulbs Page</a></li>
                        <li><a href="/veggies/seeds/">Seeds Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Houseplants
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/houseplants.jpg'|theme }}" alt="houseplants">

                        <p><a href="https://portlandnursery.com/docs/houseplants/Houseplant_Light_Needs.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Houseplant Light Needs</a></p>

                        <p><a href="https://portlandnursery.com/docs/houseplants/plants_for_cleanerair.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Houseplants for Cleaner Air</a></p>

                        <p><a href="https://portlandnursery.com/docs/houseplants/OrchidCare.pdf"><i class="fa fa-download" aria-hidden="true"></i>Orchid Care</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/houseplants/">Houseplant Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Shrubs &amp; Vines
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/shrubs.jpg'|theme }}" alt="shrubs">

                        <p><a href="https://portlandnursery.com/docs/shrubs-vines/clematis2009.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Clematis</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Columnar_Plants.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Columnar Plants</a></p>

                        <p><a href="https://portlandnursery.com/docs/shrubs-vines/Hedges.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Hedges</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/shrubs/">Shrubs Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tropical / Tender Plants
                </div>

                <div class="panel-body">
                <img class="img-responsive" src="{{ 'assets/images/resources/citrus.jpg'|theme }}" alt="citrus">

                    <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/Citrus.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Growing Citrus</a></p>

                    <p><a href="https://portlandnursery.com/docs/houseplants/gardeniaclasshandout.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Caring for Gardenias</a></p>

                    <p><a href="https://portlandnursery.com/docs/houseplants/hibiscusclasshandout.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Caring for Hibiscus</a></p>

                    <p><a href="https://portlandnursery.com/docs/perennials-annuals/tenderperenhandout.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Caring for Tender Perennials</a></p>

            </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Garden Planning
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/planning.jpg'|theme }}" alt="Streambed">

                        <p><a href="https://portlandnursery.com/docs/landscaping-design/pond-worksheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Pond Calculation Worksheet</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/Mediterranean_Plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plant a Mediterranean Garden</a></p>

                        <p><a href="https://portlandnursery.com/docs/native-plants/gardening_natives.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plan a Native Garden</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/Fragrant_Plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Surround Yourself with Fragrance</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/parking_strip_plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Parking Strip Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/kidsgardening.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Gardening with children</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/Rain-Gardens-and-Bioswales.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Raingardens &amp; Bioswales</a></p>

                        <p><a href="https://portlandnursery.com/docs/grasses-bamboo/Installing-a-Seed-Lawn.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Installing a Seed lawn</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/Drought-Tolerant.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Drought Tolerant Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/coastal-plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Coastal Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/LowMaintenance.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Low Maintenance Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/garden-planning/RockGardens.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Rock Garden Plantings</a></p>

                    <!--      <p><a href="solutions/xeriscaping.shtml">Lower Water Consumption:<br />See our Xeriscaping Page</a></p> -->
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Birds &amp; Bees...
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/bees.jpg'|theme }}" alt="Birds and Bees">

                        <p><a href="https://portlandnursery.com/docs/birds-deer-bees/attracting_birds.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Attracting Birds</a></p>

                        <p><a href="https://portlandnursery.com/docs/birds-deer-bees/Plants_for_Hummingbirds.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plants for Hummingbirds</a></p>

                        <p><a href="https://portlandnursery.com/docs/birds-deer-bees/deer-resistant.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Deer Resistant Plants</a></p>

                        <p><a href="https://portlandnursery.com/docs/birds-deer-bees/masonbees.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Fun with Mason Bees</a></p>

                        <p><a href="https://portlandnursery.com/docs/birds-deer-bees/Butterfly-Gardening.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Attracting Butterflies</a></p>

                    <p>Visit our Pages</p>

                    <ul>
                        <li><a href="/natives/hummingbirds/">Attracting Hummingbirds</a></li>

                        <li><a href="/natives/butterflies/">Attracting Butterflies</a></li>

                        <li><a href="/trees/bird-haven/">Building a Bird Haven</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Winter
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/winter.jpg'|theme }}" alt="Winter Damage">

                        <p><a href="https://portlandnursery.com/docs/winter-care/overwintering.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Over Wintering</a></p>

                        <p><a href="https://portlandnursery.com/docs/winter-care/winter-damage.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Winter Damage</a></p>

             <p>Visit our</p>

                    <ul>
                        <li><a href="/resources/winter-prep/">Winter Preparation Page</a></li>
                    </ul>

                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Native Plants
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/natives.jpg'|theme }}" alt="natives">

                        <p><a href="https://portlandnursery.com/docs/native-plants/gardening_natives.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Gardening with Natives</a></p>

                        <p><a href="https://portlandnursery.com/docs/native-plants/NativePlantInterpretiveGuide.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Interpretive Guide</a></p>

                        <p><a href="https://portlandnursery.com/docs/native-plants/portland_plant_list.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Portland Native Plant List</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/natives/">Natives Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tree Solutions
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/trees.jpg'|theme }}" alt="trees">

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/TreePlantingBasics.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Tree Planting Basics</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/what-when-how-Pruning.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>What, When &amp; How to Prune</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Pruning_Calendar.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Pruning Calendar</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Trees_Container.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Container Trees</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Evergreen-Trees.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Evergreen Trees</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Trees_15-25_Feet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Small Trees 15'-25'</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Planting-Under-Walnuts.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Planting under Walnuts</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/Trees_Living_Christmas.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Living Christmas Trees</a></p>

                        <p><a href="https://portlandnursery.com/docs/trees/WinterInterest.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Winter Interest</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/trees/">Trees Page</a></li>

                        <li><a href="/trees/tree-guide/">Tree Selection Guide</a></li>

                        <li><a href="/trees/conifers/">Conifer Selection Guide</a></li>

                        <li><a href="/trees/miniature-conifers/">Miniature Conifer Guide</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Bamboo &amp; Grasses
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/grasses.jpg'|theme }}" alt="grasses">

                        <p><a href="https://portlandnursery.com/docs/grasses-bamboo/bamboo-at-a-glance.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Bamboo at a Glance</a></p>

                        <p><a href="https://portlandnursery.com/docs/grasses-bamboo/Ornamental-Grasses.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Ornamental Grasses</a></p>

                        <p><a href="https://portlandnursery.com/docs/grasses-bamboo/Installing-a-Seed-Lawn.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Installing a Seed Lawn</a></p>

<!--
                    <p>Visit our</p>
	                    <ul>
						<li><a href="/grasses/">Grasses Page</a></li>
						</ul>
-->
                </div>
            </div><!-- panel-default -->

<!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    Fruits, Nuts &amp; Berries
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/fruits.jpg'|theme }}" alt="fruits">

                    <p>For a full list of culture and variety lists, Visit our</p>
                    <ul>
					<li><a href="/fruits/">Small Fruits &amp; Berries Page</a></li>
					</ul>

                    <ul>
                        <li><a href="https://portlandnursery.com/docs/garden-pests-other/poisonousberries.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Poisonous Berries</a></li>
                    </ul>
                </div>
            </div>
--><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Container Gardening
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/container.jpg'|theme }}" alt="containers">

                        <p><a href="https://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Fillers, Spillers for Shade</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Fillers, Spillers for Sun</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/annual-shade-containers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Annual Shade Containers</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/containers-and-baskets.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Containers &amp; Baskets</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/Planting_English_Basket.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Planting an English Basket</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/edible_plants_containers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Edible Plant Containers</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/Water_Bowl_Plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Water Bowl Plantings</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/Year-Round-Container-Class.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Year Round Containers</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/container-gardens/">Container Design Page</a></li>
                    </ul>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Vegetables &amp; Herbs
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/vegetables.jpg'|theme }}" alt="vegetables">

                        <p><a href="https://portlandnursery.com/docs/veggies/HeirloomVeggieGuide.pdf"><i class="fa fa-download" aria-hidden="true"></i>Heirloom Vegetable Guide</a></p>

                        <p><a href="https://portlandnursery.com/docs/veggies/succession-planting.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Succession Planting</a></p>

                        <p><a href="https://portlandnursery.com/docs/veggies/VeggieCalendar.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Veggie Planting Calendar</a></p>

                        <p><a href="https://portlandnursery.com/docs/veggies/WinterVeggies.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Winter Veggies</a></p>

                    <!-- <p>For a full list of culture and variety lists, Visit our <a href="/vegetables/">Veggie Page</a></p> -->
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Roses
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/roses.jpg'|theme }}" alt="roses">

                        <p><a href="https://portlandnursery.com/docs/bestpractice-solutions/RosesBP.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Rose Selection Guide</a></p>

                        <p><a href="https://portlandnursery.com/docs/roses/DiseaseResistantFragrantRoses.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Best Roses for Fragrance &amp; Disease Resistance</a></p>


                        <p><a href="https://portlandnursery.com/docs/roses/RoseList2017.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>2017 Rose List</a></p>

                        <p><a href="https://portlandnursery.com/docs/roses/DiseaseResistantFragrantRoses.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Rose List by Disease Resistance &amp; Fragrance</a></p>

                        <p><a href="https://portlandnursery.com/docs/roses/Rose_Care.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Rose Care</a></p>

                    <p>Visit our</p>

                    <ul>
                        <li><a href="/roses/">Roses Page</a></li>
                    </ul>

                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Shade Plantings
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/shade.jpg'|theme }}" alt="shade">

                        <p><a href="https://portlandnursery.com/docs/shade-solutions/shade-gardening-class.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Shade Gardening Handout</a></p>

                        <p><a href="https://portlandnursery.com/docs/container-planting/annual-shade-containers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Annual Shade Containers</a></p>

                        <p><a href="https://portlandnursery.com/docs/shade-solutions/Shade_Dry_and_Wet_Areas.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plants for Wet &amp; Dry Areas</a></p>

                        <p><a href="https://portlandnursery.com/docs/shade-solutions/Shade_Screen_Plants.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Screen Plants - Shade</a></p>

                        <p><a href="https://portlandnursery.com/docs/perennials-annuals/perennials-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Perennials for Shade</a></p>

                        <p><a href="https://portlandnursery.com/docs/shade-solutions/ToughShade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plants for Tough Shade</a></p>

                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Bonsai
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/bonsai.jpg'|theme }}" alt="bonsai">

                        <p><a href="https://portlandnursery.com/docs/bonsai/indoorbonsai.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Indoor Bonsai Care</a></p>

                        <p><a href="https://portlandnursery.com/docs/bonsai/outdoorbonsai.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Outdoor Bonsai Care</a></p>

                        <p><a href="https://portlandnursery.com/docs/bonsai/bonsai-types.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plants for Bonsai</a></p>

                    <!--
<p>Visit our</p>
                            <ul>
<li><a href="/plants/bonsai/">Bonsai Page</a></li></ul>
-->
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Groundcovers
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/groundcovers.jpg'|theme }}" alt="groundcovers">

                  <p>Groundcovers for Sun</p>

                         <p><a href="https://portlandnursery.com/docs/groundcovers/fast-Growing-Sun-Groundcovers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Fast Growing</a></p>

                         <p><a href="https://portlandnursery.com/docs/groundcovers/Evergreen-groundcovers-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Evergreen</a></p>

                         <p><a href="https://portlandnursery.com/docs/groundcovers/drought-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Drought Tolerant</a></p>

                         <p><a href="https://portlandnursery.com/docs/groundcovers/paths-groundcover-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Paths and Lawn substitutes.</a></p>

                        <p>Groundcovers for Shade</p>

                         <p><a href="https://portlandnursery.com/docs/groundcovers/fast-growing-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Fast Growing</a></p>

                        <p><a href="https://portlandnursery.com/docs/groundcovers/evergreen-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Evergreen</a></p>

                             <p><a href="https://portlandnursery.com/docs/groundcovers/drought-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Drought Tolerant</a></p>

                           <p><a href="https://portlandnursery.com/docs/groundcovers/damp-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Damp Shade</a></p>

                             <p><a href="https://portlandnursery.com/docs/groundcovers/dense-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Dense Shade</a></p>

                              <p><a href="https://portlandnursery.com/docs/groundcovers/paths-lawn-subs-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Paths and Lawn substitutes.</a></p>

                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Holiday Crafts
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/resources/wreathmaking.jpg'|theme }}" alt="wreathmaking">

                        <p><a href="https://portlandnursery.com/docs/holiday-crafts/mistletoe-ball.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Mistletoe Ball</a></p>

                        <p><a href="https://portlandnursery.com/docs/holiday-crafts/wreath-making.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Wreath Making</a></p>

                </div>
            </div><!-- panel-default -->
        </div><!-- row -->
    </div><!-- container brochures -->
