
    <div class="container">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Apples
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/apples.jpg'|theme }}" alt="fruits">

                                <p><a href="https://portlandnursery.com/docs/fruits/applerootstock.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Apple Rootstock</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/ApplePollination.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Apple Pollination</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/AppleDiseaseResistance.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Disease Resistance</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Apples.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>2017 Apple Varieties</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                   Nut Bearing Trees
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/almond.jpg'|theme }}" alt="almond tree">

					<p><a href="https://portlandnursery.com/docs/fruits/Almonds.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Almonds</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Chestnut2012.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Chestnuts</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Filberts.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Filberts</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Walnuts.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Walnuts</a></p>
                </div>
            </div><!-- panel-default -->

                <div class="panel panel-default">
                <div class="panel-heading">
                     Fruit Bearing Trees
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/apricots.jpg'|theme }}" alt="fruits">

                                 <p><a href="https://portlandnursery.com/docs/fruits/ApricotTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Apricots</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Cherries.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Cherries</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Citrus.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Growing Citrus</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Fig.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Figs</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Nectarine.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Nectarines</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Mulberry.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Mulberries</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Peaches.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Peaches</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/AsianPearTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Asian Pear Varieties</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Persimmon.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Persimmon</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/PlumsandPrunes2012.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Plums and Prunes</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Quince.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Quince</a></p>

                </div>
            </div><!-- panel-default -->

           <div class="panel panel-default">
                <div class="panel-heading">
                    Brambles
                </div>

                <div class="panel-body">
                <img class="img-responsive" src="{{ 'assets/images/fruits/raspberries.jpg'|theme }}" alt="raspberries">

                                <p><a href="https://portlandnursery.com/docs/fruits/BlackberrySupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Blackberries</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/RaspberrySupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Raspberries</a></p>

              </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Strawberries
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/strawberries.jpg'|theme }}" alt="fruits">

						<p><a href="https://portlandnursery.com/docs/fruits/StrawberrySupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Strawberry Varieties</a></p>
                            <p><a href="https://portlandnursery.com/docs/fruits/StrawberryCulture.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Strawberry Culture</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                   Fruit Vines
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/kiwi.jpg'|theme }}" alt="kiwi">

                                <p><a href="https://portlandnursery.com/docs/fruits/TableGrapeSupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Table Grapes</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/WineGrapeTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Wine Grape Cares</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/KiwiSupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Kiwi</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/HopsTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Hops</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                   Blueberries
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/blueberries.jpg'|theme }}" alt="fruits">

                                <p><a href="https://portlandnursery.com/docs/fruits/BlueberryTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Blueberry Varieties</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/BlueberryBloomTime.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Blueberry Bloom schedule</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/BlueberryCare.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Blueberry Care Sheet</a></p>

                  </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                   Fruit Bearing Shrubs
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/fruits/blueberries.jpg'|theme }}" alt="fruits">

                            <p><a href="https://portlandnursery.com/docs/fruits/CurrantTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Currant Varieties</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/CurrantGooseberryCare.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Currant &amp; Gooseberry Care</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/ElderberryTable2012.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Elderberry Varieties</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/GooseberryTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Gooseberry Varieties</a></p>
                            <p><a href="https://portlandnursery.com/docs/fruits/Honeyberry.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Honeyberry Varieties</a></p>


                            <p><a href="https://portlandnursery.com/docs/fruits/goumi_berry.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Goumi Berry Care</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/RhubarbSupersheet.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Rhubarb Care &amp; Varieties</a></p>

                            <p><a href="https://portlandnursery.com/docs/fruits/Seaberries.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Sea Berries</a></p>

                  </div>
            </div><!-- panel-default -->


        </div><!-- row -->
    </div><!-- container brochures -->
