
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Brassicas / Asparagus
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/kale530.jpg'|theme }}" alt="kale">

       <p>Read our brochure on fighting <a href="https://portlandnursery.com/docs/veggies/BrassicaPests.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Brassica Pests</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/asparagus.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Asparagus Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/broccoli.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Broccoli Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/brussels-sprout.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Brussels Sprout Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/cabbage.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Cabbage</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/Cauliflower.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Cauliflower Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/asian-greens.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Choi</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/kale.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Kale</a></p>

                </div>
            </div><!-- panel-default -->

           <div class="panel panel-default">
                <div class="panel-heading">
                    Carrot Family
                </div>

                <div class="panel-body">
                <img class="img-responsive" src="{{ 'assets/images/veggies/carrot.jpg'|theme }}" alt="carrots">

                                <p><a href="https://portlandnursery.com/docs/veggies/carrots.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Carrot Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/celery.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Celery Culture</a></p>

            </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Alliums
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/onion.jpg'|theme }}" alt="onion">

								<p><a href="https://portlandnursery.com/docs/veggies/leek.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Leek Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/OnionCulture11-13.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Onion Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/ShallotCulture11-13.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Shallot Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/BulkveggiesTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Bulk Shallot</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                   Beets/Lettuce/Artichokes
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/lettuce.jpg'|theme }}" alt="lettuce">

                                <p><a href="https://portlandnursery.com/docs/veggies/artichoke.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Artichoke Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/beets.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Beets Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/lettuce.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Lettuce Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/SwissChard.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Swiss Chard Culture</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Cucurbits
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/squash.jpg'|theme }}" alt="squash">

                                <p><a href="https://portlandnursery.com/docs/veggies/cucumber.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Cucumber</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/melon.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Melon</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/squash-pumpkin.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Squash Culture</a></p>
                </div>
            </div><!-- panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                     Legumes and Corn
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/corn.jpg'|theme }}" alt="corn">

                                 <p><a href="https://portlandnursery.com/docs/veggies/beans.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Bean Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/corn.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Corn Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/peas.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Pea Culture</a></p>
                </div>
            </div><!-- panel-default -->

                        <div class="panel panel-default">
                <div class="panel-heading">
                   Solanums
                </div>

                <div class="panel-body">
                    <img class="img-responsive" src="{{ 'assets/images/veggies/eggplant.jpg'|theme }}" alt="eggplant">

                                <p><a href="https://portlandnursery.com/docs/veggies/eggplant.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Eggplant Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/peppers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Pepper Culture</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/PeppersHotTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Hot Pepper Varieties</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/PeppersSweetTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Sweet Peppers</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/PotatoTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> 2017 Potato Table</a></p>

                                <p><a href="https://portlandnursery.com/docs/veggies/BulkveggiesTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Bulk Potato Varieties</a></p>

                  </div>
            </div><!-- panel-default -->


        </div><!-- row -->
    </div><!-- container brochures -->
