description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->

                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Native Ferns
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/ferns/nativefern.jpg'|theme }}" alt="ferns"></figure>
	                             <p>We have a feature on native ferns that will help with addition of natives to your garden. <a href="/natives/ferns/">Visit our Native Fern page for details.</a> Native ferns are available year-round at the nursery.</p>
	                             <p>Native ferns include: Sword Fern, Licorice Fern, Maidenhair Fern, Deer Fern, Giant Chain Fern and Lady Fern. </p>								     </div><!-- panel body -->
                                  </div>
                              </div>

<!--
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Shrubs for fragrance
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">

                             <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/shrubs/fragrance.jpg'|theme }}" alt="fragrant shrubs"></figure>

											<p>&bull;  <a href="/shrubs/buddleia/">Buddleia</a></p>
											<p>&bull;  <a href="/shrubs/clethra/">Clethra</a></p>
											<p>&bull;  <a href="/shrubs/daphne/">Daphne</a></p>
											<p>&bull;  <a href="/shrubs/edgeworthia/"> Edgeworthia</a></p>
											<p>&bull;  <a href="/shrubs/gardenia/"> Gardenia</a></p>
											<p>&bull;  <a href="/shrubs/hamamelis/"> Hamamelis </a></p>
											<p>&bull;  <a href="/shrubs/sarococca/"> Sarcococca</a></p>
											<p>&bull;  <a href="/shrubs/syringa/"> Syringa</a></p>
                              </div>
                              </div>
                            </div>
-->

                        </div><!--/#accordion1-->
                    </div><!-- accordion -->
                </div>