description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">

                           <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 {% partial "resources/month" %} 2018 Design
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
	                              <figure>
	                              <a href="https://portlandnursery.com/plants/container-gardens/pdfs/february2018.pdf" target="_blank"><img class="img-responsive" src="https://portlandnursery.com/plants/images/containers/images18a/february2018.jpg" alt="Container Design"></a></figure>

									                        <h2><a href="https://portlandnursery.com/plants/container-gardens/pdfs/february2018.pdf" target="_blank">Enjoy the Love</a></h2>

                        <ol>
						<li><em>Edgeworthia chrysantha</em></li>
						<li><em>Adiantum venustum</em></li>
						<li><em>Carex</em> ‘Ice Dance’</li>
						<li><em>Tulipa</em></li>
						<li><em>Gaultheria procumbens</em></li>
						<li><em>Carex</em> ‘Western Sword’</li>
						<li>Primrose</li>
						<li><em>Arctostaphylos</em> ‘Massachusetts’</li>
                        </ol>

                        <p><a href="https://portlandnursery.com/plants/container-gardens/pdfs/february2018.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download the Planting Recipe</a></p>

                        <p>See all our designs for the <a href="/container-gardens/february-designs/">month of February</a></p>
                    		</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Refreshing Fall and Winter Containers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/container-gardens/refreshingpage.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>When summer is behind us, our annual containers are likely starting to look pretty tired.<em> Impatiens</em> may be leggy, potato vines may be tattered from dry weather and bugs may have had their day with our petunias. The question is where do we go from here in order to freshen up our hanging baskets and pots for fall and winter.</p>

<p><a href="/container-gardens/refreshing-containers/">Continue reading for more detail...</a></p>
	                                        </div>
                            </div>
                          </div>

                           <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                 Designing Your Containers!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/container-gardens/thrillermain.jpg'|theme }}" alt="Thriller, Spiller, Fillers"></figure>
<p>There are so many wonderful plants to choose from. Creating a successful design for your container can be simplified by using the Thriller, Filler and Spiller rule. </p>
	<p>Thrillers are generally taller, showy plants.</p>
		<p>Fillers add fullness and body. </p>
			<p>Spillers are trailing or flowing plants that soften the edges of the pot. Choosing plants from each of these categories will help create a balanced and layered look. </p>

									                  <p><a href="/container-gardens/thriller-filler-spiller/">Continue reading for more detail...</a></p>

									                  <p>Print out our helpful lists of shade and sun plants:</p>

    <p><a href="https://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Shade Plants</a></p>
    <p><a href="https://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Sun Plants</a></p>
    						</div>
                            </div>
                          </div>

                       <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                  Container Design Handouts
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/container-gardens/containerbrochures.jpg'|theme }}" alt="Top Annuals"></figure>
									      <p>We offer a number of brochures on creating potted designs. Download all that look interesting!</p>

                    <p><a href="https://portlandnursery.com/docs/container-planting/annual-shade-containers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Annual Shade Containers</a></p>

                           <p><a href="https://portlandnursery.com/docs/container-planting/containers-and-baskets.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Containers &amp; Baskets</a></p>

                           <p><a href="https://portlandnursery.com/docs/container-planting/Planting_English_Basket.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Planting an English Basket</a></p>

                           <p><a href="https://portlandnursery.com/docs/container-planting/edible_plants_containers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Edible Plant Containers</a></p>

                           <p><a href="https://portlandnursery.com/docs/container-planting/Water_Bowl_Plantings.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Water Bowl Plantings</a></p>
                             <p><a href="https://portlandnursery.com/docs/bulbs-seeds/bulb-forcing.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Bulb Forcing</a></p>

                              </div>
                            </div>
                          </div>

<div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                 Potting Help
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/container-gardens/repotting.jpg'|theme }}" alt="Edible Flowers"></figure>
                                         <p>Choose the plants and we can do the potting: houseplants, hanging baskets, mixed containers, holiday center pieces, window boxes, shrubs and trees in containers. Have a pot at home that needs a hole in it? Bring it in and for $1 we'll drill one for you (We cannot guarantee we won't break the pot in the process of drilling, but we'll do our best to not make that happen.)</p>

<!--                         <p><a href="https://portlandnursery.com/docs/container-planting/Potting-service.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download the Potting Service Fees</a></p> -->
                              </div>
                            </div>
                          </div>


<!--
						  Additions:
						  Forcing Bulbs
						  Edible Container
						  Easy care container (combo)
						  Cottage container (combo)
						  water bow containers
						  point to houseplants
						  holiday cheer baskets
-->

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>