description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Bonsai Pots
                                  <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                               <figure><img class="img-responsive" src="{{ '/assets/images/houseplants/bonsaipots.jpg'|theme }}" alt="bonsai pots"></figure>

                        <p>We have a wide selection of sizes, shapes and colors of bonsai pots to customize your bonsai to your personal style.</p>

                    <p>Bonsai pots to choose from:</p>

                    <ul>
                        <li>Black plastic posts in many sizes.</li>

                        <li>Korean mica pots are great for trees in training. They are inexpensive, unbreakable and you can drill holes in the sides for anchor points for wiring heavier branches. Plus, they come in many sizes and shapes, including shallow oval trays for group plantings.</li>

                        <li>Glazed and earthen (unglazed) pots from China and Japan in many colors and sizes.</li>
                    </ul>

                     </div> <!-- panel body -->
                                  </div>
                              </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Houseplants for Clean Air
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/cleanair.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>We all know how important it is to help clean and maintain air quality outside; but many people don’t realize that indoor air pollution is one of the fastest growing environmental problems we face today. The alarming fact is that electrical equipment, furniture, cleaning products and building materials all release trace amounts of toxins such as carbon monoxide, formaldehyde and benzene (a known carcinogen), into our homes and offices.</p>

                                        <p><a href="/houseplants/cleanair/">Continue reading...</a></p>

	                                        </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                 Edible Flowers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/edible-flowers.jpg'|theme }}" alt="Edible Flowers"></figure>
                                        <p>A colorful addition to the dinner table, edible flowers are an excellent way to introduce children to gardening. This list is by no means exhaustive. However, this list pertains only to the flowers and no other parts of the plants.</p>

<p><a target="_blank" href="http://portlandnursery.com/docs/veggies/edible-plants.pdf"><i class="fa fa-download" aria-hidden="true"></i>Edible Flowers list</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Bedding Plants for Sun &amp; Shade
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/beddingplants.jpg'|theme }}" alt="Bedding Plants"></figure>
                                        <p>In personal gardens, bedding plants can be tucked into empty spaces to create a swath of color and may also be the very thing you need to fill out a great combination.</p>

	                                         <p><a href="/annuals/bedding-plants/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                 Top Annual Picks for Sun &amp; Shade
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/top-annuals.jpg'|theme }}" alt="Top Annuals"></figure>
									      <p>We've created pages for our favorite annuals for both sun and shade. We hope you'll like these for your garden too!

<p><a href="/annuals/top-shade-annuals">See our favorite annuals for shade</a></p>

<p><a href="/annuals/top-sun-annuals">See our favorite annuals for sun</a></p>
<p><a target="_blank" href="http://portlandnursery.com/docs/container-planting/annual-shade-containers.pdf"><i class="fa fa-download" aria-hidden="true"></i>Container, basket &amp; window box combinations for shade annuals.</a></p>

                              </div>
                            </div>
                          </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                  Creating a Cut Flower garden
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/cut-flowers.jpg'|theme }}" alt="Cut Flowers"></figure>
									              <p>Part of the pleasure of  gardening is being able to look at, smell,  and enjoy the results of your labor.  When you cannot be in the garden, bring the garden to you with cut flowers!</p>

									                  <p><a href="/annuals/cut-flowers/">Continue reading...</a></p>

	                                         <p><a target="_blank" href="http://portlandnursery.com/docs/perennials-annuals/cut-flowers.pdf"><i class="fa fa-download" aria-hidden="true"></i>Growing Cut Flowers Brochure</a></p>
                              </div>
                            </div>
                          </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                  Pot up a Thriller-Spiller-Filler Container!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSeven1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/thriller.jpg'|theme }}" alt="Thriller, Spiller, Fillers"></figure>
									              <p>Build sun and shade containers with a few quick tips! Whether you like to do it yourself, need something quick or would like a custom professional design, we have you covered. Just use our plant lists and tips. In three easy steps, you'll create perfect sun or shade containers and dramatic combinations in the garden.</p>

									                  <p><a href="/container-gardens/thriller-filler-spiller/">Continue reading...</a></p>

									                  <p>Print out our helpful lists of shade and sun plants for "Thriller, Spiller, Fillers":</p>

	                                         <ul>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Shade Plants</a></li>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Sun Plants</a></li>
	                                         </ul>
    						</div>
                            </div>
                          </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>