description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Wintering Houseplants
                                  <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/overwintering.jpg'|theme }}" alt="overwintering"></figure>

                        <p>Winter is a resting period for most plants. Nights are longer and your indoor plants know it, too. They have far less need for food and water and so you should cut back on both of them accordingly.</p>

                        <p>Their main growing season is March through September. That is when houseplants want to be fertilized and will take more water. However, gift plants received in winter that are still blooming can use a light fertilizing to maintain and extend the bloom time.</p>

                        <p>There are always exceptions, of course -- if you have any questions about your particular indoor plant, give us a call or stop by the information desk!</p>
                     </div> <!-- panel body -->
                                  </div>
                              </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Houseplant Quick Look
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/cleanair.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>Sometimes it's nice just to get the overview and a quick ID of plants. See if you see your favorite on this page:</p>

                                        <p><a href="/houseplants/houseplants/">Continue reading...</a></p>

	                                        </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                 Caring for Orchids
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/orchid.jpg'|theme }}" alt="Orchid"></figure>
                                        <p>Colorful and lush, Cymbidiums make dramatically beautiful houseplants. They’re among the easiest orchids to grow indoors, reliably producing flower spikes covered with up to 30 blossoms, each 2-5 inches across and lasting 8 weeks or more. They are available in a wide range of fantastic color combinations.</p>

                                        <p><a href="/houseplants/cymbidium-orchid/">Continue reading...</a></p>

<p><a target="_blank" href="http://portlandnursery.com/docs/veggies/edible-plants.pdf"><i class="fa fa-download" aria-hidden="true"></i>Caring for Orchids</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Houseplants for Low Light
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/beddingplants.jpg'|theme }}" alt="Bedding Plants"></figure>
                                        <p>Fill this in</p>

	                                         <p><a href="/annuals/bedding-plants/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                 Houseplants for Clean Air
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/cleanair.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>We all know how important it is to help clean and maintain air quality outside; but many people don’t realize that indoor air pollution is one of the fastest growing environmental problems we face today. The alarming fact is that electrical equipment, furniture, cleaning products and building materials all release trace amounts of toxins such as carbon monoxide, formaldehyde and benzene (a known carcinogen), into our homes and offices.</p>

                                        <p><a href="/houseplants/cleanair/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>