description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Annual Houseplant &amp; Pottery Sale
                                  <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure><img class="img-responsive" src="http://portlandnursery.com/plants/images/houseplants/bromeliad/bromeliadgroup640.jpg" alt="overwintering"></figure>
                <h2>Sale Details</h2>
                    <ul>
                        <li>30% off all houseplants, citrus, indoor bonsai, orchids, cactus</li>

                        <li>30% off all plant decorative pots.</li>

                        <li>FREE POT-UPS with the purchase of a plant and any pot!</li>

                   </ul>
				<p><strong>Both Locations &bull; January 11-24, 2018 &bull; Store Hours</strong></p>

                    <h3>We have fresh shipments of houseplants for the sale!</h3>

                <p>We love our plants in our gardens and in our homes. We carry a wide range of houseplants including Bonsai, orchids, cacti and succulents. Our Division location carries the widest range of plants. Plan to spend the day wandering through our extravagant houseplant displays.</p>
                <p>It only comes once a year and the sale is good at both locations, but if you come to 9000 SE Division, you'll find the widest assortment of houseplants including orchids, bonsai, and all the supplies you need.</p>

                     </div> <!-- panel body -->
                                  </div>
                              </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                Quick ID for Houseplants
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/houseplants/cleanair.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>Sometimes it's nice just to get the overview and a quick ID of plants. See if you see your favorite on this page:</p>

                                        <p><a href="/houseplants/houseplants/">Continue reading...</a></p>

	                                        </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  January Gardening Tips!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
							<div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                                  <figure><img class="img-responsive" src="{{ '/assets/images/tips/houseplants750.jpg'|theme }}" alt="houseplants"></figure>

                                  <ul>
                                    <li><a target="_blank" href="http://extension.oregonstate.edu/gardening/gardening-calendar/december">December Gardening Tips from OSU.</a></li>
                                    <li><a target="_blank" href="http://extension.oregonstate.edu/gardening/gardening-calendar/january">January Gardening Tips from OSU.</a></li>
                                    <li><a target="_blank" href="http://extension.oregonstate.edu/gardening/gardening-calendar/februrary">February Gardening Tips from OSU.</a></li>
							</ul>
                              </div>
                            </div>
                          </div>
<!-- panel -->

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>