description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->
                        <div class="panel-group" id="accordion1">

<!-- panel -->
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Growing Fruit Trees
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure><img class="img-responsive" src="{{ '/assets/images/fruits/apricots750.jpg'|theme }}" alt="apricot trees"></figure>

                            <p>Do you want to grow your own fruits or nuts? Portland’s mild climate allows for many kinds of fruit and nut trees to be grown. Apples, Figs, Plums and Hazelnuts are just a few of the trees Portland Nursery offers every spring.</p>

                            <p><a href="/fruits/fruit-trees/">Continue reading...</a></p>
                        </div><!-- panel body -->
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">Are Bananas hardy?<i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/fruits/banana.jpg'|theme }}" alt="banana trees"></figure>

<p>The majority of banana plants are tropical and are not hardy to our climate, meaning that they cannot survive our winters outside. That being said, most bananas make fine houseplants and can be grown year-round in a pot, brought in before the threat of frost. Often times they look nice even in the middle of winter, if given reasonably good care. All red-leaved bananas, which can be stunning, fall into this category.</p>

<p>There are two types of bananas that are hardy and can survive our winters. The <em>Musa basjoo</em>, or Japanese hardy banana, is the more common of the two. It is a true banana that can reach 15 feet tall, though it doesn’t always do so here. Even if the leaves and stalk of the plant die in winter weather, the root almost always survives (it is listed as hardy up to -20 deg F when mulched).
</p>
<p>Additionally, we have  <em>Musella lasiocarpa</em>, the Chinese Flowering Banana, which grows and impressive yellow bloom once reaching about five feet tall. It is a relative of Musa (fruiting banana).
</p>
<p>All bananas enjoy moderately moist soil, plenty of sun when possible, and regular nitrogen during the growing season.
</p>
<p>See our feature <a href="/shrubs/banana/">page on bananas.</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">Amendments for Blueberries<i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseThree1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="{{ '/assets/images/fruits/blueberry750.jpg'|theme }}" alt="Blueberries"></figure>

<p>Blueberries prefer a site that can be kept moderately to evenly moist, but it is best to avoid a place where water stands. They require a pH that is much lower than the average garden plant desires, and amending is generally based on this need. Plant with some acidic planting compost, such as Azalea, Camellia and Gardenia Mix or Black Forest planting mix.</p>

<p>Peat moss is also sometimes used for this purpose. We do not recommend using aluminum sulfate as an acidifier for blueberries. To fertilize them, use a plant food labeled as appropriate for Rhododendrons, or use Holly-Tone by Espoma.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">Curly leaves on distressed plum<i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseFour1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/beddingplants.jpg'|theme }}" alt="Bedding Plants"></figure>
							<p><em>“My plum seems to be diseased; it has curly, blighted-looking new leaves. What is going on?”</em></p>

                            <p>Plum trees, both fruiting and flowering types, are sometimes susceptible to several leaf-affecting diseases, including the disease known as plum pockets (Taphrina communis), which is similar in appearance to peach-leaf curl (Taphrina deformans).</p>
                            <p>It causes distorted new growth (which is quite unsightly) and ugly, bloated fruit, and drains the energy of the plant. In agriculture, this is usually not a serious issue, but as an ornamental your plum can suffer greatly. Once the symptoms show, control is difficult, even with fungicides.</p>

                            <p>Dormant spraying during the fall and winter (before any spring growth) with copper-based fungicides can improve the plant for the following growing season. Also, clean up under the plant in the fall and winter, and avoid excessive wetting of leaves or too much shade.</p>
                       </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">Grape Leaf Spots<i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseFive1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure class="pull-left"><img src="https://portlandnursery.com/service/images/faqs/mites-front.jpg" alt="curl" width="203" height="198" /></figure>

                            <p><em>“My grape’s leaves have weird spots, crinkly, upraised blisters on the top, and white and upraised on the bottom of the leaf. What’s up?”</em></p>

<p>Grapes are hosts for several forms of mite, and this is caused by one. The damage is more reminiscent of  fungal damage, but it is not. This particular pest goes by several names; rust mite, erineum mite, and eriophyid mite.</p>
<figure class="pull-right"><figure class="pull-left"><img src="https://portlandnursery.com/service/images/faqs/mites-back.jpg" alt="curl" width="203" height="198" /></figure></figure>
<p>Each of the spots, or blisters, is a colony of these very small, worm-like mites. They generally do not cause a great loss of fruit, and is not an alarming problem in agriculture. This can be treated with dormant oils, and some publications list wettable sulfur as an in-season control.</p>

<p><em>Front and back of grape leaf with erineum mite colonies.</em></p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">Poisonous berries in our area<i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseSix1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><strong>Pokeweed</strong> - This weed spreads by seed and comes up seemingly at random in different places year to year. Many parts of the plant are highly toxic, especially the berries and roots. When this is found on your property, we recommend removal, using full body clothing and gloves as a precaution. Sometimes children are attracted by the bright color of the berries.</p>

<p><strong>English Laurel</strong> - These common screening shrubs have an almost black berry this time of the year that contains significant toxins. Though they are often too high up to be a threat to children, plants on your property could be searched for any low-lying berries that children might be attracted to. Toxic English laurel berries ripen to black.</p>

<p><strong>English Holly</strong> - Despite their use as holiday decorations, these berries are toxic.</p>

<p><strong>Yew berries</strong> - The pits of yew berries are very toxic. The bitter taste can turn off most ingestions, but it still one to teach your children to avoid.</p>

<p><strong>Nightshade</strong> - This pretty vining weed has quite pretty flowers followed by red to purple red fruits. Unfortunately, the fruits are quite poisonous. We recommend removing this plant from your property, making sure the seeds do not fall and sprout.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">Blossom Blight <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseSeven1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure class="pull-left"><img class="img-responsive" src="https://portlandnursery.com/service/images/faqs/plumleafcurl212.jpg" alt="Blossom Blight"></figure>

                            <p><em>"My plums and blueberries sprouted out, but then the new growth and blossoms died off, and some of the branches are dying back. What is going on?"</em></p>

<p>In early spring, you may see signs of blossom blight which are often some species of fungi called Monilinia. It causes withered new shoots and some twig or branch loss on blueberries as well as cherries, plums, and other Prunus species. The disease usually happens to plants that are already under stress.</p>
<p>Blossom blight occurs when the air-borne fungus is present, the temperatures are moderate, and the leaves/blossoms are moist. Basically I just described Portland in spring.</p>
<p>It can be deterred by pruning out effected branches or fruit in summer, using only moderate amounts of nitrogen fertilizer, and cleaning up thoroughly after autumn leaf fall. There are fungicides that are available to help control the problem if sprayed during and just after blossom.</p>
                               </div> <!-- panel body -->
                                  </div>
                              </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>