description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->

                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Herb Culture &amp; Varieties
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure><img class="img-responsive" src="{{ '/assets/images/herbs/culture.jpg'|theme }}" alt="herbs"></figure>
	                             <p>Be sure to read our brochure on <a href="http://portlandnursery.com/docs/veggies/Herbs_for_Tea.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Herbs for Tea</a> </p>

	                            <p><a href="http://portlandnursery.com/docs/veggies/shadeherbs-table.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Shade Herbs</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/basil.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Basil Varieties</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/germander.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Germander Culture</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/lavandula.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Lavandula Facts</a></p>

                                <p><a href="http://portlandnursery.com/docs/fruits/HopsTable.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Hop Varieties</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/Horseradish.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Horseradish Culture</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/mint-table.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Mint Table</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/mint.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Mint Culture</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/oregano.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Oregano</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/sage.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Sage Culture</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/santolina.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Santolina Culture</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/thyme-table.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thyme Table</a></p>

                                <p><a href="http://portlandnursery.com/docs/veggies/Herbs_for_Tea.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Grow Herbs for Tea</a></p>

							     </div><!-- panel body -->
                                  </div>
                              </div>


                        </div><!--/#accordion1-->
                    </div><!-- accordion -->
                </div>