description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">

                           <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Designing Your Containers!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/containergardens/thrillermain.jpg'|theme }}" alt="Thriller, Spiller, Fillers"></figure>
<p>There are so many wonderful plants to choose from. Creating a successful design for your container can be simplified by using the Thriller, Filler and Spiller rule. </p>
	<p>Thrillers are generally taller, showy plants.</p>
		<p>Fillers add fullness and body. </p>
			<p>Spillers are trailing or flowing plants that soften the edges of the pot. Choosing plants from each of these categories will help create a balanced and layered look. </p>

									                  <p><a href="/containergardens/thriller-filler-spiller/">Continue reading for more detail...</a></p>

									                  <p>Print out our helpful lists of shade and sun plants:</p>

	                                         <ul>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-shade.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Shade Plants</a></li>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-sun.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Thriller, Filler, Spiller Sun Plants</a></li>
	                                         </ul>
    						</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Refreshing Fall and Winter Containers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/borage.jpg'|theme }}" alt="reseeding"></figure>
                                        <p>When summer is behind us, our annual containers are likely starting to look pretty tired.<em> Impatiens</em> may be leggy, potato vines may be tattered from dry weather and bugs may have had their day with our petunias. The question is where do we go from here in order to freshen up our hanging baskets and pots for fall and winter.</p>

<p><a href="/containergardens/refreshing-containers/">Continue reading for more detail...</a></p>
	                                        </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                 Potting Help
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/edible-flowers.jpg'|theme }}" alt="Edible Flowers"></figure>
                                        <p>A colorful addition to the dinner table, edible flowers are an excellent way to introduce children to gardening. This list is by no means exhaustive. However, this list pertains only to the flowers and no other parts of the plants.</p>

<p><a target="_blank" href="http://portlandnursery.com/docs/veggies/edible-plants.pdf">Print out our list of Edible Flowers</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Planting Edibles in Containers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/beddingplants.jpg'|theme }}" alt="Bedding Plants"></figure>
                                        <p>In personal gardens, bedding plants can be tucked into empty spaces to create a swath of color and may also be the very thing you need to fill out a great combination.</p>

	                                         <p><a href="/annuals/bedding-plants/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                  Container Design Handouts
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/top-annuals.jpg'|theme }}" alt="Top Annuals"></figure>
									      <p>We've created pages for our favorite annuals for both sun and shade. We hope you'll like these for your garden too!

<p><a target="_blank" href="http://portlandnursery.com/docs/container-planting/containers-and-baskets.pdf"><i class="fa fa-download" aria-hidden="true"></i>Planting Baskets and Containers: Simple Suggestions for Maximum Impact</a></p>

<p><a target="_blank" href="http://portlandnursery.com/docs/container-planting/annual-shade-containers.pdf"><i class="fa fa-download" aria-hidden="true"></i>Container, basket and window box combinations for shade loving annuals.</a></p>

                              </div>
                            </div>
                          </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                 Water Bowl Containers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/cut-flowers.jpg'|theme }}" alt="Cut Flowers"></figure>
									              <p>Part of the pleasure of  gardening is being able to look at, smell,  and enjoy the results of your labor.  When you cannot be in the garden, bring the garden to you with cut flowers!</p>

									                  <p><a href="/annuals/cut-flowers/">Continue reading...</a></p>

	                                         <p><a target="_blank" href="http://portlandnursery.com/docs/perennials-annuals/cut-flowers.pdf">Print out our handout on Growing Cut Flowers</a></p>
                              </div>
                            </div>
                          </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                  Pot up a Thriller-Spiller-Filler Container!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSeven1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/annuals/thriller.jpg'|theme }}" alt="Thriller, Spiller, Fillers"></figure>
									              <p>Build sun and shade containers with a few quick tips! Whether you like to do it yourself, need something quick or would like a custom professional design, we have you covered. Just use our plant lists and tips. In three easy steps, you'll create perfect sun or shade containers and dramatic combinations in the garden.</p>

									                  <p><a href="/containers/thrillers-fillers-spillers/">Continue reading...</a></p>

									                  <p>Print out our helpful lists of shade and sun plants for "Thriller, Spiller, Fillers":</p>

	                                         <ul>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-shade.pdf" target="_blank">Thriller, Filler, Spiller Shade Plants</a></li>
    <li><a href="http://portlandnursery.com/docs/container-planting/thrillers-fillers-spillers-sun.pdf" target="_blank">Thriller, Filler, Spiller Sun Plants</a></li>                              </div>
                            </div>
                          </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>