description = "accordion menu"

[viewBag]
==
    <div class="wow fadeInDown">
        <div class="accordion">
            <div class="panel-group" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading active">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">Seed Definitions <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseOne1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/leekseeds750.jpg" alt="Seeds" title="Seeds"></figure>

						<h3>Organic Seed</h3>
						<p> The U.S.D.A. defines organic agricultural crops as: “produced and handled without the use of synthetic chemicals.”  They must “not be produced on land on which any prohibited substances, including synthetic chemicals, have been applied during the three years immediately preceding harvest of the agricultural products”.  Therefore organic seed is produced by a certified organic operation.</p>

						<h3>Heirloom Seed</h3>
						<p>Some define an heirloom variety as having been in existence before the 1950s.  This is when hybrids (crosses between heirloom varieties) were first commercially available.</p>

						<h3>Open Pollinated Seed</h3>
						<p>All heirlooms are open pollinated (O.P.) but not all O.P.s are heirlooms.  Many excellent O.P. varieties have been created since 1951 but they are not considered heirloom. Once a variety is stable (can be consistently grown from seed, reproducing the same plant characteristics) it can be called an O.P. variety.</p>

						<h3>Hybrid Seed</h3>
						<p>Seeds saved from a hybrid will not grow “true”- that is, the plants will not be the same as the parent plant. Instead, they may resemble either parent or an even earlier variety. Neither hybrids nor plants created as genetically modified organisms (GMO) are considered heirlooms.</p>

						<h3>Genetically Modified Seed***</h3>
						<p>Genetic modification adds new genetic material into an organism’s genome (genetic engineering). “Input traits” might include resistance to pests, herbicides, or harsh environmental conditions; as well as improved shelf life and increased nutritional value.</p>

						<p>***G.M.O. seeds are not available at the retail level.</p>

					</div><!-- panel body -->
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">Just say NO to GMO! <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/sun-flower750.jpg" alt="Seeds" title="Seeds"></figure>

<p>Created in 1999, the Safe Seed Pledge was originally a coalition of 10 seed companies that drafted a statement about their stance on genetic engineering. Since then over 70 companies have signed the pledge, ranging from large seed companies to small, family-owned businesses.</p>
<p>In signing the Safe Seed Pledge they commit to using and producing only non-GMO (genetically modified organism) seed. They feel that the regulatory system for the introduction of genetically modified crop varieties is flawed, and that GMO seeds themselves present a threat to plants' genetic diversity through their ability to pollinate non-GMO plants.</p>

<h3>The Safe Seed Pledge</h3>
<p>"Agriculture and seeds provide the basis upon which our lives depend.  We must protect this foundation as a safe and genetically stable source for future generations. For the benefit of all farmers, gardeners and consumers who want an alternative, we pledge that we do not knowingly buy or sell genetically engineered seeds or plants. The mechanical transfer of genetic material outside of natural reproductive methods and between genera, families or kingdoms poses great biological risks, as well as economic, political and cultural threats. We feel that genetically engineered varieties have been insufficiently tested prior to public release. More research and testing is necessary to further assess the potential risks of genetically engineered seeds. Further, we wish to support agricultural progress that leads to healthier soils, genetically diverse agricultural ecosystems and ultimately healthy people and communities."</p>

<h3>Portland Nursery has NEVER sold GMO seed.</h3>
<p>ALL of the companies we purchase our seeds from have signed the Safe Seed Pledge.  If you have further questions or concerns please stop by the Information Desk.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">Spring Cover Crop Seeds <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseThree1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/flowerstarts750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p>We carry a large selection of bulk cover crop seed for spring &amp; summer planting. Spring and summer cover crops are planted after the danger of hard frost has passed. (The average last frost date in Portland is April 15) A cover crop is a quick growing crop which is planted primarily to keep the soil covered for a short period of time, then plowed under as &ldquo;green manure&rdquo; or removed and composted. Large amounts of organic matter are added to the soil when the lush growth of green, mature crops is turned under.</p>

                        <p>Organic matter improves soil texture as humus and stabilizes moisture content. The plant nutrients in these crops are returned to the soil, thus becoming a storehouse for nutrients. Legume plants are hosts to nitrogen-fixing bacteria which extract nitrogen from the air and convert it into a form that can be used by plants. When used as a cover crop, legumes return the nitrogen to the soil.</p>

                        <p>Some cover crops, like oilseed radish and fava bean are deeply rooted. Their taproot is excellent at breaking apart clay, hard soils and providing much needed airspace. Cover crops planted in your garden will also serve as &ldquo;living mulch&rdquo; preventing erosion, nutrient loss from leaching and inhibiting weed growth. For more information on cover crops refer to our <a href="https://portlandnursery.com/docs/bulbs-seeds/covercrops.pdf" target="_blank">Cover Crops Handout</a>.</p>
                      </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">March Seed Starting <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseFour1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/plantstart750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p><strong>Indoors:</strong> Start seeds indoors for heat-loving summer vegetable crops like tomatoes, tomatillos, peppers and eggplant. In Portland direct seeding these crops into the garden is not recommended due to our cool and short maritime northwest summers.</p>

                        <p>You can also start lettuce and some Brassica family members such as: broccoli, Brussels sprouts, cabbage, cauliflower, kale, and kohlrabi.</p>

                        <p><strong>Outdoors:</strong> Some cool season edible crops can be direct seeded in the garden before the average last frost date in Portland (April 15). In March you can direct sow seeds for these crops: arugula, Asian greens, cilantro, green onions, mustard greens, parsley, peas, radish, spinach and Swiss chard.</p>

                        <p><strong>March and April</strong> are ideal months for direct seeding salad greens that prefer cool weather, such as cress, dandelion greens, endive, mesclun mix, radicchio, and sorrel. Adding a floating row cover over your garden seed bed will assist with germination at this time of year.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">April Seed Starting <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseFive1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/sprouts750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p><strong>April</strong> is an exciting month for gardening here in Portland because the average last frost date is April 15. Soil and air temperatures are beginning to warm up, which make for better germination of a variety of seeds.</p>

                        <p><strong>Indoors:</strong> In mid-to-late April, start seeds indoors for cucumbers, summer and winter squash, pumpkins, and melons. In Portland these plants will yield better crops if planted outside as seedlings rather than direct seeding into the garden.</p>

                        <p><strong>Outdoors:</strong> Some cool season edible crops can be direct seeded in the garden before the average last frost date in Portland (April 15).</p>

                        <p><strong>Before April 15,</strong> you can direct sow seeds for these crops: Asian greens, cilantro, green onions, kale, mustard greens, parsley, peas, radish, spinach, swiss chard and turnips.</p>

                        <p><strong>After April 15,</strong> you can direct seed beets, broccoli, Brussels sprouts, cabbage, carrots, cauliflower, celeriac, chives, dill, bulb fennel, kohlrabi, sunflowers, and scarlet runner beans.</p>

                        <p>This is also the time to direct seed ornamental sweet peas for wildly fragrant spring flowers in your garden. While you are at Portland Nursery, purchase netting, trellising, and/or stakes for your climbing peas.</p>

                        <p>You can find a wealth of information about growing food and individual crop care on our <a href="/veggies/">Vegetable page</a>. Available at our stores is another invaluable and economical resource for seed starting and gardening: <em>The Maritime Northwest Garden Guide</em>, published by the Seattle Tilth.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">Your Garden in June <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseSix1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/greens750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p>It is late June and I still have one open bed in my veggie garden. What should I plant? Here is an overview of the many possibilities for early summer planting.</p>

                        <p>For the vegetable garden, add more cilantro and dill (since earlier crops will bolt soon), a third round of salad greens (a few lettuce varieties that resist bolting include: Jericho, Lollo Rosso, Merlot, Oakleaf types, and Red Sails. Plus Arugula ‘Sylvetta’).</p>

                        <p>With a little over 100 days before our average first frost date, there is still time to plant some summer crops too. Basil, green beans, corn, cucumbers, and summer squash from seeds or starts. Tomatoes, peppers and eggplant that are in one gallon pots at the nursery or are less than 65 days to maturity will start yielding in September if planted by the end of June.</p>

                        <p>The last week of June is also your last chance to get starts of melons, pumpkins, sweet potatoes and winter squash in the ground.</p>

                        <p>Some favorite crops such as beets, carrots (keep them moist), parsnips, rutabaga are best direct seeded in June and July for fall harvest. One bed is not nearly enough space for all the possibilities. If you have a bed filled with garlic, onions or shallots, that space will get harvested in July and your fall starts of Brussels sprouts, broccoli, cauliflower, cabbage, kale, and chard can be planted.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">July - August Seed Starting <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseSeven1" class="panel-collapse collapse">
                        <div class="panel-body">
	                        <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/tinySeedlings750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p>As you gear up for your summer watering regime, dreaming happily of fresh tomatoes as the plants start to set fruit &ndash; fall and winter are understandably far from your thoughts &ndash; but now is the time to do some serious planning and beginning to plant seeds for fall and over-winter crops!</p>

                        <p>You&rsquo;ll find that having the delicious pleasure of fresh-picked vegetables in the colder months is well worth the effort, time and planning and July is the month to plant seeds for those winter root crops: Turnips, Parsnips, Beets, Rutabagas and Carrots. Likewise the cole crops and brassicas: Broccoli, Brussels Sprouts, Kale, Collards and Cabbages. Likewise Spinach and Swiss Chard seed can be planted this month.</p>

                        <h3>August Gardening</h3>

                        <p>Many edible plants intended for fall and winter harvest are planted by seed in July, but are also appropriate to seed into August. A wide range of greens can be seeded now, and many, like kale, broccoli and cauliflower are less prone to pests when planted late in the season than those planted in spring.</p>

                        <p>Chinese cabbage, mustards and the more bitter greens like escarole and endive are ready to seed. Chard, spinach and all sorts of lettuces can be seeded throughout the month of August &ndash; the cooler weather typically starts to arrive by the end of August, making seeds and new seedlings easier to keep moist than if it&rsquo;s July. Quick crops like radishes and turnip greens can go in now, too.</p>

                        <p>If you already planned ahead and have plants started by seed in containers waiting for available garden space (root crops can only be grown by direct seeding, not transplants), they should be moved and planted into the garden in August and September.</p>

                        <p>Like in the spring/summer, succession seeding every few weeks will help insure a longer season of harvest; in the fall and winter months providing some sort of cloche or row cover will lengthen the fresh greens season even longer.</p>

                        <p>Then there&rsquo;s the array of overwintering broccoli, carrots, radishes, cabbages, mustards, spinach and lettuces which can be seeded now! Like in the spring/summer, succession seeding every few weeks will help insure a longer season of harvest; in the fall and winter months providing some sort of cloche or row cover will lengthen the fresh greens season even longer.</p>

                    <p><strong>Some advice:</strong> Plan for your winter garden needs now and stock up on whatever type of protection you decide to use &ndash; once the temperature drops and the threat of frost looms (average first frost date is October 15) it&rsquo;s a buying frenzy to get plant protection material and we sometimes run out of stock, so best to get it while there&rsquo;s plenty available!</p>
                        </div>
                    </div>
                </div>

                 <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">
	                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1">September into October <i class="fa fa-angle-down  pull-right"></i>
                                </a>
                              </h3>
                    </div>

                    <div id="collapseEight1" class="panel-collapse collapse">
                        <div class="panel-body">
                             <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/bulbs_seeds/beans750.jpg" alt="Seeds" title="Seeds"></figure>

                        <p>September is the time to seed flowers for spring. Many hardy annuals can be planted by seed now for color next year: Alyssum, Johnny Jump Ups, Bachelor Buttons, Love in a Mist, Shirley Poppies and Sweet Peas, to name but a few.</p>

                        <p>Out in the garden, there is still time to plant cover crop seed, to protect an empty garden bed from the compacting force of fall and winter rains, as well as to help put beneficial nutrients and organic matter back into the soil, making it ready for planting next spring.</p>

                        <p>October is also the month to plant Fava Beans and snow peas for next year&rsquo;s harvest. And though technically not seeds, we will include garlic, shallots and onion sets into this category of what can be planted now.</p>

                        <p>If you are planning on having overwintering grains in your garden, then Barley, Rye, Spelt and some varieties of Wheat can be planted now, too.</p>
                        </div>
                    </div>
                </div>

            </div><!--/#accordion1-->
        </div><!-- accordion -->
    </div>
