description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->
                        <div class="panel-group" id="accordion1">

<!-- panel -->
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Get a Poinsettia, Collect the Reward!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                            <figure><img class="img-responsive" src="{{ '/assets/images/tips/poinsettia.jpg'|theme }}" alt="pruning"></figure>

                                <h3>Pick up a Poinsettia &amp; don't forget to bring us the carcass in January!</h3>

               <p>We'd like to give you a $5.00 reward for bringing us your worn-out poinsettia in January. Good towards your same day purchase.</p>

               <p>We don’t care where you bought it, the color it is or the condition it’s in. Dead or Alive you’ll get the REWARD! (One per customer please.)</p>

                                </div> <!-- panel body -->
                                  </div>
                              </div>
<!-- panel -->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                 Ready your garden for winter
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">

                              <figure><img class="img-responsive" src="https://portlandnursery.com/plants/images/winter/rosehips750.jpg" alt="Rose Hips" /></figure>

                                <p>Brrrrr! Cold winds and a chance of snow!</p>

					                <p>Here are a few things you can do to protect your garden in winter weather.</p>

					                <h2>Don't forget to water!</h2>

					                <p>Moist roots are much more durable in cold weather than dry roots!</p>

									<p>Often our coldest weather around here comes with dry air and clear skies, sometimes with high winds. Make sure the soil around your plants is moist during these times. Moist soil is a better insulator than dry soil. Even if the water in the soil freezes, it is still better off moist.</p>

                                    <p class="single"><a href="/resources/winter-prep/">Continue Reading...</a></p>

                                </div> <!-- panel body -->
                                  </div>
                              </div>
<!-- panel -->
                           <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Create a Seasonal Container with Greens!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure><img class="img-responsive" src="{{ '/assets/images/container-gardens/winter-cheer750.jpg'|theme }}" alt="Holiday Cheer"></figure>
                                         <p>As the light levels fall and summer weather gets pushed farther and farther into memory, we wonder if our gardens and porches have to look so desolate. The answer is “No!” Celebrate the season with a holiday hanging basket!</p>

                <p>At Portland Nursery, we have all the supplies you need to create your own winter basket. Celebrate the season with the smell of conifers!</p>
											<p><a href="/container-gardens/winter-cheer/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Do some winter pruning
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                             <figure><img class="img-responsive" src="{{ '/assets/images/tips/pruning750.jpg'|theme }}" alt="pruning"></figure>
                                        <h3>5 good reasons to prune</h3>
										<ul style="list-style-position:inside; margin-left:-35px">
										<li> Remove dead wood</li>
										<li> Create safe, structurally sound specimens</li>
										<li>Enhance a plant’s ornamental qualities or train to pleasing shapes</li>
										<li>Stimulate vigorous growth (hedges)</li>
										<li>Enhance flowering and fruiting</li>
										</ul>
										<p><a href="/trees/pruning-guide/">Continue reading...</a></p>
										<p><a href="https://portlandnursery.com/docs/trees/Pruning_Calendar.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download our Pruning Calendar.</a></p>
                                </div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                  OSU Winter Gardening Tips
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure><img class="img-responsive" src="{{ '/assets/images/tips/frostyleaves.jpg'|theme }}" alt="winter"></figure>
							  <ul>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/december">December Gardening Tips from Oregon State University</a></li>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/january">January Gardening Tips from Oregon State University</a></li>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/februrary">February Gardening Tips from Oregon State University</a></li>
							</ul>
							</div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                  Add a Conifer
                                  <i class="fa fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/conifers.jpg'|theme }}" alt="conifers"></figure>
                                        <p>We love conifers at Portland Nursery. Tall, soft, dwarf or prickly we eagerly anticipate their arrival every fall when they fill our nurseries with bright colors and interesting textures. </p>
	                                        <p>Deciding on the right ones can be tricky, so we've compiled a guide to help you make decisions.</p>

											<p><a href="/trees/conifers/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                 Tree Planting Tips
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSeven1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/treeplanting2.jpg'|theme }}" alt="tree planting"></figure>
                                <h3>Planting &amp; Fertilizing</h3>
                                             <p>Dig a hole about twice the size of the rootball and slightly deeper. Amend soil to be 2/3 native soil, 1/3 compost.  If there are any drainage issues correct before planting by adding pumice.</p>
                                             <p><a href="/trees/planting-tips/">Continue reading...</a></p>

                                             <p><a href="https://portlandnursery.com/docs/trees/careandfeedingyournewtree.pdf" target="_blank">Download our Tree Planting Tips.</a></p>

                              </div>
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1">
                                  Create a Bird Haven
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseEight1" class="panel-collapse collapse">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/birdhaven.jpg'|theme }}" alt="bird haven"></figure>
                                             <p>Portlanders are lucky to live in a city with so much green space. Our combination of rivers, parks and mild climate allows Portland to host a vast array of birds and wildlife.</p>
	                                             <p> Birds are attracted to areas where the three basic needs of Cover, Food and Water are met.</p>
                                <p><a href="/trees/bird-haven/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                                  </div>
                              </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>