description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->

                        <div class="panel-group" id="accordion1">

                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Hardy Tropical Shrubs
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/shrubs/tropical.jpg'|theme }}" alt="bird haven"></figure>

                                             <h3>Hardy Tropical Shrubs</h3>
                                             <p>&bull;  <a href="/shrubs/banana/">Banana</a></p>
											 <p>&bull;  <a href="/shrubs/palm/">Palm</a></p>
											 <p>&bull; <a href="/shrubs/gardenia/">Gardenia</a></p>
											 <p>Phormium</p>
								     </div><!-- panel body -->
                                  </div>
                              </div>


                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Shrubs for fragrance
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">

                             <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/shrubs/fragrance.jpg'|theme }}" alt="fragrant shrubs"></figure>

											<p>&bull;  <a href="/shrubs/buddleia/">Buddleia</a></p>
											<p>&bull;  <a href="/shrubs/clethra/">Clethra</a></p>
											<p>&bull;  <a href="/shrubs/daphne/">Daphne</a></p>
											<p>&bull;  <a href="/shrubs/edgeworthia/"> Edgeworthia</a></p>
											<p>&bull;  <a href="/shrubs/gardenia/"> Gardenia</a></p>
											<p>&bull;  <a href="/shrubs/hamamelis/"> Hamamelis </a></p>
											<p>&bull;  <a href="/shrubs/sarococca/"> Sarcococca</a></p>
											<p>&bull;  <a href="/shrubs/syringa/"> Syringa</a></p>
                              </div><!-- panel body -->
                              </div>
                            </div>


                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                 Hedges and Screens
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/shrubs/hedgeinfo.jpg'|theme }}" alt="hedges"></figure>
                                <h3>Hedges and Screens</h3>
                                             <p><em>"I recently moved into a new house, and my neighbors aren't exactly what I dreamed of…What do you have in the way of quite fast growing shrubs for privacy?”</em></p>
                                             <p>This is a common question year 'round. Privacy is important! <a href="/shrubs/hedges/">Continue reading...</a></p>
                                             <h3>You can also print out these helpful handouts on planting screens. </h3>
                                             <p>&bull;  <a href="http://portlandnursery.com/docs/shrubs-vines/hedges.pdf" target="_blank">Hedge Planting</a></p>
                               <p>&bull;  <a href="http://portlandnursery.com/docs/shade-solutions/Shade_Screen_Plants.pdf" target="_blank">Shade Screen Plants</a></p>

                              </div><!-- panel body -->
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                Native Shrubs
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/shrubs/snowberry.jpg'|theme }}" alt="columnar shrubs"></figure>
	                             <p>We have a number of features on native shrubs that will help with addition of natives to your garden. <a href="/plants/natives/">Visit our Native page for details.</a></p>
	                             <p>Shrubs such as <a href="/natives/mahonia/">Oregon Grape</a>, <a href="/natives/symphoricarpos/">Snowberry</a>, <a href="/natives/philadelphus/">Mock Orange</a>, <a href="/nativies/vaccineum/">Huckleberry</a> and <a href="/natives/rubus/">Salmon Berry</a>.</p>
                            </div><!-- panel body -->
                          </div>
                          </div>

                        </div><!--/#accordion1-->
                    </div><!-- accordion -->
                </div>