description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->
                        <div class="panel-group" id="accordion1">

<!-- panel -->
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Tree Selection
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/righttree.jpg'|theme }}" alt="right tree right place"></figure>
                                             <p>Choosing the right tree is a big deal. In the right place, trees are shade and beauty, but in the wrong place they are headaches, sore backs and empty pocketbooks.</p>
<p>Follow a few simple guidelines to help you choose trees that accent your life. </p>
                                <p><a href="/trees/tree-guide/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                                  </div>
                              </div>
<!-- panel -->
<!-- panel  end-->
                           <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Selecting a Conifer
                                  <i class="fa fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/conifers.jpg'|theme }}" alt="conifers"></figure>
                                        <p>We love conifers at Portland Nursery. Tall, soft, dwarf or prickly we eagerly anticipate their arrival every fall when they fill our nurseries with bright colors and interesting textures. </p>
	                                        <p>Deciding on the right ones can be tricky, so we've compiled a guide to help you make decisions.</p>

											<p><a href="/trees/conifers/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Miniature Conifers
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/miniature.jpg'|theme }}" alt="minature conifers"></figure>
                                        <p>Miniature conifers come in a wide array of colors and textures but grow so slowly that they can thrive for years in a pot. </p>
	                                        <p>Some are tidy little buns, others are cones so small they may as well be gnome hats and a few have quirky irregular shapes that grab your attention.</p>

											<p><a href="/trees/miniature-conifers/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Maples for Fall Color
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/color.jpg'|theme }}" alt="Acers for Fall Color"></figure>
                                        <p>Every fall, our Maples show us why we planted them! </p>
	                                        <p>True, many have already given us a glimpse of things to come with bright new leaves in spring, and those large enough have provided us shady respite during the heat of summer. </p>

											<p><a href="/trees/acer-fall-color/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                  Pruning Guide &amp; Pruning Calendar
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                              <div class="panel-body">
                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/pruninglink.jpg'|theme }}" alt="pruning"></figure>
                                        <h3>5 good reasons to prune</h3>
										<ul style="list-style-position:inside; margin-left:-35px">
										<li> Remove dead wood</li>
										<li> Create safe, structurally sound specimens</li>
										<li>Enhance a plant’s ornamental qualities or train to pleasing shapes</li>
										<li>Stimulate vigorous growth (hedges)</li>
										<li>Enhance flowering and fruiting</li>
										</ul>
										<p><a href="/trees/pruning-guide/">Continue reading...</a></p>
										<p><a href="https://portlandnursery.com/docs/trees/Pruning_Calendar.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download our Pruning Calendar.</a></p>
                              </div>
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                 Tree Planting Tips
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                              <div class="panel-body">
	                               <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/treeplanting2.jpg'|theme }}" alt="tree planting"></figure>
                                <h3>Planting &amp; Fertilizing</h3>
                                             <p>Dig a hole about twice the size of the rootball and slightly deeper. Amend soil to be 2/3 native soil, 1/3 compost.  If there are any drainage issues correct before planting by adding pumice.</p>
                                             <p><a href="/trees/planting-tips/">Continue reading...</a></p>

                                             <p><a href="https://portlandnursery.com/docs/trees/careandfeedingyournewtree.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download our Tree Planting Tips.</a></p>

                              </div>
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                  Fruit Tree Selection
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseSeven1" class="panel-collapse collapse">
                              <div class="panel-body">
	                              <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/fruit-tree.jpg'|theme }}" alt="fruit trees"></figure>
                               <p>Do you want to grow your own fruits or nuts? Portland’s mild climate allows for many kinds of fruit and nut trees to be grown. </p>
                               <p>Apples, Figs, Plums and Hazelnuts are just a few of the trees Portland Nursery offers every spring.
                                 <p><a href="/fruits/fruit-trees/">Continue reading...</a></p>
                              </div>
                            </div>
                          </div>
<!-- panel -->
<!-- panel  end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1">
                                  Create a Bird Haven
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseEight1" class="panel-collapse collapse">
                              <div class="panel-body">

                                           <figure class="pull-left"><img class="img-responsive" src="{{ '/assets/images/trees/birdhaven.jpg'|theme }}" alt="bird haven"></figure>
                                             <p>Portlanders are lucky to live in a city with so much green space. Our combination of rivers, parks and mild climate allows Portland to host a vast array of birds and wildlife.</p>
	                                             <p> Birds are attracted to areas where the three basic needs of Cover, Food and Water are met.</p>
                                <p><a href="/trees/bird-haven/">Continue reading...</a></p>
                                </div> <!-- panel body -->
                                  </div>
                              </div>

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>