description = "accordion menu"

[viewBag]
==
<div class="wow fadeInDown">
                    <div class="accordion">
<!--                         <h2>Tree Planting Tips</h2> -->
                        <div class="panel-group" id="accordion1">

<!-- panel -->
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                 Come back in July 2018 for more tips!
                                  <i class="fa  fa-angle-down pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">

                            <figure><img class="img-responsive" src="{{ '/assets/images/tips/eggplant750.jpg'|theme }}" alt="pruning"></figure>

                                  <ul>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/june">June Gardening Tips from Oregon State University</a></li>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/july">July Gardening Tips from Oregon State University</a></li>
                                    <li><a target="_blank" href="https://extension.oregonstate.edu/gardening/gardening-calendar/August">August Gardening Tips from Oregon State University</a></li>
							</ul>

                                </div> <!-- panel body -->
                                  </div>
                              </div>
<!-- panel -->

                        </div><!--/#accordion1-->
                    </div> <!-- accordion -->
                </div>